﻿<!-- Auto Page By: Prashant -->
<!-- Created On: 26/06/2018 -->
<!-- HTML for CourseCategory -->
@{
	ViewData["Title"] = "CourseCategory List:: Rolpo";
	ViewBag.Current = "Settings_Course";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" data-ng-controller='coursecategoryController'>
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Course Categories
			 
		</h1>
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li> 
			<li class="active">Categories</li>
		</ol>
	</section>
	<!-- Main content -->
	<section class="content">
		<!-- Info boxes -->
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="alert alert-rolpo alert-dismissable" style='display:none;' id="CourseCategory_alert"></div>
			</div><!-- /.col -->
		</div><!-- /.row -->
		<!-- Main row -->
		<div class="row">
			<div class="col-md-12">
				<div class="box box-info">
					<div class="box-header with-border">
						<div class="box-success clearfix">
							<a class="btn btn-sm btn-info btn-flat pull-left" href="javascript:; " data-ng-click="OpenCourseCategorySaveDialog()">Add new Category or Sub-Category</a>
						</div><!-- /.box-success -->
					</div><!-- /.box-header -->
					<div class="box-body">
						<div class="box">
							<div class="box-header with-border">
								<h3 class="box-title">Filter</h3>
							</div><!-- /.box-header -->
							<!-- form start -->
							<div class="box-body">
								<table class="table table-responsive table-striped">
									<tr>
										<td class="hidden-xs">Category Name:</td>
										<td><input type="text" class="input-sm form-control" ng-enter="GetCourseCategoryByFilter()" data-ng-model="tcfilter.CategoryName" placeholder="Category Name" /></td>
										<td class="hidden-xs">
											<button type="submit" class="btn btn-primary btn-flat" data-ng-click="GetCourseCategoryByFilter()">Filter</button>
											<button type="submit" class="btn btn-warning btn-flat" data-ng-click="ResetCourseCategoryFilter()">Clear</button>
										</td>
									<tr>
								</table>
							</div><!-- /.box-body -->
						</div><!-- /.box for filter-->
						<div class="row">
							<div class="col-sm-12 table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th style="min-width:60px;"></th>
											<th>Category Name</th>
											<th>Remarks</th> 
											<th>Actions</th>
										</tr>
									</thead>
									<tbody ng-show="coursecategorys.length > 0">
										<tr ng-repeat-start="coursecategory in coursecategorys">
											<td>
												<a href="javascript:;" data-ng-click="coursecategory.ShowThisRow = !coursecategory.ShowThisRow " class="btn btn-default-focus btn-xs" ng-show="coursecategory.ChildChildCategories.length>0"
												   title="{{coursecategory.ShowThisRow? 'Close': 'Open'}}">&nbsp;<i class="fa {{coursecategory.ShowThisRow? 'fa-arrow-circle-o-down': 'fa-arrow-circle-o-right'}}"></i></a>
											</td>
											<td>{{coursecategory.CategoryName}}</td>
											<td>{{coursecategory.Remarks}}</td>
											<td>
												<a href="javascript:;" data-ng-click="OpenCourseCategoryUpdateDialog(coursecategory.CourseCategoryId);" class="btn btn-info btn-sm btn-flat" title="Edit"><i class="fa fa-edit"></i></a>
												<a href="javascript:;" data-ng-click="DeleteCourseCategory(coursecategory.CourseCategoryId);" class="btn btn-danger btn-sm btn-flat" title="Delete"><i class="fa fa-trash"></i></a>
											</td>
										</tr>
										<tr ng-repeat-end ng-show="coursecategory.ShowThisRow" style="font-size: 90%">
											<td colspan="4">
												<div class="table-responsive">
													<table class="table table-condensed bg-gray-light">
														<thead>
															<tr>
																<th style="min-width:100px;">&nbsp;</th>
																<th>Sub-Category</th>
																<th>Remarks</th>
																<th>Actions</th>
															</tr>
														</thead>
														<tr ng-repeat="childObj in coursecategory.ChildChildCategories">
															<th>&nbsp;</th>
															<td>{{childObj.CategoryName}}</td>
															<td>{{childObj.Remarks}}</td>
															<td>
																<a href="javascript:;" data-ng-click="OpenCourseCategoryUpdateDialog(childObj.CourseCategoryId);" class="btn btn-info btn-xs btn-flat" title="Edit"><i class="fa fa-edit"></i></a>
																<a href="javascript:;" data-ng-click="DeleteCourseCategory(childObj.CourseCategoryId);" class="btn btn-danger btn-xs btn-flat" title="Delete"><i class="fa fa-trash"></i></a>
															</td>
														</tr>
													</table>
												</div>
											</td>
										</tr>
									</tbody>
									<tr data-ng-hide="coursecategorys.length > 0">
										<td colspan="4" class="text-center">
											<p>No records found.</p>
										</td>
									</tr>
									 
								</table>
							</div>
						</div><!-- /.row -->

						<div class="row">
							<div class="col-sm-2 hidden-xs" data-ng-show="CourseCategoryPageInfo.Has_record">
								<ul class="pagination no-margin pull-left">
									<li>
										<select data-ng-model="tcfilter.PageSize" data-ng-change="OnCourseCategoryPageSizeChanged()">
											<option value="10">10</option>
											<option value="20">20</option>
											<option value="30">30</option>
										</select>
									</li>
								</ul>
							</div>
							<div class="col-sm-4 hidden-xs" data-ng-show="CourseCategoryPageInfo.Has_record">
								<div>Showing <b>{{CourseCategoryPageInfo.PageStart}}</b> to <b>{{CourseCategoryPageInfo.PageEnd}}</b> of <b>{{CourseCategoryPageInfo.TotalItems}}</b> entries</div>
							</div>
							<div class="col-sm-6" data-ng-show="CourseCategoryPageInfo.Has_record">
								<uib-pagination total-items="CourseCategoryPageInfo.TotalItems" class="pagination  no-margin pull-right" ng-model="tcfilter.PageNumber" ng-change="OnCourseCategoryPageChanged()" items-per-page="tcfilter.PageSize"></uib-pagination>
							</div>
						</div><!-- /.row -->

					</div><!-- /.box-body -->
					<div class="overlay" ng-show="loading">
						<i class="fa fa-refresh fa-spin"></i>
					</div>
				</div><!-- /.box-info /.box -->
			</div>
		</div><!-- /.row  Main row ends here..-->
	</section><!-- /.content -->
</div><!-- /.content-wrapper -->


<script type="text/ng-template" id="customUpdateCourseCategory">
	@*@{Html.RenderPartial("~/views/shared/_coursecategory.cshtml");}*@
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-ng-click="cancelEditing()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ coursecategoryActionTitle }}</h4>
			</div>
			<form role="form" name="formcoursecategory" class="form-horizontal" novalidate>
				<div class="modal-body">
					<div class="box-body">
						<div class="alert alert-rolpo alert-dismissable" style='display:none;' id="CourseCategory_AddEditAlert"></div>
						<div class="form-group" ng-class="{ 'has-error' : (formcoursecategory.tcCategoryName.$invalid && !formcoursecategory.tcCategoryName.$pristine) || invalid }">
							<label class="control-label col-sm-3">Category Name:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="Category Name" data-ng-model="coursecategory.CategoryName" name="tcCategoryName" required="" />
								<div ng-show="formcoursecategory.$submitted || formcoursecategory.tcCategoryName.$touched">
									<p class="help-block" ng-show="formcoursecategory.tcCategoryName.$error.required">Category Name is required.</p>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">Remarks:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="Remarks" data-ng-model="coursecategory.Remarks" name="tcRemarks"  />
								 
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">Parent Category:</label>
							<div class="col-sm-9">
								<select ng-model="coursecategory.ParentCategoryId" class="form-control" name="tcParentCategoryId" 
										ng-options="(item.Value*1) as item.Name for item in categoriesddl"><option value="">--Select --</option></select>

								 
							</div>
						</div> 
						<input type="hidden" data-ng-model="coursecategory.CourseCategoryId" />

					</div><!-- End of box-body -->
				</div><!-- End of modal-body -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left btn-flat" ng-click="cancelEditing()">Cancel</button>
					<button type="submit" class="btn btn-primary btn-flat" ng-disabled="formcoursecategory.$invalid" ng-click="CreateUpdateCourseCategory(coursecategory.CourseCategoryId);">Save</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</script>
@section Scripts {
	<script src="~/lib/angular-ui-select/dist/select.min.js"></script> 
	<script src="~/lib/angController/Lookup/courseCategoryController.js"></script>
}
