﻿<!-- Auto Page By: Prashant -->
<!-- Created On: 13/10/2017 -->
<!-- HTML for EmailFormat -->
@{
	ViewData["Title"] = "Email Format List:: Rolpo";
	ViewBag.Current = "Settings_EmailFormat";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" data-ng-controller='emailformatController'>
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
		 <i class="fa fa-envelope"></i>	Email Formats
			 
		</h1>
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
			<li class="active">Email Formats</li>
		</ol>
	</section>
	<!-- Main content -->
	<section class="content">
		<!-- Info boxes -->
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="alert alert-rolpo alert-dismissable flat" style='display:none;' id="EmailFormat_alert"></div>
			</div><!-- /.col -->
		</div><!-- /.row -->
		<!-- Main row -->
		<div class="row">
			<div class="col-md-12">
				<div class="box box-info">
					<div class="box-header with-border">
						<div class="box-success clearfix">
							<a class="btn btn-sm btn-info btn-flat pull-left" href="javascript:; " data-ng-click="OpenEmailFormatSaveDialog()">Add new Format</a>
						</div><!-- /.box-success -->
					</div><!-- /.box-header -->
					<div class="box-body">
						<div class="box">
							<div class="box-header with-border">
								<h3 class="box-title">Filter</h3>
							</div><!-- /.box-header -->
							<!-- form start -->
							<div class="box-body">
								<table class="table table-responsive table-striped">
									<tr>
                                        <td>
                                            <input type="text" ng-model="tefilter.SearchText" class="form-control" ng-enter="GetEmailFormatByFilter()" placeholder="Search by From, From Email or Subject" />
                                        </td>
										<td class="hidden-xs">
                                            <button type="submit" class="btn btn-warning pull-right flat" data-ng-click="ResetEmailFormatFilter()">Clear</button>
											<button type="submit" class="btn btn-primary pull-right flat" data-ng-click="GetEmailFormatByFilter()" style="margin-right:5px;">Filter</button>
											
										</td>
									<tr>
								</table>
							</div><!-- /.box-body -->
						</div><!-- /.box for filter-->
						<div class="row">
							<div class="col-sm-12 table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>From</th>
											<th>From Email</th>											
											<th>Subject</th>											
											<th>Actions</th>
										</tr>
									</thead>
									<tbody ng-show="emailformats.length > 0">
										<tr ng-repeat="emailformat in emailformats">
											<td>{{emailformat.From}}</td>
											<td>{{emailformat.FromName}}</td>											
											<td>{{emailformat.Subject}}</td>											
											<td>
                                                
                                                <a href="javascript:;" title="Update this Format" data-ng-click="OpenEmailFormatUpdateDialog(emailformat.EmailFormatId);" class="btn btn-info btn-xs flat"><i class="fa fa-edit"></i></a>
                                                <a href="javascript:;" title="View this Format" data-ng-click="OpenEmailFormatDetailDialog(emailformat.EmailFormatId);" class="btn btn-success btn-xs flat"><i class="fa fa-bars"></i></a>
												<a href="javascript:;" title="Delete this format" data-ng-click="DeleteEmailFormat(emailformat.EmailFormatId);" class="btn btn-danger btn-xs flat"><i class="fa fa-trash"></i></a>
                                                
											</td>
										</tr>
									</tbody>
									<tr data-ng-hide="emailformats.length > 0">
										<td colspan="6" class="text-center">
											<p>No records found.</p>
										</td>
									</tr>
									<tfoot>
                                        <tr>
                                            <th>From</th>
                                            <th>From Email</th>
                                            <th>Subject</th>
                                            <th>Actions</th>
                                        </tr>
									</tfoot>
								</table>
							</div>
						</div><!-- /.row -->

						<div class="row">
							<div class="col-sm-2 hidden-xs" data-ng-show="EmailFormatPageInfo.Has_record">
								<ul class="pagination no-margin pull-left">
									<li>
										<select data-ng-model="tefilter.PageSize" data-ng-change="OnEmailFormatPageSizeChanged()">
											<option value="10">10</option>
											<option value="20">20</option>
											<option value="30">30</option>
										</select>
									</li>
								</ul>
							</div>
							<div class="col-sm-4 hidden-xs" data-ng-show="EmailFormatPageInfo.Has_record">
								<div>Showing <b>{{EmailFormatPageInfo.PageStart}}</b> to <b>{{EmailFormatPageInfo.PageEnd}}</b> of <b>{{EmailFormatPageInfo.TotalItems}}</b> entries</div>
							</div>
							<div class="col-sm-6" data-ng-show="EmailFormatPageInfo.Has_record">
								<uib-pagination total-items="EmailFormatPageInfo.TotalItems" class="pagination  no-margin pull-right" ng-model="tefilter.PageNumber" ng-change="OnEmailFormatPageChanged()" items-per-page="tefilter.PageSize"></uib-pagination>
							</div>
						</div><!-- /.row -->

					</div><!-- /.box-body -->
					<div class="overlay" ng-show="loading">
						<i class="fa fa-refresh fa-spin"></i>
					</div>
				</div><!-- /.box-info /.box -->
			</div>
		</div><!-- /.row  Main row ends here..-->
	</section><!-- /.content -->
</div><!-- /.content-wrapper -->


<script type="text/ng-template" id="customUpdateEmailFormat">
	@*@{Html.RenderPartial("~/views/shared/_emailformat.cshtml");}*@
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-ng-click="cancelEditing()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ emailformatActionTitle }}</h4>
                <p class="small" style="font-style:italic"><i class="glyphicon glyphicon-info-sign"></i>  Fields with <span style="color:red;font-size:150%;">*</span> are compulsory. </p>
			</div>
			<form role="form" name="formemailformat" novalidate>
                <fieldset ng-disabled="emailformat_loading">
				<div class="modal-body">
					<div class="box-body">
						<div class="alert alert-rolpo alert-dismissable flat" style='display:none;' id="EmailFormat_AddEditAlert"></div>
						<div class="form-group" ng-class="{ 'has-error' : (formemailformat.teFrom.$invalid && !formemailformat.teFrom.$pristine) || invalid }">
							<label class="control-label">From: </label><span style="color:red;font-size:90%;">*</span>
							<input type="text" class="form-control" placeholder="Enter Sender's Email'" data-ng-model="emailformat.From" name="teFrom" required="" />
							<div ng-show="formemailformat.$submitted || formemailformat.teFrom.$touched">
								<p class="text-danger" ng-show="formemailformat.teFrom.$error.required">Sender's email is required.</p>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : (formemailformat.teFromName.$invalid && !formemailformat.teFromName.$pristine) || invalid }">
							<label class="control-label">From Email:</label><span style="color:red;font-size:90%;">*</span>
							<input type="email" class="form-control" placeholder="Enter sender's email'" data-ng-model="emailformat.FromName" name="teFromName" required="" />
							<div ng-show="formemailformat.$submitted || formemailformat.teFromName.$touched">
								<p class="text-danger" ng-show="formemailformat.teFromName.$error.required">Sender's email is required.</p>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : (formemailformat.teBcc.$invalid && !formemailformat.teBcc.$pristine) || invalid }">
							<label class="control-label">Bcc:</label>
							<input type="text" class="form-control" placeholder="Bcc" data-ng-model="emailformat.Bcc" name="teBcc"  />
							<div ng-show="formemailformat.$submitted || formemailformat.teBcc.$touched">
								<p class="text-danger" ng-show="formemailformat.teBcc.$error.required">Bcc is required.</p>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : (formemailformat.teSubject.$invalid && !formemailformat.teSubject.$pristine) || invalid }">
							<label class="control-label">Subject: </label><span style="color:red;font-size:90%;">*</span>
							<input type="text" class="form-control" placeholder="Enter Subject" data-ng-model="emailformat.Subject" name="teSubject" required="" />
							<div ng-show="formemailformat.$submitted || formemailformat.teSubject.$touched">
								<p class="text-danger" ng-show="formemailformat.teSubject.$error.required">Subject is required.</p>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : (formemailformat.teBody.$invalid && !formemailformat.teBody.$pristine) || invalid }">
							<label class="control-label">Body: </label><span style="color:red;font-size:90%;">*</span>
                            <textarea ckeditor placeholder="Email format body" required="" data-ng-model="emailformat.Body" name="teBody"></textarea>                                        							
							<div ng-show="formemailformat.$submitted || formemailformat.teBody.$touched">
								<p class="text-danger" ng-show="formemailformat.teBody.$error.required">Body is required.</p>
							</div>
						</div>
						<input type="hidden" data-ng-model="emailformat.EmailFormatId" />
					</div><!-- End of box-body -->
				</div><!-- End of modal-body -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left flat" ng-disabled="emailformat_loading" ng-click="cancelEditing()">Cancel</button>
                    <img src="@Url.Content("~/images/load.gif")" ng-show="emailformat_loading" />
					<button type="submit" class="btn btn-primary flat" ng-disabled="formemailformat.$invalid||emailformat_loading" ng-click="CreateUpdateEmailFormat(emailformat.EmailFormatId);">Save</button>
				</div>
                    </fieldset>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</script>

<script type="text/ng-template" id="customEmailFormatDetail">
    @*@{Html.RenderPartial("~/views/shared/_emailformat.cshtml");}*@
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-ng-click="cancelEditing()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ emailformatActionTitle }}</h4>                
            </div>
            <form role="form" name="formemailformat" novalidate>
                <div class="modal-body">
                    <div class="box-body">
                        
                        <div class="form-group">
                            <label class="control-label">From: </label>
                            <span>{{emailformat.From}}</span>                           
                        </div>
                        <div class="form-group">
                            <label class="control-label">From Email: </label>
                            <span>{{emailformat.FromName}}</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Bcc: </label>
                            <span>{{emailformat.Bcc}}</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Subject: </label>
                            <span>{{emailformat.Subject}}</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Body: </label>
                            <span ng-bind-html="emailformat.Body"></span>
                        </div>
                   
                    </div><!-- End of box-body -->
                </div><!-- End of modal-body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left flat" ng-click="cancelEditing()">Close</button>                    
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</script>
@section Scripts {
	<script src="~/lib/angular-ui-select/dist/select.min.js"></script>
	<script src="~/lib/angController/Lookup/emailformatController.js"></script>

<script src="//cdn.ckeditor.com/4.5.7/full/ckeditor.js"></script>
<script src="//cdn.ckeditor.com/4.5.7/full/adapters/jquery.js"></script>
}
