﻿<!-- Auto Page By: Prashant -->
<!-- Created On: 12/11/2016 -->
<!-- HTML for LogEntries -->
@{
	ViewData["Title"] = "Log Entries List:: Rolpo";
	ViewBag.Current = "Settings_LogEntries";
}

@if (UserRights.ISEOManager())
{

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" data-ng-controller='NLogController'>
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			<i class="fa fa-warning"></i> Log Entries
			 
		</h1>
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
			<li class="active">Log Entries</li>
		</ol>
	</section>
	<!-- Main content -->
	<section class="content">
		<!-- Info boxes -->
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="alert alert-rolpo alert-dismissable flat" style='display:none;' id="LogEntries_alert"></div>
			</div><!-- /.col -->
		</div><!-- /.row -->
		<!-- Main row -->
		<div class="row">
			<div class="col-md-12">
				<div class="box box-info">
					 
					<div class="box-body">
						<div class="box">
							<div class="box-header with-border">
								<h3 class="box-title">Filter</h3>
							</div><!-- /.box-header -->
							<!-- form start -->
							<div class="box-body">
								<table class="table table-responsive table-striped">

									<tr>

										<td style="min-width: 100px;">Date From:</td>
										<td>
											<p class="input-group">
												<input type="date" ng-model="logfilter.DateFrom" is-open="popup2.opened" class="form-control"
													   uib-datepicker-popup="{{format}}" date close-text="Close" />
												<span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
												</span>
											</p>

										</td>
										<td>To:</td>
										<td>
											<p class="input-group">
												<input type="date" ng-model="logfilter.DateTo" is-open="popup1.opened" class="form-control"
													   uib-datepicker-popup="{{format}}" date close-text="Close" />
												<span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
												</span>
											</p>
										</td>

										<td style="vertical-align: central;" colspan="2">
											<button type="submit" class="btn btn-primary btn-flat" ng-click="GetNLogByFilter()">Filter</button>
											<button type="submit" class="btn btn-warning btn-flat" ng-click="ResetNLogFilter()">Clear</button>
										</td>
									</tr>

								</table>
							</div><!-- /.box-body -->
						</div><!-- /.box for filter-->
						<div class="row">
							<div class="col-sm-12">
								<table class="table table-bordered table-condensed">
									<thead>
										<tr>
											<th>
												Created Date
											</th>
											<th>
												Level
											</th>
											<th>
												Logger
											</th>
											 
										</tr>
									</thead>
									<tbody ng-show="errorLogs.length > 0">
										<tr ng-repeat-start="error in errorLogs">
											<td>
												<b>{{error.CreatedDate}}</b>
											</td>
											<td> 
												<label class="label label-warning" ng-show="error.Level=='Error'"><i class="fa fa-warning"></i> {{error.Level}}</label>
												<label class="label label-warning" ng-show="error.Level!='Error'">Other: {{error.Level}}</label>
											</td>
											<td>
												{{error.Logger}}
											 
											</td>
											
											 
										</tr>
										<tr>
											<td colspan="3"><p><i>{{error.Message}}</i></p></td>
										</tr>
										<tr style="border-bottom:5px solid #ffd800" ng-repeat-end>
											<td colspan="3"></td>
										</tr>
									</tbody>
									<tr data-ng-hide="errorLogs.length > 0">
										<td colspan="3" class="text-center">
											<p>No records found.</p>
										</td>
									</tr>
								 
								</table>
							</div>
						</div><!-- /.row -->

						<div class="row">
							<div class="col-sm-2" data-ng-show="NLogPageInfo.Has_record">
								<ul class="pagination no-margin pull-left">
									<li>
										<select data-ng-model="logfilter.PageSize" data-ng-change="OnNLogPageSizeChanged()">
											<option value="10">10</option>
											<option value="20">20</option>
											<option value="30">30</option>
										</select>
									</li>
								</ul>
							</div>
							<div class="col-sm-4">
								<div>Showing <b>{{NLogPageInfo.PageStart}}</b> to <b>{{NLogPageInfo.PageEnd}}</b> of <b>{{NLogPageInfo.TotalItems}}</b> entries</div>
							</div>
							<div class="col-sm-6" data-ng-show="NLogPageInfo.Has_record">
                                <ul uib-pagination total-items="NLogPageInfo.TotalItems" ng-model="logfilter.PageNumber" ng-change="OnNLogPageChanged()" items-per-page="logfilter.PageSize" max-size="NLogPageInfo.MaxSize" class="pagination-sm pull-right" boundary-link-numbers="true" rotate="false"></ul>
								
							</div>
						</div><!-- /.row --> 

					</div><!-- /.box-body -->
					<div class="overlay" ng-show="loading">
						<i class="fa fa-refresh fa-spin"></i>
					</div>
				</div><!-- /.box-info /.box -->
			</div>
		</div><!-- /.row  Main row ends here..-->
	</section><!-- /.content -->
</div><!-- /.content-wrapper -->

 
}
else
{
<section class="content">
	<div class="panel box box-default">
		<div class="box-body">
			<div class="callout callout-warning">
				<p>
					It looks like you are lost!<br />
					Click <a href="/">here</a> to go back to Dashboard.
				</p>
			</div>
		</div>
	</div>
</section>
			}

@section Scripts {
	<script src="~/lib/angular-ui-select/dist/select.min.js"></script> 
<script src="~/lib/angController/Lookup/nlogController.js"></script>
}
