﻿<!-- Auto Page By: Prashant -->
<!-- Created On: 21/06/2018 -->
<!-- HTML for Media -->
@{
	ViewData["Title"] = "Media List:: Rolpo";
	ViewBag.Current = "Settings_MediaTypes";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" data-ng-controller='mediaController'>
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			List of Media
			 
		</h1>
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
			<li class="active">List of Media</li>
		</ol>
	</section>
	<!-- Main content -->
	<section class="content">
		<!-- Info boxes -->
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="alert alert-rolpo alert-dismissable" style='display:none;' id="Media_alert"></div>
			</div><!-- /.col -->
		</div><!-- /.row -->
		<!-- Main row -->
		<div class="row">
			<div class="col-md-12">
				<div class="box box-info">
					<div class="box-header with-border">
						<div class="box-success clearfix">
							<a class="btn btn-sm btn-info btn-flat pull-left" href="javascript:; " data-ng-click="OpenMediaSaveDialog()">Add new Media</a>
						</div><!-- /.box-success -->
					</div><!-- /.box-header -->
					<div class="box-body">
						<div class="box">
							<div class="box-header with-border">
								<h3 class="box-title">Filter</h3>
							</div><!-- /.box-header -->
							<!-- form start -->
							<div class="box-body">
								<table class="table table-responsive table-striped">
									<tr>
										<td class="hidden-xs">Name:</td>
										<td><input type="text" class="form-control" data-ng-model="tmfilter.MediaName" placeholder="Media Name" ng-enter="GetMediaByFilter()" /></td>
										<td class="hidden-xs">
											<button type="submit" class="btn btn-primary btn-flat" data-ng-click="GetMediaByFilter()">Filter</button>
											<button type="submit" class="btn btn-warning btn-flat" data-ng-click="ResetMediaFilter()">Clear</button>
										</td>
									<tr>
								</table>
							</div><!-- /.box-body -->
						</div><!-- /.box for filter-->
						<div class="row">
							<div class="col-sm-12 table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>

											<th>Name</th>
											<th>Remarks</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody ng-show="medias.length > 0">
										<tr ng-repeat="media in medias">
											<td>{{media.MediaName}}</td>
											<td>{{media.Remarks}}</td>
											<td>
												<a href="javascript:;" data-ng-click="OpenMediaUpdateDialog(media.MediaId);" class="btn btn-info btn-sm btn-flat" title="Edit"><i class="fa fa-edit"></i></a>
												<a href="javascript:;" data-ng-click="DeleteMedia(media.MediaId);" class="btn btn-danger btn-sm btn-flat" title="Delete"><i class="fa fa-trash"></i></a>
											</td>
										</tr>
									</tbody>
									<tr data-ng-hide="medias.length > 0">
										<td colspan="3" class="text-center">
											<p>No records found.</p>
										</td>
									</tr>

								</table>
							</div>
						</div><!-- /.row -->

						<div class="row">
							<div class="col-sm-2 hidden-xs" data-ng-show="MediaPageInfo.Has_record">
								<ul class="pagination no-margin pull-left">
									<li>
										<select data-ng-model="tmfilter.PageSize" data-ng-change="OnMediaPageSizeChanged()">
											<option value="10">10</option>
											<option value="20">20</option>
											<option value="30">30</option>
										</select>
									</li>
								</ul>
							</div>
							<div class="col-sm-4 hidden-xs" data-ng-show="MediaPageInfo.Has_record">
								<div>Showing <b>{{MediaPageInfo.PageStart}}</b> to <b>{{MediaPageInfo.PageEnd}}</b> of <b>{{MediaPageInfo.TotalItems}}</b> entries</div>
							</div>
							<div class="col-sm-6" data-ng-show="MediaPageInfo.Has_record">
								<uib-pagination total-items="MediaPageInfo.TotalItems" class="pagination  no-margin pull-right" ng-model="tmfilter.PageNumber" ng-change="OnMediaPageChanged()" items-per-page="tmfilter.PageSize"></uib-pagination>
							</div>
						</div><!-- /.row -->

					</div><!-- /.box-body -->
					<div class="overlay" ng-show="loading">
						<i class="fa fa-refresh fa-spin"></i>
					</div>
				</div><!-- /.box-info /.box -->
			</div>
		</div><!-- /.row  Main row ends here..-->
	</section><!-- /.content -->
</div><!-- /.content-wrapper -->


<script type="text/ng-template" id="customUpdateMedia">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-ng-click="cancelEditing()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ mediaActionTitle }}</h4>
			</div>
			<form role="form" name="formmedia" class="form-horizontal" novalidate>
				<div class="modal-body">
					<div class="box-body">
						<div class="alert alert-rolpo alert-dismissable" style='display:none;' id="Media_AddEditAlert"></div>

						<div class="form-group" ng-class="{ 'has-error' : (formmedia.tmMediaName.$invalid && !formmedia.tmMediaName.$pristine) || invalid }">
							<label class="control-label col-sm-3">Media Name:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="Media Name" data-ng-model="media.MediaName" name="tmMediaName" required="" />
								<div ng-show="formmedia.$submitted || formmedia.tmMediaName.$touched">
									<p class="help-block" ng-show="formmedia.tmMediaName.$error.required">Media Name is required.</p>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">Remarks:</label>
							<div class="col-sm-9">
								<textarea class="form-control" placeholder="Remarks" data-ng-model="media.Remarks" name="tmRemarks" ></textarea>
							</div>
						</div>
					</div><!-- End of box-body -->
				</div><!-- End of modal-body -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left btn-flat" ng-click="cancelEditing()">Cancel</button>
					<button type="submit" class="btn btn-primary btn-flat" ng-disabled="formmedia.$invalid" ng-click="CreateUpdateMedia(media.MediaId);">Save</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</script>
@section Scripts {
	<script src="~/lib/angular-ui-select/dist/select.min.js"></script>
	<script src="~/lib/angController/Lookup/mediaController.js"></script>
}
