﻿<!-- Auto Page By: Prashant -->
<!-- Created On: 24/06/2018 -->
<!-- HTML for Status -->
@{
	ViewData["Title"] = "Status List:: Rolpo";
	ViewBag.Current = "Settings_Status";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" data-ng-controller='statusController'>
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			List of Status
			 
		</h1>
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
 			<li class="active">Status</li>
		</ol>
	</section>
	<!-- Main content -->
	<section class="content">
		<!-- Info boxes -->
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="alert alert-rolpo alert-dismissable" style='display:none;' id="Status_alert"></div>
			</div><!-- /.col -->
		</div><!-- /.row -->
		<!-- Main row -->
		<div class="row">
			<div class="col-md-12">
				<div class="box box-info">
					<div class="box-header with-border">
						<div class="box-success clearfix">
							<a class="btn btn-sm btn-info btn-flat pull-left" href="javascript:; " data-ng-click="OpenStatusSaveDialog()">Add new Status</a>
						</div><!-- /.box-success -->
					</div><!-- /.box-header -->
					<div class="box-body">
						<div class="box">
							<div class="box-header with-border">
								<h3 class="box-title">Filter</h3>
							</div><!-- /.box-header -->
							<!-- form start -->
							<div class="box-body">
								<table class="table table-responsive table-striped">
									<tr>
										<td>Group:</td>
										<td><input type="text" class="input-sm form-control" data-ng-model="tsfilter.StatusGroup" ng-enter="GetStatusByFilter()" placeholder="StatusGroup" /></td>
										<td>Name:</td>
										<td><input type="text" class="input-sm form-control" data-ng-model="tsfilter.StatusName" ng-enter="GetStatusByFilter()" placeholder="StatusName" /></td>
										<th>
											<button type="submit" class="btn btn-primary btn-flat" data-ng-click="GetStatusByFilter()">Filter</button>
											<button type="submit" class="btn btn-warning btn-flat" data-ng-click="ResetStatusFilter()">Clear</button>
										</th>
									<tr>
								</table>
							</div><!-- /.box-body -->
						</div><!-- /.box for filter-->
						<div class="row">
							<div class="col-sm-12 table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Group</th>
											<th>Name</th>
											<th>Code</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody ng-show="statuss.length > 0">
										<tr ng-repeat="status in statuss">
											<td>{{status.StatusGroup}}</td>
											<td>{{status.StatusName}}</td>
											<td>{{status.StatusCode}}</td>
											<td>
												<a href="javascript:;" data-ng-click="OpenStatusUpdateDialog(status.StatusId);" class="btn btn-info btn-sm btn-flat" title="Edit"><i class="fa fa-edit"></i></a>
												<a href="javascript:;" data-ng-click="DeleteStatus(status.StatusId);" class="btn btn-danger btn-sm btn-flat" title="Delete"><i class="fa fa-trash"></i></a>
											</td>
										</tr>
									</tbody>
									<tr data-ng-hide="statuss.length > 0">
										<td colspan="6" class="text-center">
											<p>No records found.</p>
										</td>
									</tr>
								 
								</table>
							</div>
						</div><!-- /.row -->

						<div class="row">
							<div class="col-sm-2 hidden-xs" data-ng-show="StatusPageInfo.Has_record">
								<ul class="pagination no-margin pull-left">
									<li>
										<select data-ng-model="tsfilter.PageSize" data-ng-change="OnStatusPageSizeChanged()">
											<option value="10">10</option>
											<option value="20">20</option>
											<option value="30">30</option>
										</select>
									</li>
								</ul>
							</div>
							<div class="col-sm-4 hidden-xs" data-ng-show="StatusPageInfo.Has_record">
								<div>Showing <b>{{StatusPageInfo.PageStart}}</b> to <b>{{StatusPageInfo.PageEnd}}</b> of <b>{{StatusPageInfo.TotalItems}}</b> entries</div>
							</div>
							<div class="col-sm-6" data-ng-show="StatusPageInfo.Has_record">
								<uib-pagination total-items="StatusPageInfo.TotalItems" class="pagination  no-margin pull-right" ng-model="tsfilter.PageNumber" ng-change="OnStatusPageChanged()" items-per-page="tsfilter.PageSize"></uib-pagination>
							</div>
						</div><!-- /.row -->

					</div><!-- /.box-body -->
					<div class="overlay" ng-show="loading">
						<i class="fa fa-refresh fa-spin"></i>
					</div>
				</div><!-- /.box-info /.box -->
			</div>
		</div><!-- /.row  Main row ends here..-->
	</section><!-- /.content -->
</div><!-- /.content-wrapper -->


<script type="text/ng-template" id="customUpdateStatus"> 
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-ng-click="cancelEditing()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ statusActionTitle }}</h4>
			</div>
			<form role="form" name="formstatus" class="form-horizontal" novalidate>
				<div class="modal-body">
					<div class="box-body">
						<div class="alert alert-rolpo alert-dismissable" style='display:none;' id="Status_AddEditAlert"></div>
						<div class="form-group" ng-class="{ 'has-error' : (formstatus.tsStatusGroup.$invalid && !formstatus.tsStatusGroup.$pristine) || invalid }">
							<label class="control-label col-sm-3">Status Group:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="StatusGroup" data-ng-model="status.StatusGroup" name="tsStatusGroup" required="" />
								<div ng-show="formstatus.$submitted || formstatus.tsStatusGroup.$touched">
									<p class="help-block" ng-show="formstatus.tsStatusGroup.$error.required">Status Group is required.</p>
								</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : (formstatus.tsStatusName.$invalid && !formstatus.tsStatusName.$pristine) || invalid }">
							<label class="control-label col-sm-3">Status Name:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="StatusName" data-ng-model="status.StatusName" name="tsStatusName" required="" />
								<div ng-show="formstatus.$submitted || formstatus.tsStatusName.$touched">
									<p class="help-block" ng-show="formstatus.tsStatusName.$error.required">Status Name is required.</p>
								</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : (formstatus.tsStatusCode.$invalid && !formstatus.tsStatusCode.$pristine) || invalid }">
							<label class="control-label col-sm-3">Status Code:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="StatusCode" data-ng-model="status.StatusCode" name="tsStatusCode" required="" />
								<div ng-show="formstatus.$submitted || formstatus.tsStatusCode.$touched">
									<p class="help-block" ng-show="formstatus.tsStatusCode.$error.required">Status Code is required.</p>
								</div>
							</div>
						</div>
						 
						<div class="form-group">
							<label class="control-label col-sm-3">Allow Revert:</label>
							<div class="col-sm-9">
								<input type="checkbox" data-ng-model="status.AllowBackRevert" name="tsAllowBackRevert" />
							 
							</div>
						</div>
						<input type="hidden" data-ng-model="status.StatusId" />
					</div><!-- End of box-body -->
				</div><!-- End of modal-body -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left btn-flat" ng-click="cancelEditing()">Cancel</button>
					<button type="submit" class="btn btn-primary btn-flat" ng-disabled="formstatus.$invalid" ng-click="CreateUpdateStatus(status.StatusId);">Save</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</script>
@section Scripts {
	<script src="~/lib/angular-ui-select/dist/select.min.js"></script> 
<script src="~/lib/angController/Lookup/statusController.js"></script>
}
