﻿<!-- Auto Page By: Prashant -->
<!-- Created On: 26/06/2018 -->
<!-- HTML for TraineeLevel -->
@{
	ViewData["Title"] = "TraineeLevel List:: Rolpo";
	ViewBag.Current = "Settings_TraineeLevels";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" data-ng-controller='traineelevelController'>
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Trainee Levels
			 
		</h1>
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li> 
			<li class="active">Trainee Levels</li>
		</ol>
	</section>
	<!-- Main content -->
	<section class="content">
		<!-- Info boxes -->
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="alert alert-rolpo alert-dismissable" style='display:none;' id="TraineeLevel_alert"></div>
			</div><!-- /.col -->
		</div><!-- /.row -->
		<!-- Main row -->
		<div class="row">
			<div class="col-md-12">
				<div class="box box-info">
					<div class="box-header with-border">
						<div class="box-success clearfix">
							<a class="btn btn-sm btn-info btn-flat pull-left" href="javascript:; " data-ng-click="OpenTraineeLevelSaveDialog()">Add new TraineeLevel</a>
						</div><!-- /.box-success -->
					</div><!-- /.box-header -->
					<div class="box-body">
						<div class="box">
							<div class="box-header with-border">
								<h3 class="box-title">Filter</h3>
							</div><!-- /.box-header -->
							<!-- form start -->
							<div class="box-body">
								<table class="table table-responsive table-striped">
									<tr>
										<th>Level Name:</th>
										<td><input type="text" class="input-sm form-control" ng-enter="GetTraineeLevelByFilter()" data-ng-model="ttfilter.TraineeLevelName" placeholder="Level Name" /></td>
										<th>
											<button type="submit" class="btn btn-primary btn-flat" data-ng-click="GetTraineeLevelByFilter()">Filter</button>
											<button type="submit" class="btn btn-warning  btn-flat" data-ng-click="ResetTraineeLevelFilter()">Clear</button>
										</th>
									<tr>
								</table>
							</div><!-- /.box-body -->
						</div><!-- /.box for filter-->
						<div class="row">
							<div class="col-sm-12 table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Level Name</th>
											<th>Remarks</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody ng-show="traineelevels.length > 0">
										<tr ng-repeat="traineelevel in traineelevels">
											<td>{{traineelevel.TraineeLevelName}}</td>
											<td>{{traineelevel.Remarks}}</td>
											<td>
												<a href="javascript:;" data-ng-click="OpenTraineeLevelUpdateDialog(traineelevel.TraineeLevelId);" class="btn btn-info btn-sm  btn-flat" title="Edit"><i class="fa fa-edit"></i></a>
												<a href="javascript:;" data-ng-click="DeleteTraineeLevel(traineelevel.TraineeLevelId);" class="btn btn-danger btn-sm  btn-flat" title="Delete"><i class="fa fa-trash"></i></a>
											</td>
										</tr>
									</tbody>
									<tr data-ng-hide="traineelevels.length > 0">
										<td colspan="3" class="text-center">
											<p>No records found.</p>
										</td>
									</tr>
								 
								</table>
							</div>
						</div><!-- /.row -->

						<div class="row">
							<div class="col-sm-2 hidden-xs" data-ng-show="TraineeLevelPageInfo.Has_record">
								<ul class="pagination no-margin pull-left">
									<li>
										<select data-ng-model="ttfilter.PageSize" data-ng-change="OnTraineeLevelPageSizeChanged()">
											<option value="10">10</option>
											<option value="20">20</option>
											<option value="30">30</option>
										</select>
									</li>
								</ul>
							</div>
							<div class="col-sm-4 hidden-xs" data-ng-show="TraineeLevelPageInfo.Has_record">
								<div>Showing <b>{{TraineeLevelPageInfo.PageStart}}</b> to <b>{{TraineeLevelPageInfo.PageEnd}}</b> of <b>{{TraineeLevelPageInfo.TotalItems}}</b> entries</div>
							</div>
							<div class="col-sm-6" data-ng-show="TraineeLevelPageInfo.Has_record">
								<uib-pagination total-items="TraineeLevelPageInfo.TotalItems" class="pagination  no-margin pull-right" ng-model="ttfilter.PageNumber" ng-change="OnTraineeLevelPageChanged()" items-per-page="ttfilter.PageSize"></uib-pagination>
							</div>
						</div><!-- /.row -->

					</div><!-- /.box-body -->
					<div class="overlay" ng-show="loading">
						<i class="fa fa-refresh fa-spin"></i>
					</div>
				</div><!-- /.box-info /.box -->
			</div>
		</div><!-- /.row  Main row ends here..-->
	</section><!-- /.content -->
</div><!-- /.content-wrapper -->


<script type="text/ng-template" id="customUpdateTraineeLevel">
	@*@{Html.RenderPartial("~/views/shared/_traineelevel.cshtml");}*@
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-ng-click="cancelEditing()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ traineelevelActionTitle }}</h4>
			</div>
			<form role="form" name="formtraineelevel" class="form-horizontal" novalidate>
				<div class="modal-body">
					<div class="box-body">
						<div class="alert alert-rolpo alert-dismissable" style='display:none;' id="TraineeLevel_AddEditAlert"></div>
						<div class="form-group" ng-class="{ 'has-error' : (formtraineelevel.ttTraineeLevelName.$invalid && !formtraineelevel.ttTraineeLevelName.$pristine) || invalid }">
							<label class="control-label col-sm-3">Level Name:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="Level Name" data-ng-model="traineelevel.TraineeLevelName" name="ttTraineeLevelName" required="" />
								<div ng-show="formtraineelevel.$submitted || formtraineelevel.ttTraineeLevelName.$touched">
									<p class="help-block" ng-show="formtraineelevel.ttTraineeLevelName.$error.required">Level Name is required.</p>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">Remarks:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="Remarks" data-ng-model="traineelevel.Remarks" name="ttRemarks"  />
								 
							</div>
						</div>
						<input type="hidden" data-ng-model="traineelevel.TraineeLevelId" />
					</div><!-- End of box-body -->
				</div><!-- End of modal-body -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left btn-flat" ng-click="cancelEditing()">Cancel</button>
					<button type="submit" class="btn btn-primary btn-flat" ng-disabled="formtraineelevel.$invalid" ng-click="CreateUpdateTraineeLevel(traineelevel.TraineeLevelId);">Save</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</script>
@section Scripts {
	<script src="~/lib/angular-ui-select/dist/select.min.js"></script> 
	<script src="~/lib/angController/Lookup/traineeLevelController.js"></script>
}
