﻿@using Rolpo.UI.Models

@model LoginViewModel

@{
	ViewData["Title"] = "Log in";
}

@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>@ViewData["Title"] :: A product of Rolpo Tech</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<!-- Bootstrap 3.3.7 -->
	<link href="~/theme/adminlte2.4.3/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<!-- Font Awesome -->
	<link href="~/theme/adminlte2.4.3/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<!-- Ionicons -->
	<link href="~/theme/adminlte2.4.3/Ionicons/css/ionicons.min.css" rel="stylesheet" />
	<!-- jvectormap -->
	<link href="~/theme/adminlte2.4.3/jvectormap/jquery-jvectormap.css" rel="stylesheet" />
	<!-- Theme style -->
	<link href="~/theme/adminlte2.4.3/css/AdminLTE.css" rel="stylesheet" />
	<!-- AdminLTE Skins. Choose a skin from the css/skins
		 folder instead of downloading all of them to reduce the load. -->
	<link href="~/theme/adminlte2.4.3/css/skins/_all-skins.css" rel="stylesheet" />
	 
	<!-- iCheck -->
	<link rel="stylesheet" href="~/theme/adminlte2.4.3/iCheck/square/blue.css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!-- Google Font -->
	<link rel="stylesheet"
		  href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


</head>
<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<a href="@Url.Action("Index", "Home")">@Html.Raw(SessionExtensions.Current.organization.OrganizationName)</a>
		</div><!-- /.login-logo -->
		<div class="login-box-body">
			<p class="login-box-msg"><img src="@SessionExtensions.Current.organization.OrganizationLogoUrl" alt="logo" width="110px"/><br />Sign in to start your session</p>

			@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()

				@Html.ValidationSummary(true, "Login failed. Check your login details.", new { @class = "alert alert-danger alert-dismissable" });

				@*<div asp-validation-summary="ValidationSummary.All" class="alert alert-danger alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					</div>*@

				<div class="form-group has-feedback">
					@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
					<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
					@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
				</div>
				<div class="form-group has-feedback">
					@Html.PasswordFor(m => m.Password, new { @class = "form-control" })<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

				</div>
				<div class="row">
					<div class="col-xs-8">
						<div class="checkbox icheck">
							<label>
								@Html.CheckBoxFor(m => m.RememberMe)
								@Html.LabelFor(m => m.RememberMe)
							</label>
						</div>
					</div><!-- /.col -->
					<div class="col-xs-4">
						<input type="submit"  class="btn btn-primary btn-block btn-flat" value="Sign In" />
					</div><!-- /.col -->
				</div>
			}
			<hr />
			<a href="@Url.Action("ForgotPassword", "Account")">I forgot my password</a><br>
		</div><!-- /.login-box-body -->
	</div><!-- /.login-box -->
	<script src="~/theme/adminlte2.4.3/jquery/dist/jquery.min.js"></script>
	<script src="~/theme/adminlte2.4.3/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- iCheck -->
	<script src="~/theme/adminlte2.4.3/iCheck/icheck.min.js"></script>
	<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' /* optional */
    });
  });
	</script>


	<!-- iCheck -->

	<script src="~/lib/icheck/icheck.js"></script>

	<script>
		$(function () {
			$('input').iCheck({
				checkboxClass: 'icheckbox_square-blue',
				radioClass: 'iradio_square-blue',
				increaseArea: '20%' // optional
			});
		});
	</script>


	@section Scripts {

		@{ Html.RenderPartial("ValidationScriptsPartial");  }

	}



</body>
</html>

