﻿@{
    ViewData["Title"] = "Reset password confirmation";
}

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>@ViewData["Title"] :: A product of Rolpo Tech</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<!-- Bootstrap 3.3.7 -->
	<link href="~/theme/adminlte2.4.3/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<!-- Font Awesome -->
	<link href="~/theme/adminlte2.4.3/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<!-- Ionicons -->
	<link href="~/theme/adminlte2.4.3/Ionicons/css/ionicons.min.css" rel="stylesheet" />
	<!-- jvectormap -->
	<link href="~/theme/adminlte2.4.3/jvectormap/jquery-jvectormap.css" rel="stylesheet" />
	<!-- Theme style -->
	<link href="~/theme/adminlte2.4.3/css/AdminLTE.css" rel="stylesheet" />
	<!-- AdminLTE Skins. Choose a skin from the css/skins
		 folder instead of downloading all of them to reduce the load. -->
	<link href="~/theme/adminlte2.4.3/css/skins/_all-skins.css" rel="stylesheet" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!-- Google Font -->
	<link rel="stylesheet"
		  href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


</head>
<body class="hold-transition login-page">

    <div class="login-box">
        <div class="login-logo">
			<a href="@Url.Action("Index", "Home")">@Html.Raw(SessionExtensions.Current.organization.OrganizationName)</a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg"><img src="@SessionExtensions.Current.organization.OrganizationLogoUrl" alt="logo" width="110px" height="60px" /></p>

            <h3>@ViewData["Title"].</h3>
            <p>
                Your password has been reset. <br/> Please <a href="@Url.Action("Login", "Account")">Click here to log in</a>.
            </p>
        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
   
</body>
</html>
