﻿@model Rolpo.UI.Models.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>@ViewData["Title"] :: A product of Rolpo Tech</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<!-- Bootstrap 3.3.7 -->
	<link href="~/theme/adminlte2.4.3/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<!-- Font Awesome -->
	<link href="~/theme/adminlte2.4.3/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<!-- Ionicons -->
	<link href="~/theme/adminlte2.4.3/Ionicons/css/ionicons.min.css" rel="stylesheet" />
	<!-- jvectormap -->
	<link href="~/theme/adminlte2.4.3/jvectormap/jquery-jvectormap.css" rel="stylesheet" />
	<!-- Theme style -->
	<link href="~/theme/adminlte2.4.3/css/AdminLTE.css" rel="stylesheet" />
	<!-- AdminLTE Skins. Choose a skin from the css/skins
		 folder instead of downloading all of them to reduce the load. -->
	<link href="~/theme/adminlte2.4.3/css/skins/_all-skins.css" rel="stylesheet" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!-- Google Font -->
	<link rel="stylesheet"
		  href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


</head>
<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<a href="@Url.Action("Index", "Home")">@Html.Raw(SessionExtensions.Current.organization.OrganizationName)</a>
			
		</div><!-- /.login-logo -->
		<div class="login-box-body">
			<p class="login-box-msg"><img src="@SessionExtensions.Current.organization.OrganizationLogoUrl" alt="logo" width="110px" height="60px" /></p>
			@using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()
				<h4>@ViewData["Title"].</h4>
				<hr />


				@Html.ValidationSummary(true, "Invalid Attempt.", new { @class = "alert alert-danger alert-dismissable" })

				@Html.HiddenFor(model => model.Code)

				<div class="form-group has-feedback">
					@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
					<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
					@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
				</div>
				<div class="form-group has-feedback">
					@Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
				</div>
				<div class="form-group has-feedback">
					@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Retype Password" })
					<span class="glyphicon glyphicon-log-in form-control-feedback"></span>
					@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })

				</div>
				<div class="row">
					<div class="col-xs-8">
					</div><!-- /.col -->
					<div class="col-xs-4">
						<button type="submit" class="btn btn-primary btn-block btn-flat">Submit</button>
					</div><!-- /.col -->
				</div>
			}
			<hr />
			<a href="@Url.Action("Login", "Account")">Cancel and Go back to Login Page.</a><br>
		</div><!-- /.login-box-body -->
	</div><!-- /.login-box -->


	<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>




	<!-- iCheck -->

	<script src="~/lib/icheck/icheck.js"></script>

	<script>
		$(function () {
			$('input').iCheck({
				checkboxClass: 'icheckbox_square-blue',
				radioClass: 'iradio_square-blue',
				increaseArea: '20%' // optional
			});
		});
	</script>

	@section Scripts {
		@{ Html.RenderPartial("_ValidationScriptsPartial"); }
	}


</body>

</html>
    
