﻿@model Rolpo.UI.Models.ApplicationUser

@{
    ViewData["Title"] = "Confirm Email";
}

@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>@ViewData["Title"] :: A product of Rolpo Tech</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<!-- Bootstrap 3.3.7 -->
	<link href="~/theme/adminlte2.4.3/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<!-- Font Awesome -->
	<link href="~/theme/adminlte2.4.3/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<!-- Ionicons -->
	<link href="~/theme/adminlte2.4.3/Ionicons/css/ionicons.min.css" rel="stylesheet" />
	<!-- jvectormap -->
	<link href="~/theme/adminlte2.4.3/jvectormap/jquery-jvectormap.css" rel="stylesheet" />
	<!-- Theme style -->
	<link href="~/theme/adminlte2.4.3/css/AdminLTE.css" rel="stylesheet" />
	<!-- AdminLTE Skins. Choose a skin from the css/skins
		 folder instead of downloading all of them to reduce the load. -->
	<link href="~/theme/adminlte2.4.3/css/skins/_all-skins.css" rel="stylesheet" />
 

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!-- Google Font -->
	<link rel="stylesheet"
		  href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


</head>
<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<a asp-controller="Home" asp-action="Index"><b>RMT</b>IMS</a><span class="pre"> - pre</span>
		</div><!-- /.login-logo -->
		<div class="login-box-body text-center">
			<p class="login-box-msg"><img src="@SessionExtensions.Current.organization.OrganizationLogoUrl" alt="logo" width="110px" height="60px" /><br />Confirm your email.</p>
		<hr/>
			<form  action="@Url.Action("NewConfirmation","Account")" method="post" class="form-horizontal" role="form">
				<input type="hidden" name="uid" id="uid" value="@Model.Id" />
				<p>
					Hello @Model.FirstName !,
					You haven't still confirmed your email. <br />  
				</p>
				<button type="submit">Click here to resend another email.</button>
			</form>

</div><!-- /.login-box-body -->
	</div><!-- /.login-box -->
	


	@section Scripts {
		@{ Html.RenderPartial("_ValidationScriptsPartial"); }
	}



</body>
</html>



