﻿
@{
	ViewData["Title"] = "Batch Details:: Rolpo";
	ViewBag.Current = "Admin_Batches_Summary";
}


<script type="text/javascript">
	var batchId = '@ViewBag.BatchId';
</script>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" data-ng-controller='batchAddEditController'>
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			<i class="fa fa-graduation-cap"></i> Batch Details
			 
		</h1>
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="@Url.Action("Index", "Batch")"><i class="fa fa-graduation-cap"></i> Batch</a></li>
			<li class="active">Details</li>
		</ol>

	</section>
	<!-- Main content -->
	<section class="content">
		<!-- Info boxes -->
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="alert alert-rolpo alert-dismissable flat" style="display:none;"></div>
			</div><!-- /.col -->

		</div><!-- /.row -->
		<!-- Main row -->
		<!-- Anything comes here...-->
		<div class="box box-solid">
			<div class="box-header with-border">
				<div class="pull-right">
					<a href="~/Batch/View/{{batch.BatchId}}" class="btn btn-info flat"><i class="fa fa-mail-forward"></i> Back to View</a>
				</div>
			</div><!-- /.box-header -->
			<div class="box-body">
				<div class="box-group" id="accordion">
					<!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
					<div class="panel box box-default box-solid flat">
						<div class="box-header with-border">
							<h4 class="box-title">
								<span data-toggle="collapse" href="#collapseOne" style="cursor:pointer;">
									<span>Batch Summary</span>
								</span>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="row">
								<div class="col-md-12">
									<form role="form" name="formbatch" class="form-horizontal" novalidate>
										<div class="panel box box-info">
											<div class="alert alert-rolpo alert-dismissable" style='display:none;' id="Batch_AddEditAlert"></div>

											<div class="box-body">
												<label><i>Note:Fields with<span style="color:red;font-size:150%;">*</span>are compulsary.</i> </label><hr />
												<div class="col-sm-6 form-horizontal">

													<div class="form-group" ng-class="{ 'has-error' : (formbatch.tbBatchCode.$invalid && !formbatch.tbBatchCode.$pristine) || invalid }">
														<label class="control-label col-sm-3">Batch Code: <span style="color:red;">*</span> </label>
														<div class="col-sm-9">
															<input type="text" class="form-control" placeholder="Batch Code" data-ng-model="batch.BatchCode" name="tbBatchCode" required="" />
															<div ng-show="formbatch.$submitted || formbatch.tbBatchCode.$touched">
																<p class="help-block" ng-show="formbatch.tbBatchCode.$error.required">Batch Code is required.</p>
															</div>
														</div>
													</div>
													
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3">Coordinator:</label>
                                                        <div class="col-sm-9">
                                                            <ui-select ng-model="batch.CoordinatorId"  name="tbCoordinator" title="Choose Coordinator">
                                                                <ui-select-match placeholder="Select or search coordinator...">{{$select.selected.Name}}</ui-select-match>
                                                                <ui-select-choices repeat="(item.Value*1) as item in  coordDDL| filter: $select.search">
                                                                    <span ng-bind-html="item.Name | highlight: $select.search"></span>
                                                                </ui-select-choices>
                                                            </ui-select>                                                          
                                                        </div>
                                                    </div>
													<div class="form-group" ng-class="{ 'has-error' : (formbatch.tbBatchStartDate.$invalid && !formbatch.tbBatchStartDate.$pristine) || invalid }">
														<label class="control-label col-sm-3">Start Date: <span style="color:red;">*</span> </label>
														<div class="col-sm-9">
															<p class="input-group input-group">
																<input type="date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="batch.BatchStartDate"
																	   name="extranight_checkin" ng-required="true" is-open="batch._openstartdate" datepicker-options="dateOptions" close-text="Close" />
																<span class="input-group-btn">
																	<button type="button" class="btn btn-default" ng-click="OpenDate(batch,'_openstartdate')"><i class="glyphicon glyphicon-calendar"></i></button>
																</span>
															</p>
															<div ng-show="formbatch.$submitted || formbatch.tbBatchStartDate.$touched">
																<p class="help-block" ng-show="formbatch.tbBatchStartDate.$error.required">Batch Start is required.</p>
															</div>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-3">Summary:</label>
														<div class="col-sm-9">
															<textarea class="form-control" placeholder="Summary" data-ng-model="batch.BatchSummary" name="tbBatchSummary"> </textarea>

														</div>
													</div>
												</div>
												<div class="col-sm-6 form-horizontal">
													<div class="form-group" ng-class="{ 'has-error' : (formbatch.tbBatchName.$invalid && !formbatch.tbBatchName.$pristine) || invalid }">
														<label class="control-label col-sm-3">Batch Name: <span style="color:red;">*</span> </label>
														<div class="col-sm-9">
															<input type="text" class="form-control" placeholder="Batch Name" data-ng-model="batch.BatchName" name="tbBatchName" required="" />
															<div ng-show="formbatch.$submitted || formbatch.tbBatchName.$touched">
																<p class="help-block" ng-show="formbatch.tbBatchName.$error.required">Batch Name is required.</p>
															</div>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-3">Asst. Coordinator:</label>
														<div class="col-sm-9">
                                                            <ui-select ng-model="batch.AssistantCoordinatorId" name="tbASSCoordinator" title="Choose assistant Coordinator">
                                                                <ui-select-match placeholder="Select or search coordinator...">{{$select.selected.Name}}</ui-select-match>
                                                                <ui-select-choices repeat="(item.Value*1) as item in  asscoordDDL| filter: $select.search">
                                                                    <span ng-bind-html="item.Name | highlight: $select.search"></span>
                                                                </ui-select-choices>
                                                            </ui-select>  															

														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-sm-3">End Date:</label>
														<div class="col-sm-9">

															<p class="input-group input-group">
																<input type="date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="batch.BatchEndDate"
																	   name="extranight_checkin" is-open="batch._openenddate" datepicker-options="dateOptions" close-text="Close" />
																<span class="input-group-btn">
																	<button type="button" class="btn btn-default" ng-click="OpenDate(batch,'_openenddate')"><i class="glyphicon glyphicon-calendar"></i></button>
																</span>
															</p>

														</div>
													</div>
												
													<div class="form-group">
														<label class="control-label col-sm-3">Training Address:</label>
														<div class="col-sm-9">
															<textarea class="form-control" placeholder="Training Address" data-ng-model="batch.TrainingAddress" name="tbTrainingAddress"> </textarea>
														</div>
													</div>
												</div>


											</div><!-- /.box-body -->
											<div class="box-footer">
												<button type="submit" class="btn btn-primary pull-right" ng-disabled="formbatch.$invalid" ng-click="UpdateBatch();">Save</button>
											</div>
										</div>
									</form>
								</div>

							</div>

						</div>
					</div>
					<div class="panel box box-default box-solid flat">
						<div class="box-header with-border">
							<h4 class="box-title">
								<span data-toggle="collapse" href="#collapseFour" style="cursor:pointer;">
									Batch Courses
								</span>
							</h4>
						</div>
						<div id="collapseFour" class="panel-collapse collapse in">
							<div class="alert alert-rolpo alert-dismissable flat" style="display:none;" id="traineeMsg"></div>
							<div class="box-body">
								<div class="row">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="box">
											<div class="box-header">
												<h3 class="box-title">Courses for {{batch.BatchCode}}</h3>
											</div><!-- /.box-header -->
											<div class="box-body table-responsive">
												<table class="table table-bordered table-striped">
													<thead>
														<tr>
															<th>Course</th>
															<th>Start Date</th>
															<th>Remarks</th>
															<th>Actions</th>
														</tr>
													</thead>
													<tbody ng-show="batchcourses.length > 0">
														<tr ng-repeat="batchcourse in batchcourses">
															<td>{{batchcourse.CourseFullName}}</td>
															<td>{{(batchcourse.CourseStartDate  | utcToLocal:"dd-MMM-yyyy")|uppercase}}</td>
															<td>{{batchcourse.Remarks}}</td>
															<td>
																<a href="javascript:;" data-ng-click="OpenBatchCourseUpdateDialog(batchcourse.BatchCourseId);" class="btn btn-info btn-sm btn-flat" title="Edit"><i class="fa fa-edit"></i></a>
																<a href="javascript:;" data-ng-click="DeleteBatchCourse(batchcourse.BatchCourseId);" class="btn btn-danger btn-sm btn-flat" title="Delete"><i class="fa fa-trash"></i></a>
															</td>
														</tr>
													</tbody>
													<tr data-ng-hide="batchcourses.length > 0">
														<td colspan="5" class="text-center">
															<p>No records found.</p>
														</td>
													</tr>

												</table>

											</div><!-- /.box-body -->
										</div><!-- /.box -->
									</div>
								</div>
							</div>
							<div class="box-footer">
								<button type="submit" class="btn btn-info btn-sm flat" ng-click="OpenBatchCourseSaveDialog()">Add New Course</button>
							</div>
						</div>
						<div class="overlay" ng-show="loading_trainees">
							<i class="fa fa-refresh fa-spin"></i>
						</div>
					</div>
					<div class="panel box box-default box-solid flat">
						<div class="box-header with-border">
							<h4 class="box-title">
								<span data-toggle="collapse" href="#collapseTwo" style="cursor:pointer;">
									Trainers
								</span>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse in">
							<div class="alert alert-rolpo alert-dismissable flat" style="display:none;" id="BatchTrainer_alert"></div>
							<div class="box-body">
								<div class="row">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="box">
											<div class="box-header">
												<h3 class="box-title">{{batch.BatchCode}}</h3>
											</div><!-- /.box-header -->
											<div class="box-body table-responsive">
												<table class="table table-bordered table-striped">
													<thead>
														<tr>
															<th>&nbsp;</th>
															<th>Trainer</th>
 															<th>Topic</th>
															@*<th>Start Date</th>*@
															<th>Actions</th>
														</tr>
													</thead>
													<tbody ng-show="batchtrainers.length > 0">
														<tr ng-repeat="batchtrainer in batchtrainers">
															<td>
																<img ng-src="{{batchtrainer.ProfileImageUrl}}" ng-show="batchtrainer.ProfileImageUrl.length>0" style="width:100px;" class="img img-rounded" />
																<img src="~/images/user.png" ng-hide="batchtrainer.ProfileImageUrl.length>0" style="width:100px;" class="img img-rounded"/>
															</td>
															<td>{{batchtrainer.TrainerName}}</td>
 															<td>{{batchtrainer.ModuleTitle}}</td>
															@*<td>{{(batchtrainer.TrainingStartDate | utcToLocal:"dd-MMM-yyyy")|uppercase}}</td>*@
															<td>
																<a href="javascript:;" data-ng-click="OpenBatchTrainerUpdateDialog(batchtrainer.BatchTrainerId);" class="btn btn-info btn-sm btn-flat" title="Edit"><i class="fa fa-edit"></i></a>
																<a href="javascript:;" data-ng-click="DeleteBatchTrainer(batchtrainer.BatchTrainerId);" class="btn btn-danger btn-sm  btn-flat" title="Delete"><i class="fa fa-trash"></i></a>
															</td>
														</tr>
													</tbody>
													<tr data-ng-hide="batchtrainers.length > 0">
														<td colspan="5" class="text-center">
															<p>No records found.</p>
														</td>
													</tr>

												</table>
											</div><!-- /.box-body -->
										</div><!-- /.box -->
									</div>
								</div>
							</div>
							<div class="box-footer">
								<button type="submit" class="btn btn-primary btn-sm flat" ng-click="OpenBatchTrainerSaveDialog()">Add Trainer</button>
							</div>
						</div>
						<div class="overlay" ng-show="loading_trainers">
							<i class="fa fa-refresh fa-spin"></i>
						</div>
					</div>
					<div class="panel box box-default box-solid flat">
						<div class="box-header with-border">
							<h4 class="box-title">
								<span data-toggle="collapse" href="#collapseThree" style="cursor:pointer;">
									Trainees
								</span>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse in">
							<div class="alert alert-rolpo alert-dismissable flat" style="display:none;" id="BatchTrainee_alert"></div>
							<div class="box-body">
								<div class="row">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="box">
											<div class="box-header">
												<h3 class="box-title">{{batch.BatchCode}}</h3>
											</div><!-- /.box-header -->
											<div class="box-body table-responsive">
												<table class="table table-bordered table-striped">
													<thead>
														<tr> 
															<th>&nbsp;</th>
															<th>Trainee</th> 
															<th>Registered Date</th> 
															<th>Actions</th>
														</tr>
													</thead>
													<tbody ng-show="batchtrainees.length > 0">
														<tr ng-repeat="batchtrainee in batchtrainees"> 
															<td>
																<img ng-src="{{batchtrainee.ProfileImageUrl}}" ng-show="batchtrainee.ProfileImageUrl.length>0" style="width:100px;" class="img img-rounded" />
																<img src="~/images/user.png" ng-hide="batchtrainee.ProfileImageUrl.length>0" style="height:50px;" class="img img-rounded" />
															</td>
															<td>{{batchtrainee.TraineeName}}</td>
															<td>{{(batchtrainee.JoinedDate  | utcToLocal:"dd-MMM-yyyy")|uppercase}}</td>
 															<td>
 																<a href="javascript:;" data-ng-click="DeleteBatchTrainee(batchtrainee.BatchTraineeId);" class="btn btn-danger btn-sm btn-flat" title="Delete"><i class="fa fa-trash"></i></a>
															</td>
														</tr>
													</tbody>
													<tr data-ng-hide="batchtrainees.length > 0">
														<td colspan="4" class="text-center">
															<p>No records found.</p>
														</td>
													</tr>
													 
												</table> 

											</div><!-- /.box-body -->
										</div><!-- /.box -->
									</div>
								</div>
							</div>
							<div class="box-footer">
								<button type="submit" class="btn btn-info btn-sm flat" ng-click="OpenBatchTraineeSaveDialog()">Add Trainee</button>
							</div>
						</div>
						<div class="overlay" ng-show="loading_batches">
							<i class="fa fa-refresh fa-spin"></i>
						</div>
					</div>
					
					@*<div class="panel box box-default box-solid flat">
						<div class="box-header with-border">
							<h4 class="box-title">
								<span data-toggle="collapse" href="#collapseFour" style="cursor:pointer;">
									Activities
								</span>
							</h4>
						</div>
						<div id="collapseFour" class="panel-collapse collapse in">
							<div class="alert alert-rolpo alert-dismissable flat" style="display:none;" id="traineeMsg"></div>
							<div class="box-body">
								<div class="row">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="box">
											<div class="box-header">
												<h3 class="box-title">Activities for {{batch.BatchCode}}</h3>
											</div><!-- /.box-header -->
											<div class="box-body table-responsive">

												<table class="table table-bordered table-striped">
													<thead>
														<tr>
														 
															<th>Status</th>
															<th>Summary</th>
															<th>Actions</th>
														</tr>
													</thead>
													<tbody ng-show="batchsummarys.length > 0">
														<tr ng-repeat="batchsummary in batchsummarys"> 
															<td>{{batchsummary.StatusName}}</td>
															<td>{{batchsummary.Summary}}</td>
															<td>
																<a href="javascript:;" data-ng-click="OpenBatchSummaryUpdateDialog(batchsummary.BatchSummaryId);" class="btn btn-info btn-sm btn-flat" title="Edit"><i class="fa fa-edit"></i></a>
																<a href="javascript:;" data-ng-click="DeleteBatchSummary(batchsummary.BatchSummaryId);" class="btn btn-danger btn-sm  btn-flat" title="Delete"><i class="fa fa-trash"></i></a>
															</td>
														</tr>
													</tbody>
													<tr data-ng-hide="batchsummarys.length > 0">
														<td colspan="4" class="text-center">
															<p>No records found.</p>
														</td>
													</tr>
												 
												</table> 
											</div><!-- /.box-body -->
										</div><!-- /.box -->
									</div>
								</div>
							</div>
							<div class="box-footer">
								<button type="submit" class="btn btn-info btn-sm flat" ng-click="OpenBatchSummarySaveDialog()">Add New Activity</button>
							</div>
						</div>
						<div class="overlay" ng-show="loading_trainees">
							<i class="fa fa-refresh fa-spin"></i>
						</div>
					</div>*@
				</div>
			</div><!-- /.box-body -->

		</div><!-- /.box -->


	</section><!-- /.content -->

</div>


<script type="text/ng-template" id="customUpdateBatchTrainer"> 
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-ng-click="cancelEditing()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ batchtrainerActionTitle }}</h4>
			</div>
			<form role="form" name="formbatchtrainer" class="form-horizontal" novalidate>
				<div class="modal-body">
					<div class="box-body">
						<div class="alert alert-rolpo alert-dismissable" style='display:none;' id="BatchTrainer_AddEditAlert"></div>
						<div class="form-group" ng-class="{ 'has-error' : (formbatchtrainer.tbMemberId.$invalid && !formbatchtrainer.tbMemberId.$pristine) || invalid }">
							<label class="control-label col-sm-3">Trainer:</label>
							<div class="col-sm-9">
								<ui-select ng-model="batchtrainer.MemberId" name="tbMemberId" ng-required="true" title="Choose Trainer">
									<ui-select-match placeholder="Select or search member...">{{$select.selected.Name}}</ui-select-match>
									<ui-select-choices repeat="(item.Value*1) as item in  trainersddl| filter: $select.search">
										<span ng-bind-html="item.Name | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>

								<div ng-show="formbatchtrainer.$submitted || formbatchtrainer.tbMemberId.$touched">
									<p class="help-block" ng-show="formbatchtrainer.tbMemberId.$error.required">Trainer is required.</p>
								</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : (formbatchtrainer.tbCourseId.$invalid && !formbatchtrainer.tbCourseId.$pristine) || invalid }">
						<label class="control-label col-sm-3">Course:</label>

						<div class="col-sm-9">
							<ui-select ng-model="batchtrainer.CourseId" on-select="CourseOnSelected($item)" name="tbCourseId" title="Choose Course">
								<ui-select-match placeholder="Select or search course...">{{$select.selected.Name}}</ui-select-match>
								<ui-select-choices repeat="(item.Value*1) as item in  batchcoursesddl| filter: $select.search">
									<span ng-bind-html="item.Name | highlight: $select.search"></span>
								</ui-select-choices>
							</ui-select>
							<div ng-show="formbatchcourse.$submitted || formbatchcourse.tbCourseId.$touched">
								<p class="help-block" ng-show="formbatchcourse.tbCourseId.$error.required">Course is required.</p>
							</div>
						</div>
					</div>
						<div class="form-group">
							<label class="control-label col-sm-3">Module:</label>
							<div class="col-sm-9">
								<ui-select ng-model="batchtrainer.ModuleId" name="tbModuleId" ng-disabled="!batchtrainer.CourseId" title="Choose Module">
									<ui-select-match placeholder="Select or search topic...">{{$select.selected.Name}}</ui-select-match>
									<ui-select-choices repeat="(item.Value*1) as item in  batchmodulesddl| filter: $select.search">
										<span ng-bind-html="item.Name | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
						@*<div class="form-group">
							<label class="control-label col-sm-3">Start Date:</label>
							<div class="col-sm-9">
								<p class="input-group input-group">
									<input type="date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="batchtrainer.TrainingStartDate"
										   name="batchtrainer_stratdate" is-open="batchtrainer._openbatchstartdate" datepicker-options="dateOptions" close-text="Close" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="OpenDate(batchtrainer,'_openbatchstartdate')"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								</p>
							</div>
						</div>*@
						<input type="hidden" data-ng-model="batchtrainer.BatchTrainerId" />
					</div><!-- End of box-body -->
				</div><!-- End of modal-body -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left  btn-flat" ng-click="cancelEditing()">Cancel</button>
					<button type="submit" class="btn btn-primary  btn-flat" ng-disabled="formbatchtrainer.$invalid"
							ng-click="CreateUpdateBatchTrainer(batchtrainer.BatchTrainerId);">
						Save
					</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</script>

<script type="text/ng-template" id="customUpdateBatchTrainee">
 	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-ng-click="cancelEditing()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ batchtraineeActionTitle }}</h4>
			</div>
			
			<form role="form" name="formbatchtrainee" class="form-horizontal" novalidate>
				<div class="modal-body">
					<div class="box-body">
						<div class="alert alert-rolpo alert-dismissable" style='display:none;' id="BatchTrainee_AddEditAlert"></div>
						 
						<div class="form-group" ng-class="{ 'has-error' : (formbatchtrainee.tbJoinedDate.$invalid && !formbatchtrainee.tbJoinedDate.$pristine) || invalid }">
							<label class="control-label col-sm-3">Registered Date: <span style="color:red;font-size:150%;">*</span></label>
							<div class="col-sm-9">
								<p class="input-group input-group">
									<input type="date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="batchtrainee.JoinedDate"
										   name="batchtrainee_joindate" is-open="batchtrainee._joindate" datepicker-options="dateOptions" close-text="Close" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="OpenDate(batchtrainee,'_joindate')"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								</p>
								<div ng-show="formbatchtrainee.$submitted || formbatchtrainee.tbJoinedDate.$touched">
									<p class="help-block" ng-show="formbatchtrainee.tbJoinedDate.$error.required">Registered Date is required.</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-10">
								<input type="text" ng-model="_traineesearch" class="form-control" ng-enter="SearchForTrainees(_traineesearch)"
									   placeholder="Serch by Company, Department, First Name, Last Name, Level" />
							</div>
							<div class="col-sm-2">
								<input type="button" class="btn btn-flat btn-success" ng-click="SearchForTrainees(_traineesearch)" value="Search" />
							</div>
						</div>
						<div class="row" ng-hide="loading_traineesearch">
							<div class="col-sm-12 table-responsive">
								<br />
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Name</th>
											<th>Company</th>
											<th>Department</th>
											<th>Position/Level</th>
											<th>&nbsp;</th>
										</tr>

									</thead>
									<tr ng-repeat="member in traineesearchresults">
										<td> {{member.FirstName}} {{member.LastName}} </td>
										<td>{{member.CompanyName}}</td>
										<td>{{member.Department}}</td>
										<td>{{member.Level}}</td>
										<td><button href="javascript:;" class="btn btn-xs btn-flat btn-info" 
											   ng-click="AddTraineeBatch(member)" ng-disabled="!batchtrainee.JoinedDate"><i class="fa fa-plus"></i></button></td>
									</tr>
									<tr data-ng-hide="traineesearchresults.length > 0">
										<td colspan="5" class="text-center">
											<p>No records found.</p>
										</td>
									</tr>

								</table>
							</div>
						</div>
						<div class="col-sm-12" ng-show="loading_traineesearch">
							Loading, Please wait..
						</div>

						 
					</div><!-- End of box-body -->
				</div><!-- End of modal-body -->
			 
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</script> 


<script type="text/ng-template" id="customUpdateBatchCourse"> 
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-ng-click="cancelEditing()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ batchcourseActionTitle }}</h4>
			</div>
			<form role="form" name="formbatchcourse" class="form-horizontal" novalidate>
				<div class="modal-body">
					<div class="box-body">
						<div class="alert alert-rolpo alert-dismissable" style='display:none;' id="BatchCourse_AddEditAlert"></div>
						 
						<div class="form-group" ng-class="{ 'has-error' : (formbatchcourse.tbCourseId.$invalid && !formbatchcourse.tbCourseId.$pristine) || invalid }">
							<label class="control-label col-sm-3">Course:</label>
							<div class="col-sm-9">
								<ui-select ng-model="batchcourse.CourseId" name="tbMemberId" ng-required="true" title="Choose Course">
									<ui-select-match placeholder="Select or search course...">{{$select.selected.Name}}</ui-select-match>
									<ui-select-choices repeat="(item.Value*1) as item in  coursesddl| filter: $select.search">
										<span ng-bind-html="item.Name | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>
								<div ng-show="formbatchcourse.$submitted || formbatchcourse.tbCourseId.$touched">
									<p class="help-block" ng-show="formbatchcourse.tbCourseId.$error.required">Course is required.</p>
								</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : (formbatchcourse.tbCourseStartDate.$invalid && !formbatchcourse.tbCourseStartDate.$pristine) || invalid }">
							<label class="control-label col-sm-3">Start Date:</label>
							<div class="col-sm-9">
								<p class="input-group input-group">
									<input type="date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="batchcourse.CourseStartDate"
										   name="batchcourse_coursestartdate" is-open="batchcourse._startdate" datepicker-options="dateOptions" close-text="Close" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="OpenDate(batchcourse,'_startdate')"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								</p>
 								<div ng-show="formbatchcourse.$submitted || formbatchcourse.tbCourseStartDate.$touched">
									<p class="help-block" ng-show="formbatchcourse.tbCourseStartDate.$error.required">Start Date is required.</p>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-3">Remarks:</label>
							<div class="col-sm-9">
								<textarea class="form-control" placeholder="Remarks" data-ng-model="batchcourse.Remarks" name="tbRemarks" ></textarea>
							</div>
						</div>

						<input type="hidden" data-ng-model="batchcourse.BatchCourseId" />
					</div><!-- End of box-body -->
				</div><!-- End of modal-body -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left btn-flat" ng-click="cancelEditing()">Cancel</button>
					<button type="submit" class="btn btn-primary btn-flat" ng-disabled="formbatchcourse.$invalid" ng-click="CreateUpdateBatchCourse(batchcourse.BatchCourseId);">Save</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</script> 


<script type="text/ng-template" id="customUpdateBatchSummary">
 	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-ng-click="cancelEditing()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ batchsummaryActionTitle }}</h4>
			</div>
			<form role="form" name="formbatchsummary" class="form-horizontal" novalidate>
				<div class="modal-body">
					<div class="box-body">
						<div class="alert alert-rolpo alert-dismissable" style='display:none;' id="BatchSummary_AddEditAlert"></div>
					 
						<div class="form-group" ng-class="{ 'has-error' : (formbatchsummary.tbStatusId.$invalid && !formbatchsummary.tbStatusId.$pristine) || invalid }">
							<label class="control-label col-sm-3">Status:</label>
							<div class="col-sm-9">
								<ui-select ng-model="batchsummary.StatusId" name="tbStatusId" ng-required="true" title="Choose Status">
									<ui-select-match placeholder="Select or search status...">{{$select.selected.Name}}</ui-select-match>
									<ui-select-choices repeat="(item.Value*1) as item in  batchstatusddl| filter: $select.search">
										<span ng-bind-html="item.Name | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>
 								<div ng-show="formbatchsummary.$submitted || formbatchsummary.tbStatusId.$touched">
									<p class="help-block" ng-show="formbatchsummary.tbStatusId.$error.required">Status is required.</p>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">Summary:</label>
							<div class="col-sm-9">
								<textarea class="form-control" placeholder="Summary" data-ng-model="batchsummary.Summary" name="tbSummary" ></textarea>
							</div>
						</div>
						<input type="hidden" data-ng-model="batchsummary.BatchSummaryId" />
					</div><!-- End of box-body -->
				</div><!-- End of modal-body -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" ng-click="cancelEditing()">Cancel</button>
					<button type="submit" class="btn btn-primary" ng-disabled="formbatchsummary.$invalid" ng-click="CreateUpdateBatchSummary(batchsummary.BatchSummaryId);">Save</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</script> 

@section css{
	<link href="~/lib/angular-ui-select/dist/select.min.css" rel="stylesheet" />

}



@section Scripts {
	<!-- Select 2 -->
	<script src="~/lib/angular-ui-select/dist/select.min.js"></script>

	<script src="~/lib/angController/Batch/batchAddEditController.js"></script>
}
