﻿<!-- Auto Page By: Prashant -->
<!-- Created On: 21/06/2018 -->
<!-- HTML for Batch -->
@{
	ViewData["Title"] = "Batch List:: Rolpo";
	ViewBag.Current = "Admin_Batches_Summary";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" data-ng-controller='batchController'>
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			<i class="fa fa-graduation-cap"></i> Batches
			 
		</h1>
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li> 
			<li class="active">Summary</li>
		</ol>
	</section>
	<!-- Main content -->
	<section class="content">
		<!-- Info boxes -->
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="alert alert-rolpo alert-dismissable" style='display:none;' id="Batch_alert"></div>
			</div><!-- /.col -->
		</div><!-- /.row -->
		<!-- Main row -->
		<div class="row">
			<div class="col-md-12">
				<div class="box box-info">
					<div class="box-header with-border">
						<div class="box-success clearfix">
							<a class="btn btn-sm btn-info btn-flat pull-left" href="javascript:; " data-ng-click="OpenBatchSaveDialog()">Add new Batch</a>
						</div><!-- /.box-success -->
					</div><!-- /.box-header -->
					<div class="box-body">
						<div class="box">
							<div class="box-header with-border">
								<h3 class="box-title">Filter</h3>
							</div><!-- /.box-header -->
							<!-- form start -->
							<div class="box-body">
								<table class="table table-responsive table-striped">
									<tr>
										<td>Batch Code:</td>
										<td><input type="text" class="input-sm form-control" data-ng-model="tbfilter.BatchCode" ng-enter="GetBatchByFilter()" placeholder="Batch Code" /></td>
										<td>Coordinator:</td>
										<td><input type="text" class="input-sm form-control" data-ng-model="tbfilter.Coordinator" ng-enter="GetBatchByFilter()" placeholder="Coordinator" /></td>
									</tr>
									<tr>
										<td>Batch Start:</td>
										<td>
											<p class="input-group input-group">
												<input type="date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="tbfilter.BatchStartDate"
													   name="extranight_checkin" ng-required="true" is-open="tbfilter._openstartdate" datepicker-options="dateOptions" close-text="Close" />
												<span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="OpenDate(tbfilter,'_openstartdate')"><i class="glyphicon glyphicon-calendar"></i></button>
												</span>
											</p>
										</td>

										<td>Batch End:</td>
										<td>
											<p class="input-group input-group">
												<input type="date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="tbfilter.BatchEndDate"
													   name="extranight_checkin" ng-required="true" is-open="tbfilter._openenddate" datepicker-options="dateOptions" close-text="Close" />
												<span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="OpenDate(tbfilter,'_openenddate')"><i class="glyphicon glyphicon-calendar"></i></button>
												</span>
											</p>
										</td>
										<td>
											<button type="submit" class="btn btn-primary btn-flat" data-ng-click="GetBatchByFilter()">Filter</button>
											<button type="submit" class="btn btn-warning btn-flat" data-ng-click="ResetBatchFilter()">Clear</button>
										</td>
									<tr>
								</table>
							</div><!-- /.box-body -->
						</div><!-- /.box for filter-->
						<div class="row">
							<div class="col-sm-12 table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th style="min-width:150px;">Batch Code/Name</th> 
 											<th style="min-width:150px;">Coordinator /Asst. coordinator</th>
											<th style="min-width:150px;">Start Date/End Date</th>
											<th>Summary</th>
                                            <th>Training Address</th>
											<th  style="min-width:100px;">Actions</th>
										</tr>
									</thead>
									<tbody ng-show="batchs.length > 0">
										<tr ng-repeat="batch in batchs">
											<td>
												<b>{{batch.BatchCode}}</b>  <br /> <i>{{batch.BatchName}}</i>
 											</td> 
											<td><b></b>{{batch.Coordinator}}<br /><b>Asst.:</b> {{batch.ASSCoordinator}}</td>
											<td>
												Start: <i><b>{{(batch.BatchStartDate | utcToLocal:"dd-MMM-yyyy")|uppercase}}</b></i><br />
												End: <b><i>{{(batch.BatchEndDate | utcToLocal:"dd-MMM-yyyy")|uppercase}}</i></b>
											</td> 
											<td>{{batch.BatchSummary}}</td>
                                            <td>{{batch.TrainingAddress}}</td>
											<td>
												@*<a href="javascript:;" data-ng-click="OpenBatchUpdateDialog(batch.BatchId);" class="btn btn-info btn-sm btn-flat " title="Edit"><i class="fa fa-edit"></i></a>*@
												<a href="javascript:;" data-ng-click="DeleteBatch(batch.BatchId);" class="btn btn-danger btn-sm btn-flat" title="Delete"><i class="fa fa-trash"></i></a>
												<a href="~/Batch/View/{{batch.BatchId}}" class="btn btn-success btn-sm btn-flat" style="margin-top:2px;" title="Details"><i class="fa fa-bars"></i></a>
											</td>
										</tr>
									</tbody>
									<tr data-ng-hide="batchs.length > 0">
										<td colspan="10" class="text-center">
											<p>No records found.</p>
										</td>
									</tr>
									 
								</table>
							</div>
						</div><!-- /.row -->

						<div class="row">
							<div class="col-sm-2 hidden-xs" data-ng-show="BatchPageInfo.Has_record">
								<ul class="pagination no-margin pull-left">
									<li>
										<select data-ng-model="tbfilter.PageSize" data-ng-change="OnBatchPageSizeChanged()">
											<option value="10">10</option>
											<option value="20">20</option>
											<option value="30">30</option>
										</select>
									</li>
								</ul>
							</div>
							<div class="col-sm-4 hidden-xs" data-ng-show="BatchPageInfo.Has_record">
								<div>Showing <b>{{BatchPageInfo.PageStart}}</b> to <b>{{BatchPageInfo.PageEnd}}</b> of <b>{{BatchPageInfo.TotalItems}}</b> entries</div>
							</div>
							<div class="col-sm-6" data-ng-show="BatchPageInfo.Has_record">
								<uib-pagination total-items="BatchPageInfo.TotalItems" class="pagination  no-margin pull-right" ng-model="tbfilter.PageNumber" ng-change="OnBatchPageChanged()" items-per-page="tbfilter.PageSize"></uib-pagination>
							</div>
						</div><!-- /.row -->

					</div><!-- /.box-body -->
					<div class="overlay" ng-show="loading">
						<i class="fa fa-refresh fa-spin"></i>
					</div>
				</div><!-- /.box-info /.box -->
			</div>
		</div><!-- /.row  Main row ends here..-->
	</section><!-- /.content -->
</div><!-- /.content-wrapper -->


<script type="text/ng-template" id="customUpdateBatch">
	@*@{Html.RenderPartial("~/views/shared/_batch.cshtml");}*@
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-ng-click="cancelEditing()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ batchActionTitle }}</h4>
				<small>Note: Fields with <span style="color:red;">*</span> are required</small>
			</div>
			<form role="form" name="formbatch" class="form-horizontal" novalidate>
				<div class="modal-body">
					<div class="box-body">
						<div class="alert alert-rolpo alert-dismissable" style='display:none;' id="Batch_AddEditAlert"></div>
						<div class="form-group" ng-class="{ 'has-error' : (formbatch.tbBatchCode.$invalid && !formbatch.tbBatchCode.$pristine) || invalid }">
							<label class="control-label col-sm-3">Batch Code: <span style="color:red;">*</span> </label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="Batch Code" data-ng-model="batch.BatchCode" name="tbBatchCode" required="" />
								<div ng-show="formbatch.$submitted || formbatch.tbBatchCode.$touched">
									<p class="help-block" ng-show="formbatch.tbBatchCode.$error.required">Batch Code is required.</p>
								</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : (formbatch.tbBatchName.$invalid && !formbatch.tbBatchName.$pristine) || invalid }">
							<label class="control-label col-sm-3">Batch Name: <span style="color:red;">*</span> </label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="Batch Name" data-ng-model="batch.BatchName" name="tbBatchName" required="" />
								<div ng-show="formbatch.$submitted || formbatch.tbBatchName.$touched">
									<p class="help-block" ng-show="formbatch.tbBatchName.$error.required">Batch Name is required.</p>
								</div>
							</div>
						</div>
						@*<div class="form-group">
							<label class="control-label col-sm-3">Batch Level:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="Batch Level" data-ng-model="batch.BatchLevel" name="tbBatchLevel" />

							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">Batch Category:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="Batch Category" data-ng-model="batch.BatchCategory" name="tbBatchCategory" />

							</div>
						</div>*@
                        <div class="form-group">
                            <label class="control-label col-sm-3">Training Address:</label>
                            <div class="col-sm-9">
                                <textarea rows="3" class="form-control" placeholder="Training Address" data-ng-model="batch.TrainingAddress" name="tbTrainingAddress" />

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Coordinator:</label>
                            <div class="col-sm-9">
                                <ui-select ng-model="batch.CoordinatorId" name="tbCoordinator" title="Choose Coordinator">
                                    <ui-select-match placeholder="Select or search coordinator...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="(item.Value*1) as item in  coordDDL| filter: $select.search">
                                        <span ng-bind-html="item.Name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Asst. Coordinator:</label>
                            <div class="col-sm-9">
                                <ui-select ng-model="batch.AssistantCoordinatorId" name="tbASSCoordinator" title="Choose assistant Coordinator">
                                    <ui-select-match placeholder="Select or search coordinator...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="(item.Value*1) as item in  asscoordDDL| filter: $select.search">
                                        <span ng-bind-html="item.Name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>
                         
                            <div class="form-group" ng-class="{ 'has-error' : (formbatch.tbBatchStartDate.$invalid && !formbatch.tbBatchStartDate.$pristine) || invalid }">
                                <label class="control-label col-sm-3">Batch Start: <span style="color:red;">*</span> </label>
                                <div class="col-sm-9">
                                    <p class="input-group input-group">
                                        <input type="date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="batch.BatchStartDate"
                                               name="extranight_checkin" ng-required="true" is-open="batch._openstartdate" datepicker-options="dateOptions" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="OpenDate(batch,'_openstartdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                    <div ng-show="formbatch.$submitted || formbatch.tbBatchStartDate.$touched">
                                        <p class="help-block" ng-show="formbatch.tbBatchStartDate.$error.required">Batch Start is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Batch End:</label>
                                <div class="col-sm-9">

                                    <p class="input-group input-group">
                                        <input type="date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="batch.BatchEndDate"
                                               name="extranight_checkin" is-open="batch._openenddate" datepicker-options="dateOptions" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="OpenDate(batch,'_openenddate')"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Summary:</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" placeholder="Summary" data-ng-model="batch.BatchSummary" name="tbBatchSummary"> </textarea>

                                </div>
                            </div>
                            <input type="hidden" data-ng-model="batch.BatchId" />
                        </div><!-- End of box-body -->
				</div><!-- End of modal-body -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" ng-click="cancelEditing()">Cancel</button>
					<button type="submit" class="btn btn-primary" ng-disabled="formbatch.$invalid" ng-click="CreateUpdateBatch(batch.BatchId);">Save</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</script>

@section css{
    <link href="~/lib/angular-ui-select/dist/select.min.css" rel="stylesheet" />

}



@section Scripts {
    <!-- Select 2 -->
    <script src="~/lib/angular-ui-select/dist/select.min.js"></script>	
	<script src="~/lib/angController/Batch/batchController.js"></script>
}
