﻿
@{
	ViewData["Title"] = "Batch Details:: Rolpo";
	ViewBag.Current = "Admin_Batches_Summary";
}


<script type="text/javascript">
	var batchId = '@ViewBag.BatchId';
</script>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" data-ng-controller='batchViewController'>
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			<i class="fa fa-graduation-cap"></i> Batch Details
			 
		</h1>
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="@Url.Action("Index", "Batch")"><i class="fa fa-graduation-cap"></i> Batch</a></li>
			<li class="active">Details</li>
		</ol>

	</section>
	<!-- Main content -->
	<section class="content">
		<!-- Info boxes -->
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="alert alert-rolpo alert-dismissable flat" style="display:none;"></div>
			</div><!-- /.col -->

		</div><!-- /.row -->
		<!-- Main row -->
		<!-- Anything comes here...-->
		<div class="box box-solid">
			<div class="box-header with-border">
				<div class="pull-right">
					<a href="~/Batch/AddEdit/{{batch.BatchId}}" class="btn btn-info flat"><i class="fa fa-edit"></i> Edit</a>
					<a href="~/Batch/Index" class="btn btn-info flat"><i class="fa fa-mail-forward"></i> Back to List</a>
				</div>
			</div><!-- /.box-header -->
			<div class="box-body">
				<div class="box-group" id="accordion">
					<!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
					<div class="panel box box-default box-solid flat">
						<div class="box-header with-border">
							<h4 class="box-title">
								<span data-toggle="collapse" href="#collapseOne" style="cursor:pointer;">
									<span>Batch Summary</span>
								</span>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="row">
								<div class="col-md-12">
									<div class="panel box box-info">
										<div class="alert alert-rolpo alert-dismissable" style='display:none;' id="Batch_AddEditAlert"></div>

										<div class="box-body">
											<label><i>Note:Fields with<span style="color:red;font-size:150%;">*</span>are compulsary.</i> </label><hr />
											<div class="col-sm-6 form-horizontal">

												<div class="form-group">
													<label class="control-label col-sm-3">Batch Code: <span style="color:red;">*</span> </label>
													<div class="col-sm-9">
														<span class="form-control">{{batch.BatchCode}}</span>
													</div>
												</div>
												
                                                <div class="form-group">
                                                    <label class="control-label col-sm-3">Coordinator:</label>
                                                    <div class="col-sm-9">
                                                        <span class="form-control">{{batch.Coordinator}}</span>
                                                    </div>
                                                </div>
												<div class="form-group">
													<label class="control-label col-sm-3">Start Date: <span style="color:red;">*</span> </label>
													<div class="col-sm-9">
														<span class="form-control">{{(batch.BatchStartDate | utcToLocal:"dd-MMM-yyyy")|uppercase}}</span>
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-sm-3">Summary:</label>
													<div class="col-sm-9">
														<span class="text-muted">{{batch.BatchSummary}}</span>
													</div>
												</div>
											</div>
											<div class="col-sm-6 form-horizontal">
												<div class="form-group">
													<label class="control-label col-sm-3">Batch Name: <span style="color:red;">*</span> </label>
													<div class="col-sm-9">
														<span class="form-control">{{batch.BatchName}}</span>
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-sm-3">Asst. Coordinator:</label>
													<div class="col-sm-9">
														<span class="form-control">{{batch.ASSCoordinator}}</span>
													</div>
												</div>
												
												<div class="form-group">
													<label class="control-label col-sm-3">End Date:</label>
													<div class="col-sm-9">
														<span class="form-control">{{(batch.BatchEndDate| utcToLocal:"dd-MMM-yyyy")|uppercase}}</span>
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-sm-3">Training Address:</label>
													<div class="col-sm-9">
														<span class="form-control">{{batch.TrainingAddress}}</span>
													</div>
												</div>
												
											</div>


										</div><!-- /.box-body -->

									</div>
								</div>

							</div>

						</div>
					</div>
					<div class="panel box box-default box-solid flat">
						<div class="box-header with-border">
							<h4 class="box-title">
								<span data-toggle="collapse" href="#collapseFour" style="cursor:pointer;">
									Batch Courses
								</span>
							</h4>
						</div>
						<div id="collapseFour" class="panel-collapse collapse in">
							<div class="alert alert-rolpo alert-dismissable flat" style="display:none;" id="traineeMsg"></div>
							<div class="box-body">
								<div class="row">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="box">
											<div class="box-header">
												<h3 class="box-title">Courses for {{batch.BatchCode}}</h3>
											</div><!-- /.box-header -->
											<div class="box-body table-responsive">

												<div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="batchcourse in batchcourses">
													<div class="info-box bg-aqua">
														<span class="info-box-icon"><i class="fa  fa-book"></i></span>

														<div class="info-box-content">
															<span class="info-box-text">{{batchcourse.CourseFullName}}</span>
															<span class="info-box-number">{{batchcourse.CourseCode}}</span>

															<div class="progress">
																<div class="progress-bar" style="width: 100%"></div>
															</div>
															<span class="progress-description">
																<a href="{{serviceBase}}Courses/View/{{batchcourse.CourseId}}" target="_blank" class="btn btn-success btn-xs btn-flat">View Course Details</a>
															</span>
														</div>
														<!-- /.info-box-content -->
													</div>
													<!-- /.info-box -->
												</div>

												@*<table class="table table-bordered table-striped">
										<thead>
											<tr>
												<th>Course</th>
												<th>Start Date</th>
												<th>Remarks</th>
												<th>Actions</th>
											</tr>
										</thead>
										<tbody ng-show="batchcourses.length > 0">
											<tr ng-repeat="batchcourse in batchcourses">
												<td>{{batchcourse.CourseId}}</td>
												<td>{{(batchcourse.CourseStartDate  | utcToLocal:"dd-MMM-yyyy")|uppercase}}</td>
												<td>{{batchcourse.Remarks}}</td>
												<td>
													<a href="javascript:;" data-ng-click="OpenBatchCourseUpdateDialog(batchcourse.BatchCourseId);" class="btn btn-info btn-sm btn-flat" title="Edit"><i class="fa fa-edit"></i></a>
													<a href="javascript:;" data-ng-click="DeleteBatchCourse(batchcourse.BatchCourseId);" class="btn btn-danger btn-sm btn-flat" title="Delete"><i class="fa fa-trash"></i></a>
												</td>
											</tr>
										</tbody>
										<tr data-ng-hide="batchcourses.length > 0">
											<td colspan="5" class="text-center">
												<p>No records found.</p>
											</td>
										</tr>

									</table>*@

											</div><!-- /.box-body -->
										</div><!-- /.box -->
									</div>
								</div>
							</div>

						</div>
						<div class="overlay" ng-show="loading_trainees">
							<i class="fa fa-refresh fa-spin"></i>
						</div>
					</div>
					<div class="panel box box-default box-solid flat">
						<div class="box-header with-border">
							<h4 class="box-title">
								<span data-toggle="collapse" href="#collapseTwo" style="cursor:pointer;">
									Trainers
								</span>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse in">
							<div class="alert alert-rolpo alert-dismissable flat" style="display:none;" id="BatchTrainer_alert"></div>
							<div class="box-body">
								<div class="row">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="box">
											 
											<div class="box-body no-padding">
												<ul class="users-list clearfix">
													<li ng-repeat="batchtrainer in batchtrainers">
														<img ng-src="{{batchtrainer.ProfileImageUrl}}" ng-show="batchtrainer.ProfileImageUrl.length>0" style="width:100px;" />
														<img src="~/images/user.png" ng-hide="batchtrainer.ProfileImageUrl.length>0" style="width:100px;" />

														<span class="users-list-name" href="#">{{batchtrainer.TrainerName}}</span>
														<span class="users-list-date"><b>Module: </b>{{batchtrainer.ModuleTitle}}</span>
														<span class="users-list-date"><i>Starts on {{(batchtrainer.TrainingStartDate| utcToLocal:"dd-MMM-yyyy")|uppercase}}</i> </span>
													</li>

												 
													 
												</ul>
												<!-- /.users-list -->
											</div><!-- /.box-body -->
										</div><!-- /.box -->
									</div>
								</div>
							</div>
						 
						</div>
						<div class="overlay" ng-show="loading_trainers">
							<i class="fa fa-refresh fa-spin"></i>
						</div>
					</div>
					<div class="panel box box-default box-solid flat">
						<div class="box-header with-border">
							<h4 class="box-title">
								<span data-toggle="collapse" href="#collapseThree" style="cursor:pointer;">
									Trainees
								</span>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse in">
							<div class="alert alert-rolpo alert-dismissable flat" style="display:none;" id="BatchTrainee_alert"></div>
							<div class="box-body">
								<div class="row">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="box">
											 
											<div class="box-body table-responsive">
												<ul class="users-list clearfix">
													<li ng-repeat="batchtrainee in batchtrainees">
														<img ng-src="{{batchtrainee.ProfileImageUrl}}" ng-show="batchtrainee.ProfileImageUrl.length>0" style="width:100px;" />
														<img src="~/images/user.png" ng-hide="batchtrainee.ProfileImageUrl.length>0" style="width:100px;" />

														<span class="users-list-name" href="#">{{batchtrainee.TraineeName}}</span> 
														<span class="users-list-date"><i>Joined on {{(batchtrainee.JoinedDate| utcToLocal:"dd-MMM-yyyy")|uppercase}}</i> </span>
													</li> 
												</ul>
											 
											</div><!-- /.box-body -->
										</div><!-- /.box -->
									</div>
								</div>
							</div>
						 
						</div>
						<div class="overlay" ng-show="loading_batches">
							<i class="fa fa-refresh fa-spin"></i>
						</div>
					</div>
					
					@*<div class="panel box box-default box-solid flat">
						<div class="box-header with-border">
							<h4 class="box-title">
								<span data-toggle="collapse" href="#collapseFour" style="cursor:pointer;">
									Activities
								</span>
							</h4>
						</div>
						<div id="collapseFour" class="panel-collapse collapse in">
							<div class="alert alert-rolpo alert-dismissable flat" style="display:none;" id="traineeMsg"></div>
							<div class="box-body">

								<ul class="timeline">
									<!-- timeline time label -->
									<li class="time-label" ng-repeat-start="batchsummary in batchsummarys">
										<span class="bg-red">
											{{(batchsummary.CreatedDate| utcToLocal:"dd-MMM-yyyy")|uppercase}}
										</span>
									</li>
									<!-- /.timeline-label -->
									<!-- timeline item -->
									<li ng-repeat-end>
										<i class="fa fa-clock-o bg-blue"></i>

										<div class="timeline-item"> 

											<h3 class="timeline-header"><a href="javscript:;">{{batchsummary.UserName}}</a> added status <b>{{batchsummary.StatusName}}</b></h3>
											<div class="timeline-body" ng-show="batchsummary.Summary">
												{{batchsummary.Summary}}
											</div>
											 
										</div>
									</li>
									 
									<li>
										<i class="fa fa-clock-o bg-gray"></i>
									</li>
								</ul>
								 
							</div>
						 
						</div>
						<div class="overlay" ng-show="loading_trainees">
							<i class="fa fa-refresh fa-spin"></i>
						</div>
					</div>*@
				</div>
			</div><!-- /.box-body -->

		</div><!-- /.box -->


	</section><!-- /.content -->

</div>


<script type="text/ng-template" id="customUpdateBatchTrainer">
	@*@{Html.RenderPartial("~/views/shared/_batchtrainer.cshtml");}*@
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-ng-click="cancelEditing()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ batchtrainerActionTitle }}</h4>
			</div>
			<form role="form" name="formbatchtrainer" class="form-horizontal" novalidate>
				<div class="modal-body">
					<div class="box-body">
						<div class="alert alert-rolpo alert-dismissable" style='display:none;' id="BatchTrainer_AddEditAlert"></div>
						<div class="form-group" ng-class="{ 'has-error' : (formbatchtrainer.tbMemberId.$invalid && !formbatchtrainer.tbMemberId.$pristine) || invalid }">
							<label class="control-label col-sm-3">Trainer:</label>
							<div class="col-sm-9">
								<ui-select ng-model="batchtrainer.MemberId" name="tbMemberId" ng-required="true" title="Choose Trainer">
									<ui-select-match placeholder="Select or search member...">{{$select.selected.Name}}</ui-select-match>
									<ui-select-choices repeat="(item.Value*1) as item in  trainersddl| filter: $select.search">
										<span ng-bind-html="item.Name | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>

								<div ng-show="formbatchtrainer.$submitted || formbatchtrainer.tbMemberId.$touched">
									<p class="help-block" ng-show="formbatchtrainer.tbMemberId.$error.required">Trainer is required.</p>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-3">Module:</label>
							<div class="col-sm-9">
								<ui-select ng-model="batchtrainer.ModuleId" name="tbModuleId" title="Choose Module">
									<ui-select-match placeholder="Select or search topic...">{{$select.selected.Name}}</ui-select-match>
									<ui-select-choices repeat="(item.Value*1) as item in  topicsddl| filter: $select.search">
										<span ng-bind-html="item.Name | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">Start Date:</label>
							<div class="col-sm-9">
								<p class="input-group input-group">
									<input type="date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="batchtrainer.TrainingStartDate"
										   name="batchtrainer_stratdate" is-open="batchtrainer._openbatchstartdate" datepicker-options="dateOptions" close-text="Close" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="OpenDate(batchtrainer,'_openbatchstartdate')"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								</p>
							</div>
						</div>
						<input type="hidden" data-ng-model="batchtrainer.BatchTrainerId" />
					</div><!-- End of box-body -->
				</div><!-- End of modal-body -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left  btn-flat" ng-click="cancelEditing()">Cancel</button>
					<button type="submit" class="btn btn-primary  btn-flat" ng-disabled="formbatchtrainer.$invalid"
							ng-click="CreateUpdateBatchTrainer(batchtrainer.BatchTrainerId);">
						Save
					</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</script>

<script type="text/ng-template" id="customUpdateBatchTrainee">
	@*@{Html.RenderPartial("~/views/shared/_batchtrainee.cshtml");}*@
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-ng-click="cancelEditing()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ batchtraineeActionTitle }}</h4>
			</div>
			<form role="form" name="formbatchtrainee" class="form-horizontal" novalidate>
				<div class="modal-body">
					<div class="box-body">
						<div class="alert alert-rolpo alert-dismissable" style='display:none;' id="BatchTrainee_AddEditAlert"></div>

						<div class="form-group" ng-class="{ 'has-error' : (formbatchtrainee.tbMemberId.$invalid && !formbatchtrainee.tbMemberId.$pristine) || invalid }">
							<label class="control-label col-sm-3">Trainee:</label>
							<div class="col-sm-9">
								<ui-select ng-model="batchtrainee.MemberId" name="tbMemberId" ng-required="true" title="Choose Trainee">
									<ui-select-match placeholder="Select or search member...">{{$select.selected.Name}}</ui-select-match>
									<ui-select-choices repeat="(item.Value*1) as item in  traineesddl| filter: $select.search">
										<span ng-bind-html="item.Name | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>
								<div ng-show="formbatchtrainee.$submitted || formbatchtrainee.tbMemberId.$touched">
									<p class="help-block" ng-show="formbatchtrainee.tbMemberId.$error.required">Trainee is required.</p>
								</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : (formbatchtrainee.tbJoinedDate.$invalid && !formbatchtrainee.tbJoinedDate.$pristine) || invalid }">
							<label class="control-label col-sm-3">Joined Date:</label>
							<div class="col-sm-9">
								<p class="input-group input-group">
									<input type="date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="batchtrainee.JoinedDate"
										   name="batchtrainee_joindate" is-open="batchtrainee._joindate" datepicker-options="dateOptions" close-text="Close" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="OpenDate(batchtrainee,'_joindate')"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								</p>
								<div ng-show="formbatchtrainee.$submitted || formbatchtrainee.tbJoinedDate.$touched">
									<p class="help-block" ng-show="formbatchtrainee.tbJoinedDate.$error.required">Joined Date is required.</p>
								</div>
							</div>
						</div>
						<input type="hidden" data-ng-model="batchtrainee.BatchTraineeId" />
					</div><!-- End of box-body -->
				</div><!-- End of modal-body -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" ng-click="cancelEditing()">Cancel</button>
					<button type="submit" class="btn btn-primary" ng-disabled="formbatchtrainee.$invalid" ng-click="CreateUpdateBatchTrainee(batchtrainee.BatchTraineeId);">Save</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</script>


<script type="text/ng-template" id="customUpdateBatchCourse">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-ng-click="cancelEditing()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ batchcourseActionTitle }}</h4>
			</div>
			<form role="form" name="formbatchcourse" class="form-horizontal" novalidate>
				<div class="modal-body">
					<div class="box-body">
						<div class="alert alert-rolpo alert-dismissable" style='display:none;' id="BatchCourse_AddEditAlert"></div>

						<div class="form-group" ng-class="{ 'has-error' : (formbatchcourse.tbCourseId.$invalid && !formbatchcourse.tbCourseId.$pristine) || invalid }">
							<label class="control-label col-sm-3">Course:</label>
							<div class="col-sm-9">
								<ui-select ng-model="batchcourse.CourseId" name="tbMemberId" ng-required="true" title="Choose Course">
									<ui-select-match placeholder="Select or search course...">{{$select.selected.Name}}</ui-select-match>
									<ui-select-choices repeat="(item.Value*1) as item in  coursesddl| filter: $select.search">
										<span ng-bind-html="item.Name | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>
								<div ng-show="formbatchcourse.$submitted || formbatchcourse.tbCourseId.$touched">
									<p class="help-block" ng-show="formbatchcourse.tbCourseId.$error.required">Course is required.</p>
								</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : (formbatchcourse.tbCourseStartDate.$invalid && !formbatchcourse.tbCourseStartDate.$pristine) || invalid }">
							<label class="control-label col-sm-3">Start Date:</label>
							<div class="col-sm-9">
								<p class="input-group input-group">
									<input type="date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="batchcourse.CourseStartDate"
										   name="batchcourse_coursestartdate" is-open="batchcourse._startdate" datepicker-options="dateOptions" close-text="Close" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="OpenDate(batchcourse,'_startdate')"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								</p>
								<div ng-show="formbatchcourse.$submitted || formbatchcourse.tbCourseStartDate.$touched">
									<p class="help-block" ng-show="formbatchcourse.tbCourseStartDate.$error.required">Start Date is required.</p>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-3">Remarks:</label>
							<div class="col-sm-9">
								<textarea class="form-control" placeholder="Remarks" data-ng-model="batchcourse.Remarks" name="tbRemarks"></textarea>
							</div>
						</div>

						<input type="hidden" data-ng-model="batchcourse.BatchCourseId" />
					</div><!-- End of box-body -->
				</div><!-- End of modal-body -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left btn-flat" ng-click="cancelEditing()">Cancel</button>
					<button type="submit" class="btn btn-primary btn-flat" ng-disabled="formbatchcourse.$invalid" ng-click="CreateUpdateBatchCourse(batchcourse.BatchCourseId);">Save</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</script>


<script type="text/ng-template" id="customUpdateBatchSummary">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-ng-click="cancelEditing()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ batchsummaryActionTitle }}</h4>
			</div>
			<form role="form" name="formbatchsummary" class="form-horizontal" novalidate>
				<div class="modal-body">
					<div class="box-body">
						<div class="alert alert-rolpo alert-dismissable" style='display:none;' id="BatchSummary_AddEditAlert"></div>

						<div class="form-group" ng-class="{ 'has-error' : (formbatchsummary.tbStatusId.$invalid && !formbatchsummary.tbStatusId.$pristine) || invalid }">
							<label class="control-label col-sm-3">Status:</label>
							<div class="col-sm-9">
								<ui-select ng-model="batchsummary.StatusId" name="tbStatusId" ng-required="true" title="Choose Status">
									<ui-select-match placeholder="Select or search status...">{{$select.selected.Name}}</ui-select-match>
									<ui-select-choices repeat="(item.Value*1) as item in  batchstatusddl| filter: $select.search">
										<span ng-bind-html="item.Name | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>
								<div ng-show="formbatchsummary.$submitted || formbatchsummary.tbStatusId.$touched">
									<p class="help-block" ng-show="formbatchsummary.tbStatusId.$error.required">Status is required.</p>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">Summary:</label>
							<div class="col-sm-9">
								<textarea class="form-control" placeholder="Summary" data-ng-model="batchsummary.Summary" name="tbSummary"></textarea>
							</div>
						</div>
						<input type="hidden" data-ng-model="batchsummary.BatchSummaryId" />
					</div><!-- End of box-body -->
				</div><!-- End of modal-body -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" ng-click="cancelEditing()">Cancel</button>
					<button type="submit" class="btn btn-primary" ng-disabled="formbatchsummary.$invalid" ng-click="CreateUpdateBatchSummary(batchsummary.BatchSummaryId);">Save</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</script>

@section css{
	<link href="~/lib/angular-ui-select/dist/select.min.css" rel="stylesheet" />

}



@section Scripts {
	<!-- Select 2 -->
	<script src="~/lib/angular-ui-select/dist/select.min.js"></script>
	<script src="~/lib/angController/Batch/batchViewController.js"></script>
}
