﻿<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-ng-click="cancelEditing()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">{{ aspnetusersActionTitle }}</h4>
		</div>
		<form role="form" name="formaspnetusers" ng-submit="CreateUpdateASPNETUsers(formaspnetusers,aspnetusers.Id)" novalidate>
			<fieldset ng-disabled="(frmloading || useraddupdateloading)">

				<div class="modal-body">
					
					<div class="box-body">
						<div class="alert alert-rolpo alert-dismissable" id="ASPNETUsers_AddEditAlert" style="display:none;"></div>
						<div class="form-group" ng-class="{ 'has-error' : (formaspnetusers.taFirstName.$invalid && !formaspnetusers.taFirstName.$pristine) || invalid }">
							<label class="control-label">First Name:</label>
							<input type="text" class="form-control" placeholder="FirstName" data-ng-model="aspnetusers.FirstName" name="taFirstName" required="" />
							<div ng-show="formaspnetusers.$submitted || formaspnetusers.taFirstName.$touched">
								<p class="help-block" ng-show="formaspnetusers.taFirstName.$error.required">First Name is required.</p>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : (formaspnetusers.taLastName.$invalid && !formaspnetusers.taLastName.$pristine) || invalid }">
							<label class="control-label">Last Name:</label>
							<input type="text" class="form-control" placeholder="LastName" data-ng-model="aspnetusers.LastName" name="taLastName" required="" />
							<div ng-show="formaspnetusers.$submitted || formaspnetusers.taLastName.$touched">
								<p class="help-block" ng-show="formaspnetusers.taLastName.$error.required">Last Name is required.</p>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : (formaspnetusers.taEmail.$invalid && !formaspnetusers.taEmail.$pristine) || invalid }">
							<label class="control-label">Email:</label>
							<input type="email" class="input-sm form-control" data-ng-model="aspnetusers.Email" placeholder="Email" />
							<div ng-show="formaspnetusers.$submitted || formaspnetusers.taEmail.$touched">
								<p class="help-block" ng-show="formaspnetusers.taEmail.$error.required">Email is required.</p>
							</div>
						</div>


						<div class="form-group">
							<label class="control-label">Roles:</label>
							<div class="row" ng-repeat='group in getRoleGroups()'>
								<hr />
								<div class="col-sm-3">{{group}}</div>
								<div class="col-sm-3" ng-repeat="item in roles |  groupby:group">
									<label><input type="checkbox" class="minimal icheck" ng-model="item.Value" icheck> {{item.DisplayName}}</label>
								</div>
							</div>

						</div>
						@*<input type="hidden" data-ng-model="aspnetusers.Id" />
						<input type="hidden" data-ng-model="aspnetusers.RolesJSON" />*@

					</div><!-- End of box-body -->
				</div><!-- End of modal-body -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left flat"  ng-disabled="frmloading || useraddupdateloading" ng-click="cancelEditing()">Cancel</button>
					<img src="@Url.Content("~/images/load.gif")" ng-show="frmloading || useraddupdateloading" />
					<button type="submit" class="btn btn-primary flat" ng-disabled="formaspnetusers.$invalid" >Save</button>
				</div>
			</fieldset>
</form>
	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->