﻿@model Rolpo.UI.Models.ChangePasswordViewModel
@{
	ViewData["Title"] = "Change Password";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			@ViewData["Title"].
			 
		</h1>
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="@Url.Action("Index","Manage")"><i class="fa fa-angle-down"></i> Profile</a></li>
			<li class="active">Change Password</li>
		</ol>
	</section>
	<!-- Main content -->
	<section class="content">
		<!-- Info boxes -->
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
			</div><!-- /.col -->

		</div><!-- /.row -->
		<!-- Main row -->
		<!-- Anything comes here...-->


		<p class="text-success">@ViewData["StatusMessage"]</p>


		@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
		{
			@Html.AntiForgeryToken()
			<h4>Change Password Form</h4>
			<hr />
			@*<div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>*@
			@Html.ValidationSummary(true, "Invalid details. Please try again.", new { @class = "alert alert-danger alert-dismissable" });
			<div class="form-group">
				@Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
				@*<label asp-for="OldPassword" class="col-md-2 control-label"></label>*@
				<div class="col-md-10">
					@*<input asp-for="OldPassword" class="form-control" />*@
					@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
					@*<span asp-validation-for="OldPassword" class="text-danger"></span>*@
					@Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				@*<label asp-for="NewPassword" class="col-md-2 control-label"></label>
					<div class="col-md-10">
						<input asp-for="NewPassword" class="form-control" />
						<span asp-validation-for="NewPassword" class="text-danger"></span>
					</div>*@
				@Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
				<div class="col-md-10">
					@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				@*<label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
					<div class="col-md-10">
						<input asp-for="ConfirmPassword" class="form-control" />
						<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
					</div>*@
				@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
				<div class="col-md-10">
					@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<button type="submit" class="btn btn-default">Change password</button>
				</div>
			</div>
		}



	</section><!-- /.content -->
</div><!-- /.content-wrapper -->
@section Scripts {

	@{ Html.RenderPartial("_ValidationScriptsPartial");  }

}
