﻿@model Rolpo.UI.Models.IndexViewModel
@{
	ViewData["Title"] = "Manage your account";

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" data-ng-controller="userProfileController">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			User Profile
		</h1>
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">profile</li>
		</ol>
	</section>
 
	<section class="content">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="alert alert-rolpo alert-dismissable" style="display:none;" id="Profile_SaveAlert"></div>
			</div><!-- /.col -->

		</div>

		<div class="row">
			<div class="col-md-3">
				<!-- Profile Image -->
				<div class="box box-primary">
					<div class="box-body box-profile">

						<img class="profile-user-img img-responsive img-circle" src="~/images/user.png" alt="User profile picture">

						<h3 class="profile-username text-center">@UserRights.FullName()</h3>
						<p class="text-muted text-center"></p>

					</div><!-- /.box-body -->
				</div><!-- /.box -->

			</div><!-- /.col -->
			<div class="col-md-9">
				<div class="nav-tabs-custom">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#timeline" data-toggle="tab">Settings</a></li>
					</ul>
					<div class="tab-content">


						<div class="tab-pane active" id="timeline">
							<p class="alert alert-info alert-dismissable" style="display:@(String.IsNullOrEmpty(ViewData["StatusMessage"].ToString()) ?  "none" : "block");">@ViewData["StatusMessage"]</p>
							<div>
								<h4>Change your account settings</h4>
								<hr />
								<dl class="dl-horizontal">
									<dt>Password:</dt>
									<dd>
										[
										@if (Model.HasPassword)
										{
											<a href="@Url.Action("ChangePassword","Manage")">Change</a>
}
										else
										{
											<a href="@Url.Action("SetPassword", "Manage")">Create</a>
}
										]
									</dd>



								</dl>
							</div>

						</div><!-- /.tab-pane -->
					</div><!-- /.tab-content -->
				</div><!-- /.nav-tabs-custom -->
			</div><!-- /.col -->
		</div><!-- /.row -->


	</section><!-- /.content -->
</div><!-- /.content-wrapper -->

@section css{
	<style type="text/css">
		.thumb {
			width: 50%;
			height: auto;
		}
	</style>
}

@section scripts{

	<script src="https://angular-file-upload.appspot.com/js/ng-file-upload-shim.js"></script>

	<script src="~/lib/angController/Profile/userprofileController.js"></script>

}