﻿<!-- Auto Page By: Prashant -->
<!-- Created On: 01/06/2016 -->
<!-- HTML for ASPNETUsers -->
@using System.Security.Claims
@{
	ViewData["Title"] = "Members List:: Rolpo";
	ViewBag.Current = "Settings_User_UserList";
	 
}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" data-ng-controller='aspnetusersController'>
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Members
			 
		</h1>
		<ol class="breadcrumb">
			<li><a asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">List of Members</li>
		</ol>
	</section>

	@if (UserRights.IsAdmin())
	{
		<section class="content">
			<!-- Info boxes -->
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div style="display:none;" class="alert alert-rolpo alert-dismissable flat" id="ASPNETUsers_alert"></div>
				</div><!-- /.col -->
			</div><!-- /.row -->
			<!-- Main row -->
			<div class="row">
				<div class="col-md-12">
					<div class="box box-info">
						<div class="box-header with-border">
							<div class="box-success clearfix">
								<a class="btn btn-sm btn-info btn-flat pull-left" href="javascript:; " data-ng-click="OpenASPNETUsersSaveDialog()">Add new Member</a>
							</div><!-- /.box-success -->
						</div><!-- /.box-header -->
						<div class="box-body">
							<div class="box">
								<div class="box-header with-border">
									<h3 class="box-title">Filter</h3>
								</div><!-- /.box-header -->
								<!-- form start -->
								<div class="box-body table-responsive">
									<table class="table table-striped">
										<tr>
											<td class="hidden-xs">Search:</td>
											<td>
											<input type="text" class="form-control" data-ng-model="tafilter.SearchText" 
													   ng-enter="GetASPNETUsersByFilter()" placeholder="FirstName/LastName/Email" /></td>
											 
											<th>
												<button type="submit" class="btn btn-primary flat" data-ng-click="GetASPNETUsersByFilter()">Filter</button>
												<button type="submit" class="btn btn-warning flat" data-ng-click="ResetAspNetUserFilter()">Clear</button>
											</th>
										<tr>
									</table>
								</div><!-- /.box-body -->
							</div><!-- /.box for filter-->
							<div class="row">
								<div class="col-sm-12 table-responsive">
									<table class="table table-bordered table-striped">
										<thead>
											<tr>
												<th>First Name</th>
												<th>Last Name</th>
												<th>Email</th>
												<th>Roles</th>
												<th style="min-width:100px;">Actions</th>
											</tr>
										</thead>
										<tbody ng-show="aspnetuserss.length > 0">
											<tr ng-repeat="aspnetusers in aspnetuserss">
												<td>{{aspnetusers.FirstName}}</td>
												<td>{{aspnetusers.LastName}}</td>
												<td>
													{{aspnetusers.Email}}
												</td>
												<td>
													<span ng-repeat="role in aspnetusers.RolesJSON">
														<span class="label label-default flat" ng-show="role.Value">{{role.RoleGroup}} : {{role.DisplayName}}</span>
													</span>
												</td>
												<td>
													<a href="javascript:;" data-ng-click="OpenASPNETUsersUpdateDialog(aspnetusers.Id);" class="btn btn-info btn-xs flat" title="Edit"><i class="fa fa-edit"></i></a>
													<a href="javascript:;" data-ng-click="DeleteASPNETUsers(aspnetusers.Id);" class="btn btn-danger btn-xs flat" title="Delete"><i class="fa fa-trash"></i></a>
												</td>
											</tr>
										</tbody>
										<tr data-ng-hide="aspnetuserss.length > 0">
											<td colspan="5" class="text-center">
												<p>No records found.</p>
											</td>
										</tr>
										<tfoot>
											<tr>
												<th>First Name</th>
												<th>Last Name</th>
												<th>Email</th>
												<th>Roles</th>
												<th>Actions</th>
											</tr>
										</tfoot>
									</table>
								</div>
							</div><!-- /.row -->
							<div class="row">
								<div class="col-sm-2 hidden-xs" data-ng-show="ASPNETUsersPageInfo.Has_record">
									<ul class="pagination no-margin pull-left">
										<li>
											<select data-ng-model="tafilter.PageSize" data-ng-change="OnPageSizeChanged()">
												<option value="10">10</option>
												<option value="20">20</option>
												<option value="30">30</option>
											</select>
										</li>
									</ul>
								</div>
								<div class="col-sm-4 hidden-xs">
									<div>Showing <b>{{ASPNETUsersPageInfo.PageStart}}</b> to <b>{{ASPNETUsersPageInfo.PageEnd}}</b> of <b>{{ASPNETUsersPageInfo.TotalItems}}</b> entries</div>
								</div>
								<div class="col-sm-6" data-ng-show="ASPNETUsersPageInfo.Has_record">

									<uib-pagination total-items="ASPNETUsersPageInfo.TotalItems" class="pagination  no-margin pull-right" ng-model="TAfilter.PageNumber" ng-change="OnPageChanged()" items-per-page="TAfilter.PageSize"></uib-pagination>
								</div>
							</div><!-- /.row -->

						</div><!-- /.box-body -->
						<div class="overlay" ng-show="loading">
							<i class="fa fa-refresh fa-spin"></i>
						</div>
					</div><!-- /.box-info /.box -->
				</div>
			</div><!-- /.row  Main row ends here..-->
		</section><!-- /.content -->
		<!-- Main content -->
	}
	else
	{
		<section class="content">
			<div class="panel box box-default">
				<div class="box-body">
					<div class="callout callout-warning">
						<p>
							It looks like you are lost!<br />
							Click <a href="/">here</a> to go back to Dashboard.
						</p>
					</div>
				</div>
			</div>
		</section>
	}
	
	
</div><!-- /.content-wrapper -->


<script type="text/ng-template" id="customUpdateASPNETUsers">
	@{Html.RenderPartial("~/Views/Manage/_aspnetusers.cshtml");} 
</script>

@section css { 
<link href="~/theme/adminlte2.4.3/iCheck/all.css" rel="stylesheet" />  
}





@section Scripts {  
<script src="~/theme/adminlte2.4.3/iCheck/icheck.min.js"></script> 
<script src="~/lib/angController/Account/aspnetusersController.js"></script>
}
