﻿
@{
    ViewBag.Title = "ViewProfile";
    
}

<div class="content-wrapper" data-ng-controller="userProfileController">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            User Profile
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">profile</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-rolpo alert-dismissable" style="display:none;"></div>
            </div><!-- /.col -->

        </div>
        

        <div class="row">
            <div class="col-md-3">
                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile">
                   
                        <img class="profile-user-img img-responsive img-circle" ng-src="{{staffInfo.ProfileImageUrl}}" alt="User profile picture">
                      
                        <h3 class="profile-username text-center">{{staffInfo.StaffName}}</h3>
                        <p class="text-muted text-center"></p>
                        <p class="text-muted text-center">{{staffInfo.DesignationName}}</p>
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>Assigned Task</b> <a class="pull-right">{{staffInfo.TotalTaskAssigned}}</a>

                            </li>
                            <li class="list-group-item">
                                <b>Watched Task</b> <a class="pull-right">{{staffInfo.TotalTaskWatched}}</a>
                            </li>
                        </ul>                    
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
                <!-- About Me Box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">About Me</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <strong><i class="fa fa-phone-square"></i>  Phone</strong>
                        <p class="text-muted">
                            <span ng-show="staffInfo.Phone==null||staffInfo.Phone.length==0">
                                No phone added <span class="pull-right">
                                    <a href="javascript:;" ng-click="UpdateProfile()">ADD NOW</a>
                                </span>

                            </span>
                            {{staffInfo.Phone}}
                        </p>
                        <hr>

                        <strong><i class="fa fa-mobile"></i> Mobile</strong>
                        <p>{{staffInfo.Mobile}}</p>
                        <hr>

                        <strong><i class="fa fa-envelope"></i> Email</strong>
                        <p>{{staffInfo.PrimaryContactEmail}}</p>

                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
            <div class="col-md-9">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#timeline" data-toggle="tab">Activity Timeline</a></li>                        
                    </ul>
                    <div class="tab-content">

                        <div class="tab-pane active" id="timeline">
                            <!-- The timeline -->
                            <ul class="timeline timeline-inverse">
                                <!-- timeline time label -->
                                <li class="time-label">
                                    <span class="bg-red">
                                        10 Feb. 2014
                                    </span>
                                </li>
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-envelope bg-blue"></i>
                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                                        <h3 class="timeline-header"><a href="#">Razzu</a> sent you a task.</h3>
                                        <div class="timeline-body">
                                            A new booking has been created for GAdventures Group. 015QT2241K. Please respond..
                                        </div>
                                        <div class="timeline-footer">
                                            <a class="btn btn-primary btn-xs">Go To Task</a>
                                            <a class="btn btn-danger btn-xs">Reply</a>
                                        </div>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-user bg-aqua"></i>
                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
                                        <h3 class="timeline-header no-border"><a href="#">Gita Basnet</a> mark QT"0152241K" as completed.</h3>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-comments bg-yellow"></i>
                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>
                                        <h3 class="timeline-header"><a href="#">Amir</a> created a new task.</h3>
                                        <div class="timeline-body">
                                            I have created New task for QT 0152241K, Please confirm and respond.
                                            Booking needs to be done for 01/20/2016.
                                            They are more like from Germany, ambitious and misunderstood!
                                        </div>
                                        <div class="timeline-footer">
                                            <a class="btn btn-warning btn-flat btn-xs">Go To Task</a>
                                        </div>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <!-- timeline time label -->
                                <li class="time-label">
                                    <span class="bg-green">
                                        3 Jan. 2014
                                    </span>
                                </li>
                                <li>
                                    <i class="fa fa-clock-o bg-gray"></i>
                                </li>
                            </ul>
                        </div><!-- /.tab-pane -->
                        
                    </div><!-- /.tab-content -->
                </div><!-- /.nav-tabs-custom -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div>

@section scripts{
    <script type="text/javascript">
        var IsView = true;
        var staffid = @ViewBag.UserId;
    </script>
<script src="https://rawgit.com/enyo/dropzone/d8ef7a82e6ab5447c1f2d9512c8e1bfd4de5ac9e/dist/dropzone.js"></script>
<script src="~/lib/dropzone/ng-dropzone-2.0.2/dist/ng-dropzone.js"></script>
<script src="~/lib/angController/Profile/userprofileController.js"></script>
    }
