﻿<!-- Auto Page By: Prashant -->
<!-- Created On: 05/04/2018 -->
<!-- HTML for Page -->
@{
    ViewData["Title"] = "Learning Management System:: Rolpo";
    ViewBag.Current = "Admin_Page";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
          LMS
          
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">Learning Management System</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-rolpo alert-dismissable" style='display:none;' id="Page_alert"></div>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <div class="col-md-12">
             
                    <div class="box-body">
                        <div class="box">
                            <div class="box-header with-border">
                                
                            </div><!-- /.box-header -->
                            <!-- form start -->
                            <div class="box-body text-center">
                                <h3 class="box-title">Welcome to NEA LMS</h3>
                            <hr />
                            <img src="~/images/logo.png" />
                            </div><!-- /.box-body -->
                        </div><!-- /.box for filter-->
                    

                 
                    
                </div><!-- /.box-info /.box -->
            </div>
        </div><!-- /.row  Main row ends here..-->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->





@section css {
    <link href="~/theme/adminlte2.4.3/iCheck/all.css" rel="stylesheet" />
}





@section Scripts {
    <script src="~/theme/adminlte2.4.3/iCheck/icheck.min.js"></script>

}

