﻿
@{
    ViewData["Title"] = "Learning Management System:: Rolpo";
    ViewBag.Current = "Settings_Organization";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            LMS            
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">Organization</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content" ng-controller="organizationController">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-rolpo alert-dismissable" style='display:none;' id="Org_Alert"></div>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <div class="col-md-12">

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Organization Details</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" ng-submit="SaveOrganizationDetails(formOrganization)" name="formOrganization" novalidate>
                        <fieldset ng-disabled="loading">
                            <div class="box-body">
                                <div ng-class="submitted&&formOrganization.OrganizationName.$invalid?'form-group has-error':'form-group'">

                                    <label>Name</label>
                                    <input type="text" class="form-control" id="OrganizationName" name="OrganizationName" placeholder="Enter name" ng-model="organization.OrganizationName" required>
                                    <span class="help-block" ng-show="submitted&&formOrganization.OrganizationName.$error.required">Please enter name of organization.</span>
                                </div>
                                <div class="form-group" ng-class="submitted&&formOrganization.Address.$invalid?'has-error':''">
                                    <label for="exampleInputPassword1">Address</label>
                                    <input type="text" class="form-control" id="Address" name="Address" placeholder="Address" ng-model="organization.OrganizationAddress" required>
                                    <span class="help-block" ng-show="submitted&&formOrganization.Address.$error.required">Please enter address of organization.</span>
                                </div>
                                <div class="form-group">
                                    <label>Logo</label>
                                    <ng-dropzone class="dropzone" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods"></ng-dropzone>
                                </div>
                                <div class="form-group">
                                    <label>Telephone</label>
                                    <input type="text" class="form-control" id="Address" placeholder="Telephone" ng-model="organization.Telephone">

                                </div>
                                <div class="form-group" ng-class="submitted&&formOrganization.Code.$invalid?'has-error':''">
                                    <label>Organization Code</label>
                                    <input type="text" class="form-control" id="Address" name="Code" placeholder="Code" ng-model="organization.OrganizationCode" required>
                                    <span class="help-block" ng-show="submitted&&formOrganization.Code.$error.required">Please enter Code of organization.</span>
                                </div>

                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div><!-- /.row  Main row ends here..-->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

@section css{
<link href="~/lib/ng-dropzone-2.0.2/dist/dropzone.min.css" rel="stylesheet" />
}

@section scripts{
    
    
<script src="~/lib/angController/Lookup/organizationController.js"></script>
<script src="~/lib/ng-dropzone-2.0.2/dist/dropzone.js"></script>
<script src="~/lib/ng-dropzone-2.0.2/dist/ng-dropzone.js"></script>
    }