﻿@model Rolpo.Model.Contact

@{
	ViewBag.Title = "ContactUs";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
	<div class="container">
	 
		<div class="row margin-bottom-40">
			<!-- BEGIN CONTENT -->
			<div class="col-md-12">
				<h1>Page not found !!</h1>
				<div class="content-page">
					<div class="row">


						<div class="col-md-9 col-sm-9">
							<p>Page Not found.</p>
					  
							<!-- END FORM-->
						</div>
						<div class="col-md-3 col-sm-3 sidebar2">
							<h2>Our Contact</h2>
							<address class="margin-bottom-40">
								Rashi V. Muthal, DDS<br />
								520 S Saginaw Blvd,<br />
								Suite 200<br />
								Saginaw Tx 76179<br />
								682-710-1812<br />
								Email: <a href="mailto:info@ensuredental.com">info@ensuredental.com</a><br>
								Skype: <a href="skype:ensuredental">Ensure Dental</a>
							</address>
							<ul class="social-icons margin-bottom-40">
								<li><a href="javascript:;" data-original-title="facebook" class="facebook"></a></li>
								<li><a href="javascript:;" data-original-title="github" class="github"></a></li>
								<li><a href="javascript:;" data-original-title="Goole Plus" class="googleplus"></a></li>
								<li><a href="javascript:;" data-original-title="linkedin" class="linkedin"></a></li>
								<li><a href="javascript:;" data-original-title="rss" class="rss"></a></li>
							</ul>

						</div>
					</div>
				</div>
			</div>
			<!-- END CONTENT -->
		</div>
	</div>
</div>