﻿@using Rolpo.UI
<!DOCTYPE html>
<html data-ng-app="RolpoApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] :: A product of Rolpo Tech</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link href="~/theme/adminlte2.4.3/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/theme/adminlte2.4.3/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="~/theme/adminlte2.4.3/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <!-- jvectormap -->
    <link href="~/theme/adminlte2.4.3/jvectormap/jquery-jvectormap.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/theme/adminlte2.4.3/css/AdminLTE.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="~/theme/adminlte2.4.3/css/skins/_all-skins.css" rel="stylesheet" />

    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

    @RenderSection("css", required: false)


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


</head>
<body class="hold-transition skin-blue sidebar-mini" ng-cloak>
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index", "Dashboard")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>LMS</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>LMS</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            @Html.Partial("_LoginPartial")
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/images/user.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <text>@UserRights.FullName()</text>
                            }
                            else
                            { <span>Please login!</span> }
                        </p>

                        <a href="/Manage/Index"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>
                    @Html.Partial("~/Views/Shared/_Menus.cshtml")
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        @RenderBody()
        <!-- /.content-wrapper -->
        <footer class="main-footer">
           
            <strong>Copyright &copy;2018 </strong> <b> DuMoR Technologies</b>
        </footer>



    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/theme/adminlte2.4.3/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    
    <script src="~/theme/adminlte2.4.3/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/theme/adminlte2.4.3/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/theme/adminlte2.4.3/js/adminlte.min.js"></script>
    <!-- Sparkline -->
    <script src="~/theme/adminlte2.4.3/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- jvectormap  -->


    <script type="text/javascript">
		var serviceBase = '@System.Configuration.ConfigurationManager.AppSettings["baseUrl"].ToString()'
    </script>


    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script src="~/js/app.js"></script>

    <script type="text/javascript">
		var baseUrl = '@System.Configuration.ConfigurationManager.AppSettings["baseUrl"].ToString()' @*'@SessionExtensions.Current.organization.ServiceBaseUrl';*@
		$(document).ready(function () {
			//Set Menus
			$('[data-classid]').removeClass('active');
			$('[data-classid="@ViewBag.Current"]').addClass('active').closest("li.treeview").addClass('active');
			$('[data-classid="@ViewBag.Current"]').parent().parent().addClass('active');
		});

    </script>

    <script type="text/ng-template" id="customModalPopup">
        @{Html.RenderPartial("~/views/shared/_Modal.cshtml");}
    </script>


    @RenderSection("scripts", required: false)


</body>
</html>
