﻿@using System.Security.Principal


@if (User.Identity.IsAuthenticated) //(User.IsSignedIn())
{



	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<img src="~/images/user.png" class="user-image" alt="User Image">
		<span class="hidden-xs">@UserRights.FullName()</span>
	</a>
	<ul class="dropdown-menu">
		<!-- User image -->
		<li class="user-header">
			<img src="~/images/user.png" class="img-circle" alt="User Image">
			<p>
				@User.Identity.Name <br />
				 

			</p>
		</li>

		<!-- Menu Footer-->
		<li class="user-footer">
			@using (Html.BeginForm("LogOff", "Account", new { ReturnUrl = ViewBag.ReturnUrl, area = "" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()
				<div class="pull-left">

					<a class="btn btn-default btn-flat" href="@Url.Action("Index", "Manage")" title="Manage">Profile</a>
				</div>
				<div class="pull-right">
					<button type="submit" class="btn btn-default btn-flat">Log off</button>
				</div>

			}

		</li>
	</ul>
}
else
{

	<li><a href="~/Account/Login">Log in</a></li>
}




