﻿<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-ng-click="cancelEditing()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ memberActionTitle }}</h4>
            <small>Note: Fields with <span style="color:red;">*</span> are required</small>
        </div>
        <form role="form" name="formmember" class="form-horizontal" novalidate>
            <div class="modal-body">
                <div class="box-body">
                    <div class="alert alert-rolpo alert-dismissable" style='display:none;' id="Member_AddEditAlert"></div>

                    <div class="form-group" ng-class="{ 'has-error' : (formmember.tmFirstName.$invalid && !formmember.tmFirstName.$pristine) || invalid }">
                        <label class="control-label col-sm-3">First Name:<span style="color:red;">*</span> </label>
						<div class="col-sm-9">
							<input type="text" class="form-control" placeholder="FirstName" data-ng-model="member.FirstName" name="tmFirstName" required="" />
							<div ng-show="formmember.$submitted || formmember.tmFirstName.$touched">
								<p class="text-danger" ng-show="formmember.tmFirstName.$error.required">First Name is required.</p>
							</div>
						</div>
                      
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : (formmember.tmLastName.$invalid && !formmember.tmLastName.$pristine) || invalid }">
                        <label class="control-label col-sm-3">Last Name:<span style="color:red;">*</span> </label>
						<div class="col-sm-9">
							<input type="text" class="form-control" placeholder="LastName" data-ng-model="member.LastName" name="tmLastName" required="" />
							<div ng-show="formmember.$submitted || formmember.tmLastName.$touched">
								<p class="text-danger" ng-show="formmember.tmLastName.$error.required">Last Name is required.</p>
							</div>
						</div>
                      
                    </div>

					<div class="form-group">
						<label class="control-label col-sm-3">Company:</label>
						<div class="col-sm-9">
							<input type="text" name="CompanyName" class="form-control" placeholder="Company" ng-model="member.CompanyName" />
							<div ng-show="formmember.$submitted || formmember.CompanyName.$touched">
								<p class="text-danger" ng-show="formmember.CompanyName.$error.required">Company Name is required.</p>
							</div>
						</div>

					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">Department:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" placeholder="Department" data-ng-model="member.Department" name="tmDepartment" />

						</div>

					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">Address:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" placeholder="Address" data-ng-model="member.Address" name="tmAddress" />
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Position/Title:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" name="Position/Title" placeholder="Position" ng-model="member.Position" />
							<div ng-show="formmember.$submitted || formmember.Position.$touched">
								<p class="text-danger" ng-show="formmember.Position.$error.required">Position/Title is required.</p>
							</div>
						</div>

					</div>
                
                    <div class="form-group" ng-hide="member.Designation=='COORDINATOR'||member.Designation=='ASSISTANT COORDINATOR'">
                        <label class="control-label col-sm-3">Trainee Level: <span style="color:red;">*</span></label>
						<div class="col-sm-9">
                            <select ng-model="member.LevelId" class="form-control"  name="tmLevelId" ng-options="(item.Value*1) as item.Name for item in levels"><option value="">--Select --</option></select>
                            <div ng-show="formmember.$submitted || formmember.tmLevel.$touched">
                                <p class="text-danger" ng-show="formmember.tmLevel.$error.required">Trainee Level  is required.</p>
                            </div>						
						</div> 
                    </div>

					<div class="form-group" ng-class="{ 'has-error' : (formmember.tmPhone.$invalid && !formmember.tmPhone.$pristine) || invalid }">
						<label class="control-label col-sm-3">Phone:<span style="color:red;">*</span> </label>
						<div class="col-sm-9">
							<input type="text" class="form-control" placeholder="Phone" data-ng-model="member.Phone" name="tmPhone" required="" />
							<div ng-show="formmember.$submitted || formmember.tmPhone.$touched">
								<p class="text-danger" ng-show="formmember.tmPhone.$error.required">Phone is required.</p>
							</div>
						</div>

					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Mobile:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" placeholder="Mobile" data-ng-model="member.Mobile" name="tmMobile" />
						</div>
					</div>
                   
                    <div class="form-group" >
                        <label class="control-label col-sm-3">Primary Email:</label>
						<div class="col-sm-9">
							<input type="email" class="input-sm form-control" data-ng-model="member.PrimaryContactEmail" placeholder="Email" />
							<div ng-show="formmember.$submitted || formmember.tmPrimaryContactEmail.$touched">
								<p class="text-danger" ng-show="formmember.tmPrimaryContactEmail.$error.required">Primary Contact Email is required.</p>
							</div>
						</div>
                      
                    </div>
                    
                   
                    <div class="form-group">
                        <label class="control-label col-sm-3">Education:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" placeholder="Education" ng-model="member.Education" />
						</div>
                       
                    </div>
                  
                   
                    <div class="form-group">
                        <label class="control-label col-sm-3">Notes:  </label>
						<div class="col-sm-9">
							<textarea class="form-control" placeholder="Notes" data-ng-model="member.Notes" name="tmNotes"></textarea>
						</div>
                    </div>
					<div class="form-group">
						<label class="control-label col-sm-3">Image</label>
						<div class="col-sm-9">
							<ng-dropzone class="dropzone" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods"></ng-dropzone>
							<div id="ImageError" style="display:none;" class="callout"></div>
						</div> 
					</div>

                    <input type="hidden" data-ng-model="member.MemberId" />
                </div><!-- End of box-body -->
            </div><!-- End of modal-body -->
            <div class="modal-footer">
                <button type="button" class="btn flat btn-default pull-left" ng-click="cancelEditing()">Cancel</button>
                <button type="submit" class="btn flat btn-primary" ng-disabled="formmember.$invalid" ng-click="CreateUpdateMember(member.MemberId);">Save</button>
            </div>
        </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
