﻿@if (UserRights.IsCoordinator())
{
	<li class="treeview" data-classId="Admin_Courses">
		<a href="javascript:void(0);">
			<i class="fa  fa-book"></i> <span>Courses</span>
			<i class="fa fa-angle-left pull-right"></i>
		</a>
		<ul class="treeview-menu">
			<li data-classId="Admin_Courses_Summary"><a href="~/Courses/Index" title="Courses Summary"><i class="fa fa-bars"></i>Summary</a></li>
		</ul>
	</li>
	<li class="treeview" data-classId="Admin_Members">
		<a href="javascript:void(0);">
			<i class="fa fa-group"></i> <span>Members</span>
			<i class="fa fa-angle-left pull-right"></i>
		</a>
		<ul class="treeview-menu">
            <li data-classId="Admin_Members_Coordinators"><a href="@Url.Action("Coordinators","Members")" title="Coordinators Summary"><i class="fa fa-object-group"></i>Coordinators</a></li>
            <li data-classId="Admin_Members_AsstCoordinators"><a href="@Url.Action("AsstCoordinators","Members")" title="Assistant Coordinators Summary"><i class="fa fa-eye"></i>Assistant Coordinators</a></li>
			<li data-classId="Admin_Members_Trainees"><a href="@Url.Action("Trainee","Members")" title="Trainees Summary"><i class="fa fa-group"></i>Trainees</a></li>
			<li data-classId="Admin_Members_Trainers"><a href="@Url.Action("Trainer","Members")" title="Trainers Summary"><i class="fa fa-bullhorn"></i>Trainers</a></li>
            
           
            
		</ul>
	</li>
	<li class="treeview" data-classId="Admin_Batches">
		<a href="javascript:void(0);">
			<i class="fa  fa-graduation-cap"></i> <span>Batches</span>
			<i class="fa fa-angle-left pull-right"></i>
		</a>
		<ul class="treeview-menu">
			<li data-classId="Admin_Batches_Summary"><a href="~/Batch/Index" title="Batches Summary"><i class="fa fa-bars"></i>Summary</a></li>
		</ul>
	</li>
	<li class="treeview" data-classId="Admin_Reports">
		<a href="javascript:void(0);">
			<i class="fa   fa-file-excel-o"></i> <span>Reports</span>
			<i class="fa fa-angle-left pull-right"></i>
		</a>
		<ul class="treeview-menu">
			<li data-classId="Admin_Reports_Batches"><a href="@Url.Action("Batches","Report")" title="Batches Report"><i class="fa  fa-file-excel-o"></i>Batches</a></li>
			<li data-classId="Admin_Reports_TraineesList"><a href="@Url.Action("ListOfTrainees","Report")" title="Trainees List Report"><i class="fa  fa-file-excel-o"></i>Trainees Per Batch</a></li>
		</ul>
	</li>
	<li class="treeview" data-classId="Settings">
		<a href="javascript:void(0);">
			<i class="fa  fa-gear"></i> <span>Adminstration</span>
			<i class="fa fa-angle-left pull-right"></i>
		</a>
		<ul class="treeview-menu">
			<li data-classId="Settings_Organization"><a href="@Url.Action("Organization","Home")" title="Organiation Information"><i class="fa fa-industry"></i>Organization</a></li>
			<li data-classId="Settings_Account"><a alt="User List" href="@Url.Action("UserList","Manage")" title="Add Edit Users"><i class="fa fa-users"></i> Users </a></li>
			@if (UserRights.IsSuperAdmin())
			{
				<li data-classId="Settings_Course"><a href="@Url.Action("CourseCategory", "Lookup")" title="Categories and Sub categories"><i class="fa fa-cubes"></i>Categories</a></li>
				<li data-classId="Settings_CourseLevels"><a href="@Url.Action("CourseLevel", "Lookup")" title="Course levels"><i class="fa  fa-calculator"></i>Course Levels</a></li>
				<li data-classId="Settings_TraineeLevels"><a href="@Url.Action("TraineeLevel", "Lookup")" title="Media Types"><i class="fa fa-bullseye"></i>Trainee Level</a></li>
				 
					<li data-classId="Settings_Status"><a href="@Url.Action("Status", "Lookup")" title="Status"><i class="fa fa-check-square-o"></i>Status</a></li>
					<li data-classId="Settings_CoursePeriodType"><a href="@Url.Action("CoursePeriodType", "Lookup")" title="Period Types"><i class="fa fa-clock-o"></i>Period Types</a></li>
					<li data-classId="Settings_MediaTypes"><a href="@Url.Action("MediaTypes", "Lookup")" title="Media Types"><i class="fa fa-file-video-o"></i>Media Types</a></li>
 
			}

		</ul>
	</li>
}

