﻿
@{
	ViewData["Title"] = "Course Details";
	ViewBag.Current = "Admin_Courses_Summary";
}


<script type="text/javascript">
	var courseId = '@ViewBag.CourseId';
</script>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" data-ng-controller='courseAddEditController'>
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			<i class="fa  fa-book"></i> Course Details
			 
		</h1>
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="@Url.Action("Index", "Course")"><i class="fa  fa-book"></i> Course</a></li>
			<li class="active">Details</li>
		</ol>

	</section>
	<!-- Main content -->
	<section class="content">
		<!-- Info boxes -->
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="alert alert-rolpo alert-dismissable flat" style="display:none;"></div>
			</div><!-- /.col -->

		</div><!-- /.row -->
		<!-- Main row -->
		<!-- Anything comes here...-->
		<div class="box box-solid">
			<div class="box-header with-border">
				<div class="pull-right">
					<a href="~/Courses/View/{{Course.CourseId}}" class="btn btn-info flat"><i class="fa fa-mail-forward"></i> Back to view</a>
				</div>
			</div><!-- /.box-header -->
			<div class="box-body">
				<div class="alert alert-rolpo alert-dismissable flat" style="display:none;" id="courseMsg"></div>
				<div class="box-group" id="accordion">
					<!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
					<div class="panel box box-default box-solid flat">
						<div class="box-header with-border">
							<h4 class="box-title">
								<span data-toggle="collapse" href="#collapseOne" style="cursor:pointer;">
									<span>Course Summary</span>
								</span>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="row">
								<div class="col-md-12">
									<div class="panel box box-info">
										<div class="box-body">
											<label><i>Note:Fields with<span style="color:red;font-size:150%;">*</span>are compulsary.</i> </label><hr />
											<div class="col-sm-6 form-horizontal">
												
												<div class="form-group" ng-class="{ 'has-error' : (formcourse.tcCourseCode.$invalid && !formcourse.tcCourseCode.$pristine) || invalid }">
													<label class="control-label col-sm-3">Course Code:</label>
													<div class="col-sm-9">
														<input type="text" class="form-control" placeholder="Course Code" data-ng-model="Course.CourseCode" name="tcCourseCode" required="" />
														<div ng-show="formcourse.$submitted || formcourse.tcCourseCode.$touched">
															<p class="help-block" ng-show="formcourse.tcCourseCode.$error.required">Course Code is required.</p>
														</div>
													</div>
												</div>
												
												
												
												<div class="form-group" ng-class="{ 'has-error' : (formcourse.tcCourseShortName.$invalid && !formcourse.tcCourseShortName.$pristine) || invalid }">
													<label class="control-label col-sm-3">Short Name:</label>
													<div class="col-sm-9">
														<input type="text" class="form-control" placeholder="Short Name" data-ng-model="Course.CourseShortName" name="tcCourseShortName" required="" />
														<div ng-show="formcourse.$submitted || formcourse.tcCourseShortName.$touched">
															<p class="help-block" ng-show="formcourse.tcCourseShortName.$error.required">Short Name is required.</p>
														</div>
													</div>
												</div>

												<div class="form-group">
													<label class="control-label col-sm-3">Category:</label>
													<div class="col-sm-9">
														<ui-select ng-model="Course.CourseCategoryId" name="tcCourseCategoryId" title="Choose Course Category">
															<ui-select-match placeholder="Select or search category from the list...">{{$select.selected.Name}}</ui-select-match>
															<ui-select-choices repeat="(item.Value*1) as item in  coursecategoryddl| filter: $select.search">
																<span ng-bind-html="item.Name | highlight: $select.search"></span>
															</ui-select-choices>
														</ui-select>
													</div>
												</div>

												<div class="form-group">
													<label class="control-label col-sm-3">Trainee Levels:</label>
													<div class="col-sm-9">
														<ui-select multiple class="form-control" ng-model="Course.TraineeLevels" theme="bootstrap" sortable="true" close-on-select="false">
															<ui-select-match placeholder="Select trainee levels...">{{$item.Name}}</ui-select-match>
															<ui-select-choices repeat="item in traineelevelsddl | filter: $select.search">
																<div ng-bind-html="item.Name | highlight: $select.search"></div>
															</ui-select-choices>
														</ui-select>
													</div>
												</div>

												<div class="form-group">
													<label class="control-label col-sm-3">Description:</label>
													<div class="col-sm-9">
														<textarea class="form-control" ng-model="Course.CourseDescription"></textarea>

													</div>
												</div>
												
											</div>
											<div class="col-sm-6 form-horizontal">

												<div class="form-group" ng-class="{ 'has-error' : (formcourse.tcCourseFullName.$invalid && !formcourse.tcCourseFullName.$pristine) || invalid }">
													<label class="control-label col-sm-3">Course Name:</label>
													<div class="col-sm-9">
														<input type="text" class="form-control" placeholder="Course Name" data-ng-model="Course.CourseFullName" name="tcCourseFullName" required="" />
														<div ng-show="formcourse.$submitted || formcourse.tcCourseFullName.$touched">
															<p class="help-block" ng-show="formcourse.tcCourseFullName.$error.required">Course Name is required.</p>
														</div>
													</div>
												</div>

												<div class="form-group">
													<label class="control-label col-sm-3">Course Level:</label>
													<div class="col-sm-9">
														<ui-select ng-model="Course.CourseLevelId" name="tcCourseLevelId" title="Choose Course Level">
															<ui-select-match placeholder="Select or search level from the list...">{{$select.selected.Name}}</ui-select-match>
															<ui-select-choices repeat="(item.Value*1) as item in  courselevelddl| filter: $select.search">
																<span ng-bind-html="item.Name | highlight: $select.search"></span>
															</ui-select-choices>
														</ui-select>
													</div>
												</div>

												<div class="form-group">
													<label class="control-label col-sm-3">Sub-Category:</label>
													<div class="col-sm-9">
														<ui-select ng-model="Course.CourseSubCategoryId" name="tcCourseSubCategoryId" title="Choose Course Sub-Category">
															<ui-select-match placeholder="Select or search sub-category from the list...">{{$select.selected.Name}}</ui-select-match>
															<ui-select-choices repeat="(item.Value*1) as item in  subcategoryddl| filter: $select.search">
																<span ng-bind-html="item.Name | highlight: $select.search"></span>
															</ui-select-choices>
														</ui-select>
													</div>
												</div>
												
												<div class="form-group">
													<label class="control-label col-sm-3">Duration:</label>
													<div class="col-sm-3">
														<input type="number" class="form-control" placeholder="Duration" data-ng-model="Course.CoursePeriod" name="tcCoursePeriod" />
													</div>
													<div class="col-sm-4">
														<ui-select ng-model="Course.CoursePeriodTypeId" name="tcCoursePeriodTypeId" title="Choose Duration Type">
															<ui-select-match placeholder="Select duration type">{{$select.selected.Name}}</ui-select-match>
															<ui-select-choices repeat="(item.Value*1) as item in  periodtypeddl| filter: $select.search">
																<span ng-bind-html="item.Name | highlight: $select.search"></span>
															</ui-select-choices>
														</ui-select>
													</div>
												</div>
												
												@*<div class="form-group">
													<label class="control-label col-sm-3">Level Description:</label>
													<div class="col-sm-9">
														<textarea class="form-control" ng-model="Course.TraineeLevelDesc"></textarea>
													</div>
												</div>*@
											</div>

											<div class="col-sm-12 form-horizontal">

												<div class="form-group">
													<label class="control-label">Content:</label>

													<textarea ng-model="Course.CourseContent" data-ck-editor name="tppageContent"></textarea>
												</div>
											</div>
                                        <div class="col-sm-12">
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary btn-flat" ng-disabled="formcourse.$invalid" ng-click="UpdateCourse();">Save</button>
                                            </div>
                                        </div>
											
										</div><!-- /.box-body -->
										<div class="overlay" ng-show="loading_course">
											<i class="fa fa-refresh fa-spin"></i>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
					<div class="panel box box-default box-solid flat">
						<div class="box-header with-border">
							<h4 class="box-title">
								<span data-toggle="collapse" href="#collapseTwo" style="cursor:pointer;">
									Modules
								</span>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse in">
							<div class="alert alert-rolpo alert-dismissable flat" style="display:none;" id="moduleMsg"></div>
							<div class="box-body">
								<div class="row">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="box">
											<div class="box-header">
												<h3 class="box-title">{{Course.CourseShortName}}</h3>
											</div><!-- /.box-header -->
											<div class="box-body table-responsive">

												<div class="row">
													<div class="col-sm-12 table-responsive">
														<table class="table table-bordered table-striped">
															<thead>
																<tr>
																	<th>SN.</th>
																	<th>Title</th>
																	<th>Description</th>
																	<th>Duration</th>
																	<th>Actions</th>
																</tr>
															</thead>
															<tbody ng-show="modules.length > 0">
																<tr ng-repeat="module in modules">
																	<td>{{$index+1}}</td>
																	<td>{{module.ModuleTitle}}</td>
																	<td>{{module.ModuleDescription}}</td>
																	<td><b>{{module.ModulePeriod}} </b> {{module.PeriodTypeName}}</td>
 																	<td>
																		<a href="javascript:;" data-ng-click="OpenModulesUpdateDialog(module.ModuleId);" class="btn btn-info btn-xs btn-flat" title="Edit"><i class="fa fa-edit"></i></a>
																		<a href="javascript:;" data-ng-click="DeleteModules(module.ModuleId);" class="btn btn-danger btn-xs btn-flat" title="Delete"><i class="fa fa-trash"></i></a>
																	</td>
																</tr>
															</tbody>
															<tr data-ng-hide="modules.length > 0">
																<td colspan="7" class="text-center">
																	<p>No records found.</p>
																</td>
															</tr>
														 
														</table>
													</div>
												</div><!-- /.row -->

												<div class="row">
													<div class="col-sm-2 hidden-xs" data-ng-show="ModulesPageInfo.Has_record">
														<ul class="pagination no-margin pull-left">
															<li>
																<select data-ng-model="tmfilter.PageSize" data-ng-change="OnModulesPageSizeChanged()">
																	<option value="10">10</option>
																	<option value="20">20</option>
																	<option value="30">30</option>
																</select>
															</li>
														</ul>
													</div>
													<div class="col-sm-4 hidden-xs" data-ng-show="ModulesPageInfo.Has_record">
														<div>Showing <b>{{ModulesPageInfo.PageStart}}</b> to <b>{{ModulesPageInfo.PageEnd}}</b> of <b>{{ModulesPageInfo.TotalItems}}</b> entries</div>
													</div>
													<div class="col-sm-6" data-ng-show="ModulesPageInfo.Has_record">
														<uib-pagination total-items="ModulesPageInfo.TotalItems" class="pagination  no-margin pull-right" ng-model="tmfilter.PageNumber" ng-change="OnModulesPageChanged()" items-per-page="tmfilter.PageSize"></uib-pagination>
													</div>
												</div><!-- /.row --> 
											</div><!-- /.box-body -->
										</div><!-- /.box -->
									</div>
								</div>
							</div>
							<div class="box-footer">
								<button type="submit" class="btn btn-primary btn-sm flat" ng-click="OpenModulesSaveDialog()">Add New Module</button>
							</div>
						</div>
						<div class="overlay" ng-show="loading_module">
							<i class="fa fa-refresh fa-spin"></i>
						</div>
					</div>
					<div class="panel box box-default box-solid flat">
						<div class="box-header with-border">
							<h4 class="box-title">
								<span data-toggle="collapse" href="#collapseThree" style="cursor:pointer;">
									Course Medias
								</span>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse in">
							<div class="alert alert-rolpo alert-dismissable flat" style="display:none;" id="mediaMsg"></div>
							<div class="box-body">
								<div class="row">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="box">
											<div class="box-header">
												<h3 class="box-title">{{Course.CourseShortName}}</h3>
											</div><!-- /.box-header -->
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="alert alert-rolpo alert-dismissable" style='display:none;' id="CourseMedia_alert"></div>
                                                </div><!-- /.col -->
                                            </div>
											<div class="box-body table-responsive">
                                                <!-- Main row -->
                                                <div class="row">
                                                    <div class="col-md-12">

                                                        <div class="row">
                                                            <div class="col-sm-12 table-responsive">
                                                                <table class="table table-bordered table-striped">
                                                                    <thead>
                                                                        <tr>

																			<th>Media Type</th>
																			<th>Summary</th>
																			<th>Module</th>
                                                                            <th>Media URL</th>

                                                                            <th>Actions</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody ng-show="coursemedias.length > 0">
                                                                        <tr ng-repeat="coursemedia in coursemedias">
																			<td>{{coursemedia.MediaTypeName}}</td>
																			<td>{{coursemedia.Remarks}}</td>
                                                                            <td>{{coursemedia.Module}}</td>
                                                                            <td><a href="{{coursemedia.MediaURL}}" target="_blank"><i class="fa fa-link"></i> View</a> </td>
                                                                           
                                                                            <td>
                                        <a href="javascript:;" data-ng-click="OpenCourseMediaUpdateDialog(coursemedia.CourseMediaId);" class="btn flat btn-info btn-xs" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a href="javascript:;" data-ng-click="DeleteCourseMedia(coursemedia.CourseMediaId);" class="btn flat btn-danger btn-xs" title="Delete"><i class="fa fa-trash"></i></a>
                                    </td>
                                                                        </tr>
                                                                    </tbody>
                                                                    <tr data-ng-hide="coursemedias.length > 0">
                                                                        <td colspan="3" class="text-center">
                                                                            <p>No records found.</p>
                                                                        </td>
                                                                    </tr>
                                                                     
                                                                </table>
                                                            </div>
                                                        </div><!-- /.row -->

                                                        <div class="row">
                                                            <div class="col-sm-2 hidden-xs" data-ng-show="CourseMediaPageInfo.Has_record">
                                                                <ul class="pagination no-margin pull-left">
                                                                    <li>
                                                                        <select data-ng-model="tcfilter.PageSize" data-ng-change="OnCourseMediaPageSizeChanged()">
                                                                            <option value="10">10</option>
                                                                            <option value="20">20</option>
                                                                            <option value="30">30</option>
                                                                        </select>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-4 hidden-xs" data-ng-show="CourseMediaPageInfo.Has_record">
                                                                <div>Showing <b>{{CourseMediaPageInfo.PageStart}}</b> to <b>{{CourseMediaPageInfo.PageEnd}}</b> of <b>{{CourseMediaPageInfo.TotalItems}}</b> entries</div>
                                                            </div>
                                                            <div class="col-sm-6" data-ng-show="CourseMediaPageInfo.Has_record">
                                                                <uib-pagination total-items="CourseMediaPageInfo.TotalItems" class="pagination  no-margin pull-right" ng-model="tcfilter.PageNumber" ng-change="OnCourseMediaPageChanged()" items-per-page="tcfilter.PageSize"></uib-pagination>
                                                            </div>
                                                        </div><!-- /.row -->


                                                        <div class="overlay" ng-show="loading">
                                                            <i class="fa fa-refresh fa-spin"></i>
                                                        </div>

                                                    </div>
                                                </div><!-- /.row  Main row ends here..-->

											</div><!-- /.box-body -->
										</div><!-- /.box -->
									</div>
								</div>
							</div>
							<div class="box-footer">
								<button type="submit" class="btn btn-info btn-sm flat" ng-click="OpenCourseMediaSaveDialog()">Add New Media</button>
							</div>
						</div>
						<div class="overlay" ng-show="loading_coursemedias">
							<i class="fa fa-refresh fa-spin"></i>
						</div>
					</div>
					
				</div>
			</div><!-- /.box-body -->

		</div><!-- /.box -->


	</section><!-- /.content -->

</div>



<script type="text/ng-template" id="customUpdateModule">
	<div class="modal-dialog1">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-ng-click="cancelEditing()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ moduleActionTitle }}</h4>
			</div>
			<form role="form" name="formmodule" class="form-horizontal" novalidate>
				<div class="modal-body">
					<div class="box-body">
						<label><i>Note:Fields with<span style="color:red;font-size:150%;">*</span>are compulsary.</i> </label><hr />

						<div class="alert alert-rolpo alert-dismissable" style='display:none;' id="Modules_AddEditAlert"></div>

						<div class="form-group" ng-class="{ 'has-error' : (formmodule.tmModuleTitle.$invalid && !formmodule.tmModuleTitle.$pristine) || invalid }">
							<label class="control-label col-sm-3">Title: <span style="color:red;font-size:150%;">*</span></label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="Title" data-ng-model="module.ModuleTitle" name="tmModuleTitle" required="" />
								<div ng-show="formmodule.$submitted || formmodule.tmModuleTitle.$touched">
									<p class="help-block" ng-show="formmodule.tmModuleTitle.$error.required">Title is required.</p>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">Description:</label>
							<div class="col-sm-9">
								<textarea ng-model="module.ModuleDescription" class="form-control"></textarea>
  							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-sm-3">Duration:</label>
							<div class="col-sm-3">
								<input type="number" class="form-control" placeholder="Duration" data-ng-model="module.ModulePeriod" name="tmModulePeriod" />
							</div>
							<div class="col-sm-4">
								<ui-select ng-model="module.ModulePeriodTypeId" name="tmModulePeriodTypeId" title="Choose Duration Type">
									<ui-select-match placeholder="Select duration type">{{$select.selected.Name}}</ui-select-match>
									<ui-select-choices repeat="(item.Value*1) as item in  periodtypeddl| filter: $select.search">
										<span ng-bind-html="item.Name | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
					 
						<div class="form-group">
							<label class="control-label col-sm-3">Content:</label>
						</div>
						<div class="form-group">
							<textarea ng-model="module.ModuleContent" data-ck-editor name="tmModuleContent"></textarea>
						</div>
						<input type="hidden" data-ng-model="module.ModuleId" />
					</div><!-- End of box-body -->
				</div><!-- End of modal-body -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left btn-flat" ng-click="cancelEditing()">Cancel</button>
					<button type="submit" class="btn btn-primary btn-flat" ng-disabled="formmodule.$invalid" ng-click="CreateUpdateModules(module.ModuleId);">Save</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</script> 

<!--course media update dialog-->
<script type="text/ng-template" id="customUpdateCourseMedia"> 
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-ng-click="cancelEditing()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ coursemediaActionTitle }}</h4>
                <small>Note: Fields with <span style="color:red;font-size:90%">*</span> are required. </small>
            </div>
            <form role="form" name="formcoursemedia" novalidate>
                <div class="modal-body">
                    <div class="box-body"> 
                        <div class="alert alert-rolpo alert-dismissable" style='display:none;' id="CourseMedia_AddEditAlert"></div>
                        <div class="form-group" ng-class="{ 'has-error' : (formcoursemedia.tcMediaType.$invalid && !formcoursemedia.tcMediaType.$pristine) || invalid }">
                            <label class="control-label">Media Type: <span style="color:red;font-size:90%">*</span></label>
							<ui-select ng-model="coursemedia.MediaType" name="tcMediaType" title="Choose Media Type">
								<ui-select-match placeholder="Select media type">{{$select.selected.Name}}</ui-select-match>
								<ui-select-choices repeat="(item.Value*1)  as item in medias| filter: $select.search">
									<span ng-bind-html="item.Name | highlight: $select.search"></span>
								</ui-select-choices>
							</ui-select>

                             <div ng-show="formcoursemedia.$submitted || formcoursemedia.tcMediaType.$touched">
                                <p class="text-danger" ng-show="formcoursemedia.tcMediaType.$error.required">Media Type is required.</p>
                            </div>
                        </div>
                        <div id="myselector" class="form-group">
                            <label class="control-label">Module: </label>
 							<ui-select ng-model="coursemedia.TopicId" name="tcTopicId" title="Choose module">
								<ui-select-match placeholder="Select Module">{{$select.selected.Name}}</ui-select-match>
								<ui-select-choices repeat="(item.Value*1) as item in topics| filter: $select.search">
									<span ng-bind-html="item.Name | highlight: $select.search"></span>
								</ui-select-choices>
							</ui-select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" ng-show="showFileOption">File:</label>
                            <div>
                                <div class="row">
                                    <div class="col-md-6" ng-show="showFileOption">
                                        <input type="file" class="form-control" name="file" onchange="angular.element(this).scope().selectFileforUpload(this.files);" />
                                        <a href="{{coursemedia.MediaURL}}" ng-show="coursemedia.hasfile"><i class="fa fa-file"></i>Download file </a>
                                        <a href="javascript:;" ng-click="SaveFile()" ng-show="showuploadBtn" class="btn btn-primary">Upload</a>

                                    </div>
                                    <div class="col-md-6">
                                        <a href="javascript:;" ng-click="AddUrl()" ng-show="showFileOption" class="btn  btn-primary">ADD URL</a>
                                        <a href="javascript:;" ng-click="AddFile()" ng-show="!showFileOption" class="btn  btn-default">ADD FILE</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group" ng-hide="showFileOption" ng-class="{ 'has-error' : (formcoursemedia.tcMediaURL.$invalid && !formcoursemedia.tcMediaURL.$pristine) || invalid }">
                            <label class="control-label">URL:</label>
                            <input type="text" class="form-control" placeholder="MediaURL" data-ng-model="coursemedia.MediaURL" name="tcMediaURL" required="" />
                            <div ng-show="formcoursemedia.$submitted || formcoursemedia.tcMediaURL.$touched">
                                <p class="text-danger" ng-show="formcoursemedia.tcMediaURL.$error.required">Url is required.</p>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : (formcoursemedia.tcRemarks.$invalid && !formcoursemedia.tcRemarks.$pristine) || invalid }">
                            <label class="control-label">Summary : <span style="color:red;font-size:90%">*</span></label>
                            <textarea rows="4" class="form-control" placeholder="Summary" data-ng-model="coursemedia.Remarks" name="tcRemarks" required=""></textarea>

                            <div ng-show="formcoursemedia.$submitted || formcoursemedia.tcRemarks.$touched">
                                <p class="text-danger" ng-show="formcoursemedia.tcRemarks.$error.required">Summary is required.</p>
                            </div>
                        </div>
                        <input type="hidden" data-ng-model="coursemedia.CourseMediaId" />
                    </div><!-- End of box-body -->
                </div><!-- End of modal-body -->
                <div class="modal-footer">
                    <button type="button" class="btn flat btn-default pull-left" ng-click="cancelEditing()">Cancel</button>
                    <button type="submit" class="btn flat btn-primary" ng-disabled="formcoursemedia.$invalid" ng-click="CreateUpdateCourseMedia(coursemedia.CourseMediaId);">Save</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</script>
<!--course media update dialog-->

@section css{
	<link href="~/lib/angular-ui-select/dist/select.min.css" rel="stylesheet" />

}

@section Scripts {
	<!-- Select 2 -->
	<script src="~/lib/angular-ui-select/dist/select.min.js"></script>

	<script src="//cdn.ckeditor.com/4.5.6/standard/ckeditor.js"></script>
	<script src="~/lib/CKeditor/ng-ckeditor.min.js"></script> 
<script src="~/lib/angController/Course/courseAddEditController.js"></script>
}
