﻿<!-- Auto Page By: Prashant -->
<!-- Created On: 21/06/2018 -->
<!-- HTML for Course -->
@{
	ViewData["Title"] = "Course List:: Rolpo";
	ViewBag.Current = "Admin_Courses_Summary";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" data-ng-controller='courseController'>
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			<i class="fa  fa-book"></i> Courses
			 
		</h1>
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li> 
			<li class="active">Summary</li>
		</ol>
	</section>
	<!-- Main content -->
	<section class="content">
		<!-- Info boxes -->
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="alert alert-rolpo alert-dismissable" style='display:none;' id="Course_alert"></div>
			</div><!-- /.col -->
		</div><!-- /.row -->
		<!-- Main row -->
		<div class="row">
			<div class="col-md-12">
				<div class="box box-info">
					<div class="box-header with-border">
						<div class="box-success clearfix">
							<a class="btn btn-sm btn-info btn-flat pull-left" href="javascript:; " data-ng-click="OpenCourseSaveDialog()">Add new Course</a>
						</div><!-- /.box-success -->
					</div><!-- /.box-header -->
					<div class="box-body">
						<div class="box">
							<div class="box-header with-border">
								<h3 class="box-title">Filter</h3>
							</div><!-- /.box-header -->
							<!-- form start -->
							<div class="box-body">
								<table class="table table-responsive table-striped">
									<tr>
										<td>Course Name:</td>
										<td><input type="text" class="form-control" data-ng-model="tcfilter.CourseFullName"  ng-enter="GetCourseByFilter()" placeholder="Course Name" /></td>
										<td>
											<button type="submit" class="btn btn-primary btn-flat" data-ng-click="GetCourseByFilter()">Filter</button>
											<button type="submit" class="btn btn-warning btn-flat" data-ng-click="ResetCourseFilter()">Clear</button>
										</td>
									<tr>
								</table>
							</div><!-- /.box-body -->
						</div><!-- /.box for filter-->
						<div class="row">
							<div class="col-sm-12 table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th style="width:150px;">Course-Code | Name</th> 
											<th>Category|Sub-Category</th>
											<th>Course Level</th> 
											<th>Duration</th>
											<th>Description</th>
											<th style="width:120px;">Actions</th>
										</tr>
									</thead>
									<tbody ng-show="courses.length > 0">
										<tr ng-repeat="course in courses">
											<td>
												<b>{{course.CourseCode|uppercase}}</b><br />
												<i>{{course.CourseFullName}}</i>  
											</td>
											 
											
											<td>
												<b>{{course.CourseCategory}}</b> <br />
												{{course.CourseSubCategory}}
												
											</td>
											<td>{{course.LevelName}}</td> 
											<td><b>{{course.CoursePeriod}} </b> {{course.PeriodTypeName}}</td>
											<td>
                                                <div ng-bind-html="course.CourseContent | trust"></div> 
                                            </td>
											<td>
												<a href="javascript:;" data-ng-click="OpenCourseUpdateDialog(course.CourseId);" class="btn btn-info btn-xs btn-flat" title="Edit"><i class="fa fa-edit"></i></a>
												<a href="javascript:;" data-ng-click="DeleteCourse(course.CourseId);" class="btn btn-danger btn-xs btn-flat" title="Delete"><i class="fa fa-trash"></i></a>
												<a href="~/Courses/View/{{course.CourseId}}" class="btn btn-success btn-xs btn-flat" style="margin-top:2px;" title="Details"><i class="fa fa-bars"></i></a>
											</td>
										</tr>
									</tbody>
									<tr data-ng-hide="courses.length > 0">
										<td colspan="8" class="text-center">
											<p>No records found.</p>
										</td>
									</tr>
								
								</table>
							</div>
						</div><!-- /.row -->

						<div class="row">
							<div class="col-sm-2 hidden-xs" data-ng-show="CoursePageInfo.Has_record">
								<ul class="pagination no-margin pull-left">
									<li>
										<select data-ng-model="tcfilter.PageSize" data-ng-change="OnCoursePageSizeChanged()">
											<option value="10">10</option>
											<option value="20">20</option>
											<option value="30">30</option>
										</select>
									</li>
								</ul>
							</div>
							<div class="col-sm-4 hidden-xs" data-ng-show="CoursePageInfo.Has_record">
								<div>Showing <b>{{CoursePageInfo.PageStart}}</b> to <b>{{CoursePageInfo.PageEnd}}</b> of <b>{{CoursePageInfo.TotalItems}}</b> entries</div>
							</div>
							<div class="col-sm-6" data-ng-show="CoursePageInfo.Has_record">
								<uib-pagination total-items="CoursePageInfo.TotalItems" class="pagination  no-margin pull-right" ng-model="tcfilter.PageNumber" ng-change="OnCoursePageChanged()" items-per-page="tcfilter.PageSize"></uib-pagination>
							</div>
						</div><!-- /.row -->

					</div><!-- /.box-body -->
					<div class="overlay" ng-show="loading">
						<i class="fa fa-refresh fa-spin"></i>
					</div>
				</div><!-- /.box-info /.box -->
			</div>
		</div><!-- /.row  Main row ends here..-->
	</section><!-- /.content -->
</div><!-- /.content-wrapper -->


<script type="text/ng-template" id="customUpdateCourse">
	@*@{Html.RenderPartial("~/views/shared/_course.cshtml");}*@
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-ng-click="cancelEditing()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ courseActionTitle }}</h4>
			</div>
			<form role="form" name="formcourse" class="form-horizontal" novalidate>
				<div class="modal-body">
					<div class="box-body">
						<div class="alert alert-rolpo alert-dismissable" style='display:none;' id="Course_AddEditAlert"></div>
						<div class="form-group" ng-class="{ 'has-error' : (formcourse.tcCourseFullName.$invalid && !formcourse.tcCourseFullName.$pristine) || invalid }">
							<label class="control-label col-sm-3">Course Name:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="Course Name" data-ng-model="course.CourseFullName" name="tcCourseFullName" required="" />
								<div ng-show="formcourse.$submitted || formcourse.tcCourseFullName.$touched">
									<p class="help-block" ng-show="formcourse.tcCourseFullName.$error.required">Course Name is required.</p>
								</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : (formcourse.tcCourseCode.$invalid && !formcourse.tcCourseCode.$pristine) || invalid }">
							<label class="control-label col-sm-3">Course Code:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="Course Code" data-ng-model="course.CourseCode" name="tcCourseCode" required="" />
								<div ng-show="formcourse.$submitted || formcourse.tcCourseCode.$touched">
									<p class="help-block" ng-show="formcourse.tcCourseCode.$error.required">Course Code is required.</p>
								</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : (formcourse.tcCourseShortName.$invalid && !formcourse.tcCourseShortName.$pristine) || invalid }">
							<label class="control-label col-sm-3">Short Name:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="Short Name" data-ng-model="course.CourseShortName" name="tcCourseShortName" required="" />
								<div ng-show="formcourse.$submitted || formcourse.tcCourseShortName.$touched">
									<p class="help-block" ng-show="formcourse.tcCourseShortName.$error.required">Short Name is required.</p>
								</div>
							</div>
						</div>
						@*<div class="form-group">
							<label class="control-label col-sm-3">Description:</label>
							<div class="col-sm-9">
								<textarea class="form-control" ng-model="course.CourseDescription"></textarea>
								 
							</div>
						</div>*@
						<div class="form-group">
							<label class="control-label col-sm-3">Category:</label>
							<div class="col-sm-9">
 								<ui-select ng-model="course.CourseCategoryId" ng-change="OnCategoryChanged(course.CourseCategoryId)" name="tcCourseCategoryId" title="Choose Course Category">
									<ui-select-match  placeholder="Select or search category from the list...">{{$select.selected.Name}}</ui-select-match>
									<ui-select-choices repeat="(item.Value*1) as item in  coursecategoryddl| filter: $select.search">
										<span ng-bind-html="item.Name | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">Sub-Category:</label>
							<div class="col-sm-9">
								<ui-select ng-model="course.CourseSubCategoryId" ng-disabled="!course.CourseCategoryId" name="tcCourseSubCategoryId" title="Choose Course Sub-Category">
									<ui-select-match placeholder="Select or search sub-category from the list...">{{$select.selected.Name}}</ui-select-match>
									<ui-select-choices repeat="(item.Value*1) as item in  subcategoryddl| filter: $select.search">
										<span ng-bind-html="item.Name | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">Course Level:</label>
							<div class="col-sm-9">
 								<ui-select ng-model="course.CourseLevelId" name="tcCourseLevelId" title="Choose Course Level">
									<ui-select-match placeholder="Select or search level from the list...">{{$select.selected.Name}}</ui-select-match>
									<ui-select-choices repeat="(item.Value*1) as item in  courselevelddl| filter: $select.search">
										<span ng-bind-html="item.Name | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">Duration:</label>
							<div class="col-sm-3">
								<input type="number" class="form-control" placeholder="Duration" data-ng-model="course.CoursePeriod" name="tcCoursePeriod"/>
						 	</div>
							<div class="col-sm-4">
								<ui-select ng-model="course.CoursePeriodTypeId" name="tcCoursePeriodTypeId" title="Choose Duration Type">
									<ui-select-match placeholder="Select duration type">{{$select.selected.Name}}</ui-select-match>
									<ui-select-choices repeat="(item.Value*1) as item in  periodtypeddl| filter: $select.search">
										<span ng-bind-html="item.Name | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>				
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">Trainee Levels:</label>
							<div class="col-sm-9">
								<ui-select multiple class="form-control" ng-model="course.TraineeLevels" theme="bootstrap" sortable="true" close-on-select="false">
									<ui-select-match placeholder="Select trainee levels...">{{$item.Name}}</ui-select-match>
									<ui-select-choices repeat="item in traineelevelsddl | filter: $select.search">
										<div ng-bind-html="item.Name | highlight: $select.search"></div>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
						@*<div class="form-group">
							<label class="control-label col-sm-3">Level Description:</label>
							<div class="col-sm-9">
								<textarea class="form-control" ng-model="course.TraineeLevelDesc"></textarea>
							</div>
						</div>*@
						<div class="form-group">
							<label class="control-label">Summary:</label>
							 
								<textarea ng-model="course.CourseContent" data-ck-editor name="tppageContent"></textarea>  
						</div>
					
						<input type="hidden" data-ng-model="course.CourseId" />
					</div><!-- End of box-body -->
				</div><!-- End of modal-body -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left btn-flat" ng-click="cancelEditing()">Cancel</button>
					<button type="submit" class="btn btn-primary btn-flat" ng-disabled="formcourse.$invalid" ng-click="CreateUpdateCourse(course.CourseId);">Save</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</script>

@section css{
	<link href="~/lib/angular-ui-select/dist/select.min.css" rel="stylesheet" />

	}

@section Scripts {
	<!-- Select 2 -->
<script src="~/lib/angular-ui-select/dist/select.min.js"></script> 

<script src="//cdn.ckeditor.com/4.5.6/standard/ckeditor.js"></script>
<script src="~/lib/CKeditor/ng-ckeditor.min.js"></script>
	<script src="~/lib/angController/Course/courseController.js"></script>
}
