﻿
@{
	ViewData["Title"] = "Course Details";
	ViewBag.Current = "Admin_Courses_Summary";
}


<script type="text/javascript">
	var courseId = '@ViewBag.CourseId';
</script>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" data-ng-controller='courseViewController'>
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			<i class="fa  fa-book"></i> Course Details
			 
		</h1>
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="@Url.Action("Index", "Course")"><i class="fa  fa-book"></i> Course</a></li>
			<li class="active">Details</li>
		</ol>

	</section>
	<!-- Main content -->
	<section class="content">
		<!-- Info boxes -->
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="alert alert-rolpo alert-dismissable flat" style="display:none;"></div>
			</div><!-- /.col -->

		</div><!-- /.row -->
		<!-- Main row -->
		<!-- Anything comes here...-->
		<div class="box box-solid">
			<div class="box-header with-border">
				<div class="pull-right">
					<a href="~/Courses/AddEdit/{{Course.CourseId}}" class="btn btn-info flat"><i class="fa fa-edit"></i> Edit</a>

					<a href="~/Courses/Index" class="btn btn-info flat"><i class="fa fa-mail-forward"></i> Back to List</a>
				</div>
			</div><!-- /.box-header -->
			<div class="box-body">
				<div class="alert alert-rolpo alert-dismissable flat" style="display:none;" id="courseMsg"></div>
				<div class="box-group" id="accordion">
					<!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
					<div class="panel box box-default box-solid flat">
						<div class="box-header with-border">
							<h4 class="box-title">
								<span data-toggle="collapse" href="#collapseOne" style="cursor:pointer;">
									<span>Course Summary</span>
								</span>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="row">
								<div class="col-md-12">
									<div class="panel box box-info">
										<div class="box-body">
											<div class="col-sm-6 form-horizontal">
												<div class="form-group">
													<label class="control-label col-sm-3">Course Code:</label>
													<div class="col-sm-9">
														<span class="form-control disabled">{{Course.CourseCode}}</span>

													</div>
												</div>
												 
												<div class="form-group">
													<label class="control-label col-sm-3">Short Name:</label>
													<div class="col-sm-9">
														<span class="form-control disabled">{{Course.CourseShortName}}</span>
														 
													</div>
												</div>

												<div class="form-group">
													<label class="control-label col-sm-3">Category:</label>
													<div class="col-sm-9">
														<span class="form-control disabled">{{Course.CourseCategory}}</span>

													</div>
												</div>

												<div class="form-group">
													<label class="control-label col-sm-3">Trainee Levels:</label>
													<div class="col-sm-9">
														<span ng-repeat="itm in Course.TraineeLevels">
															<span class="label bg-green ng-binding">{{itm.Name}}</span>
														</span>

													</div>
												</div>

												<div class="form-group">
													<label class="control-label col-sm-3">Description:</label>
													<div class="col-sm-9">
														<span class="text-muted">{{Course.CourseDescription}}</span>
													</div>
												</div>
												
											</div>
											<div class="col-sm-6 form-horizontal">


												<div class="form-group">
													<label class="control-label col-sm-3">Course Name:</label>
													<div class="col-sm-9">
														<span class="form-control disabled">{{Course.CourseFullName}}</span>
													</div>
												</div>

												<div class="form-group">
													<label class="control-label col-sm-3">Course Level:</label>
													<div class="col-sm-9">
														<span class="form-control disabled">{{Course.LevelName}}</span>

													</div>
												</div>

												<div class="form-group">
													<label class="control-label col-sm-3">Sub-Category:</label>
													<div class="col-sm-9">
														<span class="form-control disabled">{{Course.CourseSubCategory}}</span>

													</div>
												</div>
												
												<div class="form-group">
													<label class="control-label col-sm-3">Duration:</label>
													<div class="col-sm-9">
														<span class="form-control disabled"><b>{{Course.CoursePeriod}} </b> {{Course.PeriodTypeName}}</span>
														 							 
													</div>
												</div>
												
												@*<div class="form-group">
													<label class="control-label col-sm-3">Level Description:</label>
													<div class="col-sm-9">
														<span class="text-muted">{{Course.TraineeLevelDesc}}</span> 
 													</div>
												</div>*@
											</div>

											<div class="col-sm-12 form-horizontal">

												<div class="form-group">
 													<div ng-bind-html="Course.CourseContent | trust"></div> 
												</div>
											</div>
										 
										</div><!-- /.box-body -->
										<div class="overlay" ng-show="loading_course">
											<i class="fa fa-refresh fa-spin"></i>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
					<div class="panel box box-default box-solid flat">
						<div class="box-header with-border">
							<h4 class="box-title">
								<span data-toggle="collapse" href="#collapseTwo" style="cursor:pointer;">
									Modules
								</span>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse in">
							<div class="alert alert-rolpo alert-dismissable flat" style="display:none;" id="moduleMsg"></div>
							<div class="box-body">
								<div class="row">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="box">
											<div class="box-header">
												<h3 class="box-title">{{Course.CourseShortName}}</h3>
											</div><!-- /.box-header -->
											<div class="box-body table-responsive">

												<div class="row">
													<div class="col-sm-12 table-responsive" ng-repeat="module in modules">
														<div class="box box-solid">
															<div class="box-header with-border">
																<i class="fa fa-text-width"></i>

																<h3 class="box-title">{{$index+1}}. {{module.ModuleTitle}}</h3>
															</div>
															<!-- /.box-header -->
															<div class="box-body">
																<dl>
																	<dt>Description</dt>
																	<dd>{{module.ModuleDescription}}</dd>
																	<dt>Duration</dt>
																	<dd><b>{{module.ModulePeriod}} </b> {{module.PeriodTypeName}}</dd>
																	 
																	<dt>Content</dt>
																	<dd>
																		<div ng-bind-html="module.ModuleContent | trust"></div> 
																	</dd>
																</dl>
															</div>
															<!-- /.box-body -->
														</div>

														 
													</div>
												</div><!-- /.row -->

												 
											</div><!-- /.box-body -->
										</div><!-- /.box -->
									</div>
								</div>
							</div>
						 
						</div>
						<div class="overlay" ng-show="loading_module">
							<i class="fa fa-refresh fa-spin"></i>
						</div>
					</div>
					<div class="panel box box-default box-solid flat">
						<div class="box-header with-border">
							<h4 class="box-title">
								<span data-toggle="collapse" href="#collapseThree" style="cursor:pointer;">
									Course Medias
								</span>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse in">
							<div class="alert alert-rolpo alert-dismissable flat" style="display:none;" id="mediaMsg"></div>
							<div class="box-body">
								<div class="row">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="box">
											<div class="box-header">
												<h3 class="box-title">{{Course.CourseShortName}} Medias</h3>
                                               
                                                
											</div><!-- /.box-header -->
											<div class="box-body table-responsive">
                                                <section class="content">
                                                    <!-- Info boxes -->
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="alert alert-rolpo alert-dismissable" style='display:none;' id="CourseMedia_alert"></div>
                                                        </div><!-- /.col -->
                                                    </div><!-- /.row -->
                                                    <!-- Main row -->
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                       
                                                                    <div class="row">
                                                                        <div class="col-sm-12 table-responsive">
                                                                            <table class="table table-bordered table-striped">
                                                                                <thead>
                                                                                    <tr>
																						<th>Media Type</th>
																						<th>Summary</th>
                                                                                        <th>Module</th>
                                                                                        <th>Media URL</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody ng-show="coursemedias.length > 0">
                                                                                    <tr ng-repeat="coursemedia in coursemedias">
																						<td>{{coursemedia.MediaTypeName}}</td>
																						<td>{{coursemedia.Remarks}}</td>
                                                                                       <td>{{coursemedia.Module}}</td>
																						<td><a href="{{coursemedia.MediaURL}}" target="_blank"><i class="fa fa-link"></i> View</a> </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                                <tr data-ng-hide="coursemedias.length > 0">
                                                                                    <td colspan="4" class="text-center">
                                                                                        <p>No records found.</p>
                                                                                    </td>
                                                                                </tr>
                                                                               
                                                                            </table>
                                                                        </div>
                                                                    </div><!-- /.row -->
                                                            
                                                                <div class="overlay" ng-show="loading">
                                                                    <i class="fa fa-refresh fa-spin"></i>
                                                                </div>
                                                           
                                                        </div>
                                                    </div><!-- /.row  Main row ends here..-->
                                                </section><!-- /.content --> 

											</div><!-- /.box-body -->
										</div><!-- /.box -->
									</div>
								</div>
							</div>
						
                        
						</div>
						<div class="overlay" ng-show="loading_coursemedias">
							<i class="fa fa-refresh fa-spin"></i>
						</div>
					</div>
					
				</div>
			</div><!-- /.box-body -->

		</div><!-- /.box -->


	</section><!-- /.content -->

</div>



<script type="text/ng-template" id="customUpdateModule">
	<div class="modal-dialog1">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-ng-click="cancelEditing()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ moduleActionTitle }}</h4>
			</div>
			<form role="form" name="formmodule" class="form-horizontal" novalidate>
				<div class="modal-body">
					<div class="box-body">
						<label><i>Note:Fields with<span style="color:red;font-size:150%;">*</span>are compulsary.</i> </label><hr />

						<div class="alert alert-rolpo alert-dismissable" style='display:none;' id="Modules_AddEditAlert"></div>
						<div class="form-group" ng-class="{ 'has-error' : (formmodule.tmModuleTitle.$invalid && !formmodule.tmModuleTitle.$pristine) || invalid }">
							<label class="control-label col-sm-3">Title: <span style="color:red;font-size:150%;">*</span></label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="Title" data-ng-model="module.ModuleTitle" name="tmModuleTitle" required="" />
								<div ng-show="formmodule.$submitted || formmodule.tmModuleTitle.$touched">
									<p class="text-danger" ng-show="formmodule.tmModuleTitle.$error.required">Title is required.</p>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">Description:</label>
							<div class="col-sm-9">
								<textarea ng-model="module.ModuleDescription" class="form-control"></textarea>
  							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-sm-3">Duration:</label>
							<div class="col-sm-3">
								<input type="number" class="form-control" placeholder="Duration" data-ng-model="module.ModulePeriod" name="tmModulePeriod" />
							</div>
							<div class="col-sm-4">
								<ui-select ng-model="module.ModulePeriodTypeId" name="tmModulePeriodTypeId" title="Choose Duration Type">
									<ui-select-match placeholder="Select duration type">{{$select.selected.Name}}</ui-select-match>
									<ui-select-choices repeat="(item.Value*1) as item in  periodtypeddl| filter: $select.search">
										<span ng-bind-html="item.Name | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
					 
						<div class="form-group">
							<label class="control-label col-sm-3">Content:</label>
						</div>
						<div class="form-group">
							<textarea ng-model="module.ModuleContent" data-ck-editor name="tmModuleContent"></textarea>
						</div>
						<input type="hidden" data-ng-model="module.ModuleId" />
					</div><!-- End of box-body -->
				</div><!-- End of modal-body -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" ng-click="cancelEditing()">Cancel</button>
					<button type="submit" class="btn btn-primary" ng-disabled="formmodule.$invalid" ng-click="CreateUpdateModules(module.ModuleId);">Save</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</script> 
 



@section Scripts {  
    
<script src="~/lib/angController/Course/courseViewController.js"></script>
}
