﻿<!-- Auto Page By: Prashant -->
<!-- Created On: 02/07/2018 -->
<!-- HTML for Batch -->
@{
	ViewData["Title"] = "Batch List:: Rolpo";
	ViewBag.Current = "Admin_Reports_Batches";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" data-ng-controller='batchController'>
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			<i class="fa  fa-file-excel-o"></i> Report: Batches
			 
		</h1>
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
			<li><a href="@Url.Action("Index", "Home")"><i class="fa  fa-file-excel-o"></i> Reports</a></li>
			<li class="active">Batches</li>
		</ol>
	</section>
	<!-- Main content -->
	<section class="content">
		<!-- Info boxes -->
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="alert alert-rolpo alert-dismissable" style='display:none;' id="Batch_alert"></div>
			</div><!-- /.col -->
		</div><!-- /.row -->
		<!-- Main row -->
		<div class="row">
			<div class="col-md-12">
				<div class="box box-info">
					<div class="box-header with-border">
						<div class="box-success clearfix">
							<a class="btn btn-sm btn-success btn-flat pull-right" ng-click="ExportBatchToExcel()" ng-show="batchs.length > 0" title="Download to excel"><i class="fa fa-file-excel-o"></i></a>
							<a href="javascript:;" ng-click="PrintDiv()" target="_blank" class="btn btn-default" ng-show="batchs.length > 0"><i class="fa fa-print"></i></a>

 						</div><!-- /.box-success -->
					</div><!-- /.box-header -->
					<div class="box-body">
						<div class="box">
							<div class="box-header with-border">
								<h3 class="box-title">Filter</h3>
							</div><!-- /.box-header -->
							<!-- form start -->
							<div class="box-body">
								<table class="table table-responsive table-striped">
									<tr>
										<td>Search:</td>
										<td colspan="3"><input type="text" class="form-control" data-ng-model="tbfilter.SearchText" ng-enter="GetBatchByFilter()"
												   placeholder="Batch Code-Name/Course Code-Name-Level" /></td>
									</tr>
									<tr>
										<td>Trainee:</td>
										<td>
											<ui-select ng-model="tbfilter.TraineeId" name="tbTraineeId" title="Choose Trainee">
												<ui-select-match placeholder="Select or search trainee...">{{$select.selected.Name}}</ui-select-match>
												<ui-select-choices repeat="(item.Value*1) as item in  traineesddl| filter: $select.search">
													<span ng-bind-html="item.Name | highlight: $select.search"></span>
												</ui-select-choices>
											</ui-select>
										</td>
										<td>
											Coordinator:
										</td>
										<td>
											<ui-select ng-model="tbfilter.CoordinatorId" name="tbCoordinatorId" title="Choose Coordinator">
												<ui-select-match placeholder="Select or search Coordinator...">{{$select.selected.Name}}</ui-select-match>
												<ui-select-choices repeat="(item.Value*1) as item in  coordDDL| filter: $select.search">
													<span ng-bind-html="item.Name | highlight: $select.search"></span>
												</ui-select-choices>
											</ui-select>
										</td>
										
									</tr>
									<tr>
										<td>Batch Start</td>
										<td>
											<p class="input-group input-group">
												<input type="date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="tbfilter.BatchStartDate"
													   name="extranight_checkin" ng-required="true" is-open="tbfilter._openstartdate" datepicker-options="dateOptions" close-text="Close" />
												<span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="OpenDate(tbfilter,'_openstartdate')"><i class="glyphicon glyphicon-calendar"></i></button>
												</span>
											</p>
										</td>
										<td>End:</td>
										<td>
											<p class="input-group input-group">
												<input type="date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="tbfilter.BatchEndDate"
													   name="extranight_checkin" ng-required="true" is-open="tbfilter._openenddate" datepicker-options="dateOptions" close-text="Close" />
												<span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="OpenDate(tbfilter,'_openenddate')"><i class="glyphicon glyphicon-calendar"></i></button>
												</span>
											</p>
										</td>
										
									</tr>
									<tr>
										<td colspan="3">

										</td>
										<td>
											<button type="submit" class="btn btn-warning btn-flat pull-right" data-ng-click="ResetBatchFilter()">Clear</button>
											<button type="submit" class="btn btn-primary btn-flat pull-right" style="margin-right:10px;" data-ng-click="GetBatchByFilter()">Filter</button>
										 </td>
									</tr>
								
								</table>
							</div><!-- /.box-body -->
						</div><!-- /.box for filter-->
						<div class="row">
							<div class="col-sm-12 table-responsive" id="printdiv">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Batch Code</th>
											<th>Batch Name</th>
											<th>Course Code</th>
											<th>Course Name</th>
											<th>Course Level</th>
											<th>Batch Start/End</th>
											<th>Coordinator</th>
											<th>Course Duration</th> 
											<th>Address</th>
											<th>#Of Trainees</th>
										</tr>
									</thead>
									<tbody ng-show="batchs.length > 0">
										<tr ng-repeat="batch in batchs">
											<td>{{batch.BatchCode}}</td>
											<td>{{batch.BatchName}}</td>
											<td>{{batch.CourseCode}}</td>
											<td>{{batch.CourseFullName}}</td>
											<td>{{batch.LevelName}}</td>
 											<td>
												 <i>Start: </i>{{(batch.BatchStartDate  | utcToLocal:"dd-MMM-yyyy")|uppercase}}
												<br/><i>End: </i>{{(batch.BatchEndDate  | utcToLocal:"dd-MMM-yyyy")|uppercase}}</td>
											<td><b></b>{{batch.Coordinator}}<br /><b>Asst.:</b> {{batch.ASSCoordinator}}</td>
											<td><b>{{batch.CoursePeriod}} </b> {{batch.PeriodTypeName}}</td>
											<td>{{batch.TrainingAddress}}</td>
											<td>{{batch.TotalTrainees}}</td>
											 
										</tr>
									</tbody>
									<tr data-ng-hide="batchs.length > 0" class="no-print">
										<td colspan="9" class="text-center">
											<p>No records found.</p>
										</td>
									</tr>
									 
								</table>
							</div>
						</div><!-- /.row -->

						<div class="row">
							<div class="col-sm-2 hidden-xs" data-ng-show="BatchPageInfo.Has_record">
								<ul class="pagination no-margin pull-left">
									<li>
										<select data-ng-model="tbfilter.PageSize" data-ng-change="OnBatchPageSizeChanged()">
											<option value="10">10</option>
											<option value="20">20</option>
											<option value="30">30</option>
										</select>
									</li>
								</ul>
							</div>
							<div class="col-sm-4 hidden-xs" data-ng-show="BatchPageInfo.Has_record">
								<div>Showing <b>{{BatchPageInfo.PageStart}}</b> to <b>{{BatchPageInfo.PageEnd}}</b> of <b>{{BatchPageInfo.TotalItems}}</b> entries</div>
							</div>
							<div class="col-sm-6" data-ng-show="BatchPageInfo.Has_record">
								<uib-pagination total-items="BatchPageInfo.TotalItems" class="pagination  no-margin pull-right" ng-model="tbfilter.PageNumber" ng-change="OnBatchPageChanged()" items-per-page="tbfilter.PageSize"></uib-pagination>
							</div>
						</div><!-- /.row -->

					</div><!-- /.box-body -->
					<div class="overlay" ng-show="loading">
						<i class="fa fa-refresh fa-spin"></i>
					</div>
				</div><!-- /.box-info /.box -->
			</div>
		</div><!-- /.row  Main row ends here..-->
	</section><!-- /.content -->
</div><!-- /.content-wrapper -->


<script type="text/ng-template" id="customUpdateBatch">
	@*@{Html.RenderPartial("~/views/shared/_batch.cshtml");}*@
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-ng-click="cancelEditing()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ batchActionTitle }}</h4>
			</div>
			<form role="form" name="formbatch" novalidate>
				<div class="modal-body">
					<div class="box-body">
						<div class="alert alert-rolpo alert-dismissable" style='display:none;' id="Batch_AddEditAlert"></div>
						<div class="form-group" ng-class="{ 'has-error' : (formbatch.tbBatchCode.$invalid && !formbatch.tbBatchCode.$pristine) || invalid }">
							<label class="control-label col-sm-3">BatchCode:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="BatchCode" data-ng-model="batch.BatchCode" name="tbBatchCode" required="" />
								<div ng-show="formbatch.$submitted || formbatch.tbBatchCode.$touched">
									<p class="help-block" ng-show="formbatch.tbBatchCode.$error.required">BatchCode is required.</p>
								</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : (formbatch.tbBatchName.$invalid && !formbatch.tbBatchName.$pristine) || invalid }">
							<label class="control-label col-sm-3">BatchName:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="BatchName" data-ng-model="batch.BatchName" name="tbBatchName" required="" />
								<div ng-show="formbatch.$submitted || formbatch.tbBatchName.$touched">
									<p class="help-block" ng-show="formbatch.tbBatchName.$error.required">BatchName is required.</p>
								</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : (formbatch.tbBatchLevel.$invalid && !formbatch.tbBatchLevel.$pristine) || invalid }">
							<label class="control-label col-sm-3">BatchLevel:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="BatchLevel" data-ng-model="batch.BatchLevel" name="tbBatchLevel" required="" />
								<div ng-show="formbatch.$submitted || formbatch.tbBatchLevel.$touched">
									<p class="help-block" ng-show="formbatch.tbBatchLevel.$error.required">BatchLevel is required.</p>
								</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : (formbatch.tbBatchCategory.$invalid && !formbatch.tbBatchCategory.$pristine) || invalid }">
							<label class="control-label col-sm-3">BatchCategory:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="BatchCategory" data-ng-model="batch.BatchCategory" name="tbBatchCategory" required="" />
								<div ng-show="formbatch.$submitted || formbatch.tbBatchCategory.$touched">
									<p class="help-block" ng-show="formbatch.tbBatchCategory.$error.required">BatchCategory is required.</p>
								</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : (formbatch.tbCoordinator.$invalid && !formbatch.tbCoordinator.$pristine) || invalid }">
							<label class="control-label col-sm-3">Coordinator:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="Coordinator" data-ng-model="batch.Coordinator" name="tbCoordinator" required="" />
								<div ng-show="formbatch.$submitted || formbatch.tbCoordinator.$touched">
									<p class="help-block" ng-show="formbatch.tbCoordinator.$error.required">Coordinator is required.</p>
								</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : (formbatch.tbASSCoordinator.$invalid && !formbatch.tbASSCoordinator.$pristine) || invalid }">
							<label class="control-label col-sm-3">ASSCoordinator:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="ASSCoordinator" data-ng-model="batch.ASSCoordinator" name="tbASSCoordinator" required="" />
								<div ng-show="formbatch.$submitted || formbatch.tbASSCoordinator.$touched">
									<p class="help-block" ng-show="formbatch.tbASSCoordinator.$error.required">ASSCoordinator is required.</p>
								</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : (formbatch.tbBatchStartDate.$invalid && !formbatch.tbBatchStartDate.$pristine) || invalid }">
							<label class="control-label col-sm-3">BatchStartDate:</label>
							<div class="col-sm-9">
								<input type="date" ng-model="batch.BatchStartDate" />
								<div ng-show="formbatch.$submitted || formbatch.tbBatchStartDate.$touched">
									<p class="help-block" ng-show="formbatch.tbBatchStartDate.$error.required">BatchStartDate is required.</p>
								</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : (formbatch.tbBatchEndDate.$invalid && !formbatch.tbBatchEndDate.$pristine) || invalid }">
							<label class="control-label col-sm-3">BatchEndDate:</label>
							<div class="col-sm-9">
								<input type="date" ng-model="batch.BatchEndDate" />
								<div ng-show="formbatch.$submitted || formbatch.tbBatchEndDate.$touched">
									<p class="help-block" ng-show="formbatch.tbBatchEndDate.$error.required">BatchEndDate is required.</p>
								</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : (formbatch.tbBatchSummary.$invalid && !formbatch.tbBatchSummary.$pristine) || invalid }">
							<label class="control-label col-sm-3">BatchSummary:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="BatchSummary" data-ng-model="batch.BatchSummary" name="tbBatchSummary" required="" />
								<div ng-show="formbatch.$submitted || formbatch.tbBatchSummary.$touched">
									<p class="help-block" ng-show="formbatch.tbBatchSummary.$error.required">BatchSummary is required.</p>
								</div>
							</div>
						</div>
						<input type="hidden" data-ng-model="batch.BatchId" />
					</div><!-- End of box-body -->
				</div><!-- End of modal-body -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" ng-click="cancelEditing()">Cancel</button>
					<button type="submit" class="btn btn-primary" ng-disabled="formbatch.$invalid" ng-click="CreateUpdateBatch(batch.BatchId);">Save</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</script>


@section css{
	<link href="~/lib/angular-ui-select/dist/select.min.css" rel="stylesheet" />

}

@section Scripts {
		<!-- Select 2 -->
<script src="~/lib/angular-ui-select/dist/select.min.js"></script>

<script src="~/lib/angController/Report/batchReportController.js"></script>
}
