﻿<!-- Auto Page By: Prashant -->
<!-- Created On: 02/07/2018 -->
<!-- HTML for BatchTrainee -->
@{
	ViewData["Title"] = "Report: Trainee List :: Rolpo";
	ViewBag.Current = "Admin_Reports_TraineesList";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" data-ng-controller='batchtraineeController'>
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			<i class="fa  fa-file-excel-o"></i> Trainees Per Batch
			 
		</h1>
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
			<li><a href="@Url.Action("Index", "Home")"><i class="fa  fa-file-excel-o"></i> Reports</a></li>
			<li class="active">Trainees Per Batch</li>
		</ol>
	</section>
	<!-- Main content -->
	<section class="content">
		<!-- Info boxes -->
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="alert alert-rolpo alert-dismissable" style='display:none;' id="BatchTrainee_alert"></div>
			</div><!-- /.col -->
		</div><!-- /.row -->
		<!-- Main row -->
		<div class="row">
			<div class="col-md-12">
				<div class="box box-info">
					<div class="box-header with-border">
						<div class="box-success clearfix">
							<a class="btn btn-sm btn-success btn-flat pull-right" ng-click="ExportTraineeListToExcel();" ng-show="batchtrainees.length > 0" title="Download to excel" ><i class="fa fa-file-excel-o"></i></a>
							<a href="javascript:;" ng-click="PrintDiv()" target="_blank" class="btn btn-default" ng-show="batchtrainees.length > 0"><i class="fa fa-print"></i></a>

						</div><!-- /.box-success -->
					</div><!-- /.box-header -->
					<div class="box-body">
						<div class="box">
							<div class="box-header with-border">
								<h3 class="box-title">Filter</h3>
							</div><!-- /.box-header -->
							<!-- form start -->
							<div class="box-body">
								<table class="table table-responsive table-striped">
									<tr>
										<td style="min-width:200px;">
											<ui-select ng-model="tbfilter.BatchId" name="tbMemberId" ng-required="true" title="Choose Batch">
												<ui-select-match placeholder="Select or search batch...">{{$select.selected.Name}}</ui-select-match>
												<ui-select-choices repeat="(item.Value*1) as item in  batchesddl| filter: $select.search">
													<span ng-bind-html="item.Name | highlight: $select.search"></span>
												</ui-select-choices>
											</ui-select>
										</td>
										<th>
											<button type="submit" class="btn btn-primary btn-flat" data-ng-click="GetBatchTraineeByFilter()">Filter</button>
											<button type="submit" class="btn btn-warning btn-flat" data-ng-click="ResetBatchTraineeFilter()">Clear</button>
										</th>
									<tr>
								</table>
							</div><!-- /.box-body -->
						</div><!-- /.box for filter-->
						<div class="row">
							<div class="col-sm-12 table-responsive"  id="printdiv">
								<table class="table table-bordered table-striped">
									<thead>
										<tr> 
											<th>&nbsp;</th>
											<th>Trainee</th>
											<th>Batch Code</th>
											<th>Batch Name</th>
											@*<th>Course Code</th>
											<th>Course Name</th>*@
										 	<th>Trainee Level</th>
											<th>Position</th>
											<th>Company Name</th>
											<th>Department</th>
											<th>Batch Start/End</th>
											<th>Duration</th> 
										</tr>
									</thead>
									<tbody ng-show="batchtrainees.length > 0">
										<tr ng-repeat="batchtrainee in batchtrainees"> 
											<td>
												<img ng-src="{{batchtrainee.ProfileImageUrl}}" ng-show="batchtrainee.ProfileImageUrl.length>0" style="height:50px;" />
												<img src="~/images/user.png" ng-hide="batchtrainee.ProfileImageUrl.length>0" style="height:50px;" />

											</td>
											<td>{{batchtrainee.TraineeName}}</td>
											<td>{{batchtrainee.BatchCode}}</td>
											<td>{{batchtrainee.BatchName}}</td>
											@*<td>{{batchtrainee.CourseCode}}</td>
											<td>{{batchtrainee.CourseName}}</td>*@
											<td>{{batchtrainee.TraineeLevelName}}</td>	
											<td>{{batchtrainee.Position}}</td>
											<td>{{batchtrainee.CompanyName}}</td>
											<td>{{batchtrainee.Department}}</td>
											<td>
												<i>Start: </i>{{(batchtrainee.BatchStartDate  | utcToLocal:"dd-MMM-yyyy")|uppercase}}
												<br /><i>End: </i>{{(batchtrainee.BatchEndDate  | utcToLocal:"dd-MMM-yyyy")|uppercase}}
											</td>
											<td>{{batchtrainee.Duration}}</td>
											 
										</tr>
									</tbody>
									<tr data-ng-hide="batchtrainees.length > 0" class="no-print">
										<td colspan="9" class="text-center">
											<p>No records found.</p>
										</td>
									</tr>
									 
								</table>
							</div>
						</div><!-- /.row -->

						<div class="row">
							<div class="col-sm-2 hidden-xs" data-ng-show="BatchTraineePageInfo.Has_record">
								<ul class="pagination no-margin pull-left">
									<li>
										<select data-ng-model="tbfilter.PageSize" data-ng-change="OnBatchTraineePageSizeChanged()">
											<option value="10">10</option>
											<option value="20">20</option>
											<option value="30">30</option>
										</select>
									</li>
								</ul>
							</div>
							<div class="col-sm-4 hidden-xs" data-ng-show="BatchTraineePageInfo.Has_record">
								<div>Showing <b>{{BatchTraineePageInfo.PageStart}}</b> to <b>{{BatchTraineePageInfo.PageEnd}}</b> of <b>{{BatchTraineePageInfo.TotalItems}}</b> entries</div>
							</div>
							<div class="col-sm-6" data-ng-show="BatchTraineePageInfo.Has_record">
								<uib-pagination total-items="BatchTraineePageInfo.TotalItems" class="pagination  no-margin pull-right" ng-model="tbfilter.PageNumber" ng-change="OnBatchTraineePageChanged()" items-per-page="tbfilter.PageSize"></uib-pagination>
							</div>
						</div><!-- /.row -->

					</div><!-- /.box-body -->
					<div class="overlay" ng-show="loading">
						<i class="fa fa-refresh fa-spin"></i>
					</div>
				</div><!-- /.box-info /.box -->
			</div>
		</div><!-- /.row  Main row ends here..-->
	</section><!-- /.content -->
</div><!-- /.content-wrapper -->





@section css{
	<link href="~/lib/angular-ui-select/dist/select.min.css" rel="stylesheet" />

}


@section Scripts {
<script src="~/lib/angular-ui-select/dist/select.min.js"></script>
	<script src="~/lib/angController/Report/batchTraineeController.js"></script>
}
