﻿
@{
    ViewBag.Title = "Trainer";

    ViewBag.Current = "Admin_Members_Trainers";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" data-ng-controller='trainerController'>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            List of Trainers
             
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="@Url.Action("Trainer", "Members")"><i class="fa fa-bullhorn"></i> Trainer</a></li>
            <li class="active">List of Trainers</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-rolpo alert-dismissable" style='display:none;' id="Member_alert"></div>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <div class="box-success clearfix">
                            <a class="btn flat btn-sm btn-info btn-flat pull-left" href="javascript:; " data-ng-click="OpenMemberSaveDialog()">Add new Trainer</a>
                        </div><!-- /.box-success -->
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Filter</h3>
                            </div><!-- /.box-header -->
                            <!-- form start -->
                            <div class="box-body">
                                <table class="table table-responsive table-striped">
                                    <tr>
                                        <td>Keyword:</td>
                                        <td><input type="text" class="form-control" data-ng-model="tmfilter.Keyword" placeholder="Enter Phone,First Name, Last Name, Email, Mobile" ng-enter="GetMemberByFilter()" /></td>
                                        <td>
                                            <button type="submit" class="btn flat btn-primary" data-ng-click="GetMemberByFilter()">Filter</button>
                                            <button type="submit" class="btn flat  btn-warning" data-ng-click="ResetMemberFilter()">Clear</button>
                                        </td>
                                    <tr>
                                </table>
                                
                            </div><!-- /.box-body -->
                        </div><!-- /.box for filter-->
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table  table-striped">
                                    <thead>
                                     
                                    </thead>
                                    <tbody ng-show="members.length > 0">
                                        <tr ng-repeat="member in members" class="col-md-6" >
                                            <td style="width:210px;"><img ng-src="{{member.ProfileImageUrl}}" ng-show="member.ProfileImageUrl.length>0" style="height:100px;width:100px;cursor:pointer;" class="img img-rounded" data-ng-click="OpenMemberUpdateDialog(member.MemberId);"   />
                                              <img src="~/images/user.png" ng-hide="member.ProfileImageUrl.length>0" style="height:100px;width:100px;cursor:pointer;" class="img img-rounded" data-ng-click="OpenMemberUpdateDialog(member.MemberId);"  />
                                            <td>
												<table>
													<tr>
														<td colspan="2">
															<label> Full Name:  </label> {{member.FirstName}} {{member.LastName}}
														</td>
													</tr>

													<tr>
														<td colspan="2">
															<label> Position/Title: </label> {{member.Position}}
														</td>
														 
													</tr>
													<tr>
														<td>
															<label> Address: </label> {{member.Address}}
														</td>
														<td>
															<label> Phone: </label> {{member.Phone}}
														</td>
													</tr>
													<tr>
														<td>


															<a href="javascript:;" data-ng-click="event.preventDefault();DeleteMember(member.MemberId);" title="Delete"><i class="fa fa-trash"></i>Remove Trainer</a>
														</td>
													</tr>
												</table>

                                               
                                              
                                                
                                                
                                              
                                            
                                            </td>
                                                                                      
                                        </tr>
                                    </tbody>
                                    <tr data-ng-hide="members.length > 0">
                                        <td colspan="15" class="text-center">
                                            <p>No records found.</p>
                                        </td>
                                    </tr>
                                    <tfoot>
                                     
                                    </tfoot>
                                </table>
                            </div>
                        </div><!-- /.row -->

                        <div class="row">
                            <div class="col-sm-2 hidden-xs" data-ng-show="MemberPageInfo.Has_record">
                                <ul class="pagination no-margin pull-left">
                                    <li>
                                        <select data-ng-model="tmfilter.PageSize" data-ng-change="OnMemberPageSizeChanged()">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                        </select>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4 hidden-xs" data-ng-show="MemberPageInfo.Has_record">
                                <div>Showing <b>{{MemberPageInfo.PageStart}}</b> to <b>{{MemberPageInfo.PageEnd}}</b> of <b>{{MemberPageInfo.TotalItems}}</b> entries</div>
                            </div>
                            <div class="col-sm-6" data-ng-show="MemberPageInfo.Has_record">
                                <uib-pagination total-items="MemberPageInfo.TotalItems" class="pagination  no-margin pull-right" ng-model="tmfilter.PageNumber" ng-change="OnMemberPageChanged()" items-per-page="tmfilter.PageSize"></uib-pagination>
                            </div>
                        </div><!-- /.row -->

                    </div><!-- /.box-body -->
                    <div class="overlay" ng-show="loading">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div><!-- /.box-info /.box -->
            </div>
        </div><!-- /.row  Main row ends here..-->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->


<script type="text/ng-template" id="customUpdateMember">
   @{Html.RenderPartial("~/views/shared/_trainer.cshtml");}
    
</script>
@section css{
    
<link href="~/lib/ng-dropzone-2.0.2/dist/dropzone.min.css" rel="stylesheet" />
    }
@section Scripts {
    <script src="~/lib/angular-ui-select/dist/select.min.js"></script>
    <script src="~/lib/angController/member/trainerController.js"></script>
    <script src="~/lib/ng-dropzone-2.0.2/dist/dropzone.js"></script>
    <script src="~/lib/ng-dropzone-2.0.2/dist/ng-dropzone.js"></script>
}
